
<div class="outerdiv">

    <div class="card-header ripple ng-tns-c6-1 ng-star-inserted">
      <div class="row">
          <div class="col-md-11">
              <h5 class="ng-tns-c6-1">BankDetail Creation {{mode}}</h5>         
              <span class="ng-tns-c6-1 ng-star-inserted">Creating Hotel  BankDetail for Branch </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1"> 
                <button type="button" class="btn btn-sm btn-success text-white" (click)="Showhide()" > <i class="icofont icofont-plus m-r-5"></i> {{btitle}}
              </button>
            </div>
      </div>
    </div>



    <div class="formdesign aqua-gradient" *ngIf="isShown">
        <div class="formouter rotate" >
         <form name="form" (ngSubmit)="f.form.valid && onSubmit(f.form)" #f="ngForm">      
             <input type="hidden" name="Id" class="form-control" [(ngModel)]="model.Id" #Id="ngModel" value="{{Id}}"  >
             <input type="hidden" name="BranchCode" class="form-control" [(ngModel)]="model.BranchCode" #BranchCode="ngModel" value="{{BranchCode}}">
             <input type="hidden" name="IpAdd" class="form-control" [(ngModel)]="model.IpAdd" #IpAdd="ngModel" value="{{IpAdd}}">
             <input type="hidden" name="CreatedBy" class="form-control" [(ngModel)]="model.CreatedBy" #CreatedBy="ngModel" value="{{CreatedBy}}">
             
             <div class="auth-box card">
                   <div class="card-block">
                     <div class="frmdata" >              
                        <div class="containar">
                            <div class="row">
                                <div class="col-md-12">
                                         
                                  <div class="row">
                                        <div class="col-md-6">
    
                                            <label class="required">BankName*</label>
                                              <input type="text" name="Name"  class="form-control" [(ngModel)]="model.Name" #Name="ngModel" value="{{Name}}"  [ngClass]="{'is-invalid': Name.touched && Name.invalid}"  required autocomplete="off">
                                              <div *ngIf="Name.touched && Name.invalid" class="invalid-feedback">
                                                  <div *ngIf="Name.errors.required">Bankname is invalid</div>
                                              </div>
                                        </div>                            
                                        <div class="col-md-6">
                                            <label>Branch Name*</label>
                                            <input type="text" name="BankBranchName" class="form-control" [(ngModel)]="model.BankBranchName" #BankBranchName="ngModel" value="{{BankBranchName}}"  [ngClass]="{'is-invalid': BankBranchName.touched && BankBranchName.invalid}"  required autocomplete="off">
                                            <div *ngIf="BankBranchName.touched && BankBranchName.invalid" class="invalid-feedback">
                                              <div *ngIf="BankBranchName.errors.required">Bank BranchName is invalid</div>
                                            </div>
                                    </div>
  
                                  </div>
                                    <div class="row">
                                       
                                            <div class="col-md-6">
                                                <label>City*</label>
                                                <input type="text" name="City"  class="form-control" [(ngModel)]="model.City" #City="ngModel" value="{{City}}"  [ngClass]="{'is-invalid': City.touched && City.invalid}"  required   autocomplete="off">
                                                <div *ngIf="City.touched && City.invalid" class="invalid-feedback">
                                                  <div *ngIf="City.errors.required">City Cant'be Empty</div>
                                                </div>
                                            </div>
                                        

                                            <div class="col-md-6">
                                                <label>Bank BranchCode*</label>
                                                <input type="text" name="BankBranchCode" class="form-control" [(ngModel)]="model.BankBranchCode" #BankBranchCode="ngModel" value="{{BankBranchCode}}"  [ngClass]="{'is-invalid': BankBranchCode.touched && BankBranchCode.invalid}"  required autocomplete="off">
                                                <div *ngIf="BankBranchCode.touched && BankBranchCode.invalid" class="invalid-feedback">
                                                  <div *ngIf="BankBranchCode.errors.required">Bank BranchCode is invalid</div>
                                                </div>
                                            </div>
                                    </div>
  
  
                                    <div class="row">
                                       
                                        <div class="col-md-12">
                                            <label>Address*</label>
                                            <textarea type="text" name="Address" class="form-control" [(ngModel)]="model.Address" #Address="ngModel" value="{{Address}}"  [ngClass]="{'is-invalid': Address.touched && Address.invalid}"  required autocomplete="off"></textarea> 
                                            <div *ngIf="Address.touched && Address.invalid" class="invalid-feedback">
                                              <div *ngIf="Address.errors.required">Address is invalid</div>
                                            </div>
                                        </div>
                                    
                                    </div>
                                      <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                              <div class="col-md-6">
                                                <label>MICRCode*</label>
                                                <input type="text" name="MICRCode" class="form-control" [(ngModel)]="model.MICRCode" #MICRCode="ngModel" value="{{MICRCode}}"  [ngClass]="{'is-invalid': MICRCode.touched && MICRCode.invalid}"  required autocomplete="off">
                                                <div *ngIf="MICRCode.touched && MICRCode.invalid" class="invalid-feedback">
                                                  <div *ngIf="MICRCode.errors.required">MICRCode can't be Blank</div>
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <label> IFSCCode*</label>
                                                <input type="text" name="IFSCCode" class="form-control" [(ngModel)]="model.IFSCCode" #IFSCCode="ngModel" value="{{IFSCCode}}"  [ngClass]="{'is-invalid': IFSCCode.touched && IFSCCode.invalid}"  required autocomplete="off">
                                                <div *ngIf="IFSCCode.touched && IFSCCode.invalid" class="invalid-feedback">
                                                  <div *ngIf="IFSCCode.errors.required">Bank BranchCode is invalid</div>
                                                </div>
                                            </div>
                                          </div>
                                            </div>
                                            <div class="col-md-6">
                                              <label class="form-control-label" for="IsActive"   >IsActive*  </label>
                                              <input type="checkbox" name="IsActive" id="IsActive" class="form-control chkboxwidth20" [(ngModel)]="model.IsActive" #IsActive="ngModel" [ngClass]="{ 'is-invalid': IsActive.touched && IsActive.invalid }" >
                                              <div *ngIf="IsActive.touched && IsActive.invalid" class="invalid-feedback">Active is required</div>
                                            </div>
                                        </div>
                                        

                                
                                          
                                      
                                    
                              </div>
               
                          
                            </div>
                          </div>
                     </div>
                     <div class=" ">
                        <div class="col-md-12 text-center" >
                          <button type="submit" [disabled]="f.form.invalid" class="btn btn-primary btn-md btn-sml waves-light text-center   ripple m-r-10">Save</button>
                          <button type="button" (click)="Closeform()"  class="btn btn-primary btn-md btn-sml waves-light text-center    ripple">Reset</button>
                        </div>
                      </div>
                    </div>
              </div>       
          </form>
       </div> 
     </div>


<!-- -----------table start Here------------ -->



     <div class="productlist">
        <div class="shadow p-3 mb-5 bg-white rounded" >
      <div class="table-content crm-table">
        <div class="project-table">
          <div id="crm-contact" class="dt-responsive" *ngIf="data | async as data">
            <div class="row">
   
  
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="panel-heading"  ><i class="fa fa-list" aria-hidden="true"></i> Bank Data List</div>
                    </div>
                  <div class="col-xs-12 col-sm-12 col-md-6">
                    <div style="text-align: right;">
                      <label class="searchlbl"><img src="/assets/images/cogwaveimages/searchison.png" width="20px" height="20px">
                        <!-- <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name"> -->
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                      </label>
                    </div>
                  </div>  

            </div>
             
            <div class="table-responsive">
              <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"> 
                <thead>
                <tr class="blueorange-gradient">
                  <!-- <th>
                    <mfDefaultSorter  by="image">Profile</mfDefaultSorter>
                  </th> -->
                  <th>
                    <mfDefaultSorter  by="Id">Id</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter  by="Name">Name</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter  by="IFSCCode">IFSCCode</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="BankBranchName">BankBranchName</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter  by="MICRCode">MICRCode</mfDefaultSorter>
                  </th>

                    <th>
                        <mfDefaultSorter  by="IsActive">IsActive</mfDefaultSorter>
                    </th>
                  <th>
                    <mfDefaultSorter>Action</mfDefaultSorter>
                  </th>
                </tr>
                <tr>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of mf.data; let i = index;">
                  <!-- <td><img src="{{item.image}}" class="d-inline-block img-circle " alt="tbl"></td> -->
                  <td>{{item.Id}}</td>
                  <td>{{item.Name}}</td>
                  <td>{{item.IFSCCode}}</td>
                  <td>{{item.BankBranchName}}</td>
                  <td>{{item.MICRCode}}</td>
                  <td>{{item.IsActive}}</td>
                  <td class="action-icon">
                      <a href="javascript:;" class="m-r-15 crm-action-view text-info" (click)="openMyModal('effect-13',item)"><i class="fa fa-book"></i></a>
                      <a href="javascript:;" class="m-r-15 crm-action-edit text-primary" (click)="openMyModalData(i)"><i class="fa fa-edit"></i></a>
                      
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr class="blueorange-gradient">
                  <!-- <th>Profile</th> -->
                  <th>Id</th>
                  <th>Name</th>
                  <th>IFSCCode</th>
                  <th>BankBranchName</th>
                  <th>MICRCode</th>                
                  <th>IsActive</th>
                  <th>Action</th>
                </tr>
                <tr>
                  <td colspan="10">
                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                  </td>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
     
</div>
</div>
    <!-- -----------table End Here------------ -->




</div>



<app-modal-animation [modalID]="'effect-13'" [modalClass]="'md-effect-13'">
    <h3 class="f-15">View  Floor Details</h3>
    
      <div class="app-modal-body text-center"> 
          <table class="table table-striped text-left m-t-10">
              <tr>
                <td>Id :</td>
                <td>{{ model.Id }}</td>
              </tr>
              <tr>
                <td>Bank Name :</td>
                <td>{{ model.Name }}</td>
              </tr>
              <tr>
                <td>IFSCCode :</td>
                <td>{{ model.IFSCCode }}</td>
              </tr>
              <tr>
                <td>BankBranchName :</td>
                <td>{{ model.BankBranchName }}</td>
              </tr>
              <tr>
                <td>MICRCode :</td>
                <td>{{ model.MICRCode }}</td>
              </tr>
             
              
             </table>      
             <button (click)="closeMyModal($event)" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>    
        </div>
         
      </app-modal-animation>


      <ng2-toasty [position]="position"></ng2-toasty>