<app-card [title]="'Products Sales'">
    <div class="row  productsrow userlist"> 
       <div class="col-sm-1">
          <div class="card text-center bg-c-purple text-white">
            <div class="card-block">
              <a href="#"><img src="assets/images/widget/prod1.jpg" alt="prodimg" class="img-fluid img-50 img-radius"></a>
               <h6 class="m-b-0">on apple watch</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-1">
          <div class="card text-center bg-c-green text-white">
            <div class="card-block">
              <a href="#"><img src="assets/images/widget/prod3.jpg" alt="prodimg" class="img-fluid img-50 img-radius"></a>
               <h6 class="m-b-0">on canon printer</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-1">
          <div class="card text-center bg-c-blue text-white">
            <div class="card-block">
              <img src="assets/images/widget/prod3.jpg" alt="prodimg" class="img-fluid img-50 img-radius">
               <h6 class="m-b-0">apple macbook</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-1">
          <div class="card text-center bg-c-red text-white">
            <div class="card-block">
              <a href="#"><img src="assets/images/widget/prod4.jpg" alt="prodimg" class="img-fluid img-50 img-radius"></a>
               <h6 class="m-b-0">on any game</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-1">
          <div class="card text-center bg-c-green text-white">
            <div class="card-block">
              <a href="#"><img src="assets/images/widget/prod3.jpg" alt="prodimg" class="img-fluid img-50 img-radius"></a>
               <h6 class="m-b-0">on canon printer</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-1">
          <div class="card text-center bg-c-red text-white">
            <div class="card-block">
              <a href="#"><img src="assets/images/widget/prod4.jpg" alt="prodimg" class="img-fluid img-50 img-radius"></a>
               <h6 class="m-b-0">on any game</h6>
            </div>
          </div>
        </div>
        <!-- product end -->
      
      </div>
  </app-card>