<div class="col-md-12">
    <div class="row">
        <div class='col-12 col-lg-12  '>
            <label class="form-control-label" style="font-size: 100%;">  <i class="fa fa-calendar" ></i> Select date1</label>
            <div class="form-group">
              <div class="input-group" style="margin-bottom:0; ">
                <input id="frmdate" name="frmdate" class="form-control"  [(ngModel)]="model.frmdate" #frmdate="ngModel"   placement="center" type="text"   bsDaterangepicker   [minDate]="minDate"   [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',containerClass: 'theme-dark-blue', selectFromOtherMonth: true  }">                  
              </div>
            </div>
          </div>

<div class="col-12 col-lg-12 ">
    <div id="crm-contact" class="dt-responsive" *ngIf="data | async as data">
        <div class="row">
      
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div style="text-align: right;">
              <label>Search:
                <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
              </label>
            </div>
          </div>
        </div>
        <!-- <div class="panel-heading">User information</div>-->
        <div class="table-responsive">
          <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
                 [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
            <tr>
              <th>
                <mfDefaultSorter  by="date">Date</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter  by="receiptno">Receipt No</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter  by="guestname">Guest Name</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter  by="amount">Amount</mfDefaultSorter>
              </th>  
              <th>
                <mfDefaultSorter>Action</mfDefaultSorter>
              </th>
            </tr>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of mf.data; let i = index;"> 
              <td>{{item.date}}</td>
              <td>{{item.receiptno}}</td>
              <td>{{item.guestname}}</td>
              <td>{{item.amount}}</td>  
              <td class="action-icon">
                <input type="checkbox" [checked]="isSelected" (change)="openMyModal('effect-6',data)"/>
               </td>
            </tr>
            </tbody>
            <tfoot> 
            <tr>
              <td colspan="10">
                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
</div>


  
</div>
</div>



<app-modal-animation [modalID]="'effect-6'" style="position: absolute; z-index: 99999;" [modalClass]="'md-effect-4 addressmodeleffect'">
  
    <h3 class="f-15" style="position: relative;">Guest Details
      <button style="position: absolute; right: 0; top:0; color:red"  (click)="closeMyModalPin($event)">Close</button>             
   </h3>
    
      <div class="app-modal-body text-center" style="position: relative;"> 
        <div class="table-content crm-table">
          <div class="project-table addressproject-table">
            <div id="crm-contact" class="dt-responsive">           
              
  
               <div class="table-responsive">
                <table class="table table-striped table-bordered full-data-table"> 
                      <thead>
                      <tr class="blueorange-gradient">        
                      <th> Date</th>             
                      <th> Receiptno </th>
                      <th> Guestname </th>
                      <th> Amount </th>  
                  </tr>
                  <tr> </tr>               
                  </thead>
                  <tbody>                    
                   <tr  >                     
                     <td><input type="text" id="date" value="10/10/2020" /></td>   
                     <td><input type="text" id="receiptno" value="12020" /> </td>   
                     <td><input type="text" id="guestname" value="Chandi" /> </td>                   
                     <td><input type="text" id="amount" value="1000" /> </td>        
                   
                  </tr>  
                  </tbody>
                   
                </table>
                <button type="button" (click)="closeMyModalPin($event)"  class="btn btn-danger" > <i class="fa  fa-times-circle"></i> Close</button>                           
                
              </div> 
            </div>
          </div>
        </div>     
         </div>         
      </app-modal-animation>