.addressproject-table .table-responsive .table thead tr th{
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    color: #000;
    text-align: center;
    padding: 0px 0px 0px 0px;
    font-weight: normal;
    white-space:pre-wrap;
}

.addressproject-table .table-responsive .table tbody tr td{
    border:1px solid #ccc;
    padding:0px 0px 0px 0px;
}
.table th{
    white-space: normal;
}
.table td,
.table th{
    padding:0px 0px 0px 0px;
    font-size:81%;
    color:#525252;
}
.outerdiv{
    background: #ffffff;
}
 .outerdiv .formdesign.checkinforms{
    background: cornflowerblue;     
    padding: 10px;
} 
.taboutercreatebtn{
    margin: 0 auto;
}
.outerbx{
    border: 1px solid #000;
    display:  block;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    background: #fff;
}

.tdwidth button{
    font-size: 10px;
    padding: 0px 0px 0px 0px;
}
 .taboutercreatebtn .table tr td{
    width: 50%;
}
.taboutercreatebtn .table {
    margin-bottom: 0;
}
.taboutercreatebtn .table tr td button{
    padding: 3px;
}
.addressproject-table h2{
    padding: 3px;
    text-align: left;
    background: #000;
    color: #fff;
    font-size: 110%;
    margin-bottom: 0;
}
 
.addressproject-table .table-responsive .table tbody tr:nth-child(odd) {
    background:  #ffd6f9}
.addressproject-table .table-responsive .table tbody tr:nth-child(even) {background: #dbe5f9}
.addressproject-table .table-responsive .table thead tr th{
    border:1px solid #ccc;
    padding:0px 0px 0px 0px;
}

 .bluetext{
     background-color: blue;
     color: #fff!important; 
     display: block;
     font-weight: bold;
 }
 .blacktext{
    background-color: blue;
    color: #fff; 
    display: block;
}