

<app-loading></app-loading>



 <div class="outerdiv">
    <div class="formdesign checkinforms" style="padding: 0;">
  
 <form [formGroup]="form" (ngSubmit)="Submit()" class="  " autocomplete="off">
  
        <div class="container-fluid">
   
          <div class='row tabouter' style="margin-bottom: 0;">  
         
            <div class="col-md-12" style="padding-left: 0;">
              <div class="row" style="margin-bottom: 0;">
                <div class="col-md-12 taboutercreatebtn">
                  
                    <div class="rov">
                                                  
                         <div class="tdwidth">
                          <div class="tdwidthlbl"><i class="fa fa-calendar" aria-hidden="true"></i> Arival Date</div>
                          <input id="checkindate" name="checkindate"  formControlName="checkindate"  type="text" bsDatepicker   [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',containerClass: 'theme-dark-blue',isAnimated: true, adaptivePosition: true}" class="form-control">                                                
                        </div> 
                        
                        <div class="tdwidth">
                          <div class="tdwidthlbl"><i class="fa fa-calendar" aria-hidden="true"></i> Days</div>
                          <select class="custom-select" #Days name="nofdays" formControlName="nofdays" 
                          id="nofdays">
                          <option value="0">Select</option>
                          <option value="10">1O Days</option>
                          <option value="15">15 Days</option>
                          <option value="20">20 Days</option>
                          <option value="30">30 Days</option>
                        </select>
                        </div>
                        <button (click)="LoadChartData()" class="btn btn-primary waves-effect m-r-20 f-w-600 md-close d-inline-block">Check</button>           
                      </div>
                     
                </div>
               
              </div>
            </div>
  
  
  
          </div>
        </div>
       
      </form> 


    </div>
  
  </div>




   <h4> Room Availabilit</h4>

       
              <div class="app-modal-body text-center" style="position: relative;"> 
                <div class="table-content crm-table">
                  <div class="project-table addressproject-table">
                    <div id="crm-contact" class="dt-responsive">
                     
                      <div class="row">         
                        <div class="col-xs-12 col-sm-12 col-md-12">
                          <div class="input-group">
                            
                          
                          </div> 
                        </div>      
                      </div>      
                                   
  
                       <div class="table-responsive">
                        <table class="table table-striped table-bordered full-data-table"> 
                          <thead>
                            <tr> 
                              <th style="text-align:left;">Date</th>        
                              <th *ngFor="let list of  HeadeDate">
                                  {{ list |  date:'d MMM'}}
                              </th>       
                            </tr>
                                        
                          </thead>
                          <tbody>                    
                           <tr *ngFor="let item of Availabilitylist; let i = index;">  
                           
                            <td style="text-align:left;">{{item.RoomType}}</td>                   
                            
                            <td *ngFor="let subarray of  item.Rooms" >
                              {{ subarray.Rooms}}
                            </td>

                            
                            
                          </tr>  

 


                          </tbody> 
                         
                        </table>
                       
                      </div>  
                    </div>
                  </div>
                </div>     
                   
                </div>      
             