
<div *ngIf="reservloader" class="text-center loader-block" >
  <svg id="loader2" viewBox="0 0 100 100">
    <circle id="circle-loader2" cx="50" cy="50" r="45"></circle>
  </svg>
  </div> 

<app-loading></app-loading>



 <div class="outerdiv">
    <div class="formdesign checkinforms"  >
  
 <form [formGroup]="form" (ngSubmit)="Submit()" class="  " autocomplete="off">
  
        <div class="container-fluid">
   
          <div class='row tabouter' style="margin-bottom: 0;">  
         
            <div class="col-md-12" style="padding-left: 0;">
              <div class="row" style="margin-bottom: 0;">
                <div class="col-md-12 taboutercreatebtn">
                 
                    <div class="rov">
                          <div class="outerbx" >
                            <table class="table  table-responsive">
                              <tr>
                                <td>
                                  <div  ><i class="fa fa-calendar" aria-hidden="true"></i> Arival Date</div>
                                </td>
                                <td>
                                  <div  ><i class="fa fa-calendar" aria-hidden="true"></i> Days</div>
                                  </td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr>
                                <td>
                                 
                                 <input id="checkindate" name="checkindate"  formControlName="checkindate"  type="text" bsDatepicker   [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',containerClass: 'theme-dark-blue',isAnimated: true, adaptivePosition: true}" class="form-control"> 
                               </td>
                                <td> 
                                  <select class="custom-select" #Days name="nofdays" formControlName="nofdays" 
                                  id="nofdays">
                                  <option value="0">Select</option>
                                  <option value="10">1O Days</option>
                                  <option value="15">15 Days</option>
                                  <option value="20">20 Days</option>
                                  <option value="30">30 Days</option>
                                </select> </td>
                                <td> <button (click)="LoadChartData()" class="btn btn-primary btn-sm">Check</button> </td>
                              </tr>
                            </table>
 
                            
                             
                                 
                          </div>                   
                              
                      </div>
                     
                </div>
               
              </div>
            </div>
  
  
  
          </div>
        </div>
       
      </form> 


    </div>
  
  




  

       
              <div class="app-modal-body text-center"  > 
                <div class="table-content crm-table">
                  <div class="project-table addressproject-table">
                    <div id="crm-contact" class="dt-responsive">
                      <h2> <i _ngcontent-llw-c5="" aria-hidden="true" class="fa fa-calendar"></i> Room Availability</h2>
                       
                                   
  
                       <div class="table-responsive">
                        <table class="table table-striped table-bordered full-data-table"> 
                          <thead>
                            <tr> 
                              <th style="text-align:left;">Date</th>        
                              <th *ngFor="let list of  HeadeDate">
                                  {{ list |  date:'d MMM'}}
                              </th>       
                            </tr>
                                        
                          </thead>
                          <tbody>                    
                            <tr *ngFor="let item of Availabilitylist; let i = index;"> 

                              <div *ngIf = "item.RoomType == 'Total' || item.RoomType == 'Offline' || item.RoomType == 'Booked' || item.RoomType == 'Balance' || item.RoomType == 'Sale For Room'; else othethanblue" >   
                                     <td class="bluetext" style="text-align:left;">{{item.RoomType}}</td> 
                              </div> 
                              <ng-template #othethanblue>
                                <td  style="text-align:left;">{{item.RoomType}}</td> 
                              </ng-template>
      
                                  <td *ngFor="let subarray of  item.Rooms" >
                                    {{ subarray.Rooms}}
                                  </td> 
                                </tr>

 


                          </tbody> 
                         
                        </table>
                       
                      </div>  
                    </div>
                  </div>
                </div>     
                   
                </div>      
              </div>