<div class="outerdiv">
    <div class="table-responsive gstprint">
        <table class="table table-striped   full-data-table"> 
            <tr>
                <td>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td align="center"><img src="../../../assets/images/logo_2.png"></td>
                            <td class="headertext">ATHIDHEE RESIDENCY <br> <span>40-1-164/1, Mohideen Street,Deside PVR Mall,M.G.Road,Vijaywada- 520010.<br/>
                            Land line:0866-2481888 mob:7382481888 Email: athidheeresidency@gmail.com</span></td>
                        </tr>
                    </table>

                </td>
            </tr>
            <tr>
                <td class="secheader">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="70%">GUEST REGISTRATION CARD</td>
                            <td width="30%">BID : 1122</td>                           
                        </tr>
                    </table>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr style="border:2px solid #585858">
                            <td width="35%"><b>Sl No :</b> 2019GRC0000000038</td>
                            <td width="45%"><b>Reg No :</b> 99993939999333</td>
                            <td width="30%"><b>Room No :</b>101</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="70%"> 
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td><b>Name : </b>  </td>
                                        <td>Francis</td>
                                        <td><b>Company: </b></td>
                                        <td>ATHIDHEE RESIDENCY</td>
                                    </tr>
                                    <tr>
                                        <td><b>Addres : </b>  </td>
                                        <td> <span>40-1-164/1, Mohideen Street,Deside<br/> PVR Mall,M.G.Road,Vijaywada- 520010. 
                                             </span>    </td>
                                        <td colspan="2" style="padding:0">
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                <tr><td><b>GENDER : </b></td><td>MALE</td></tr>
                                                <tr><td><b>Date of Birth : </b></td><td> 10/10/10</td></tr>                                                 
                                                <tr><td><b>Mobile : </b></td><td> 99808 55555</td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Email : </b>  </td>
                                        <td>fra@gmail.com</td>
                                        <td><b>Pincode: </b></td>
                                        <td>120000</td>
                                    </tr>
                                    <tr>
                                        <td><b>City : </b>  </td>
                                        <td>Bangalore</td>
                                        <td><b>State: </b></td>
                                        <td>Karnataka</td>
                                    </tr>
                                    <tr>
                                        <td><b>Nation : </b>  </td>
                                        <td>India</td>
                                        <td><b>GSTNO: </b></td>
                                        <td>1452122</td>
                                    </tr>
                                    <tr>
                                        <td><b>Foreign Guest : </b>  </td>
                                        <td>DERSDD</td>
                                        <td>&nbsp; </td>
                                        <td>&nbsp; </td>
                                    </tr>
                                    <tr>
                                        <td><b>Checkin Date : </b>  </td>
                                        <td>03/02/2020</td>
                                        <td><b>Checkin Time: </b></td>
                                        <td>17:01</td>
                                    </tr>
                                    <tr>
                                        <td><b>No of Days : </b>  </td>
                                        <td>1</td>
                                        <td> </td>
                                        <td> </td>
                                    </tr>
                                    <tr>
                                        <td><b> Checkout Date : </b>  </td>
                                        <td>04/02/2020</td>
                                        <td><b>Checkout Time</b> </td>
                                        <td>17:10 </td>
                                    </tr>
                                    <tr>
                                        <td><b>Select mode : </b>  </td>
                                        <td>Cash</td>
                                        <td><b>Payment</b></td>
                                        <td>1200</td>
                                    </tr>
                                    <tr>
                                        <td><b>Discount Type : </b>  </td>
                                        <td>10%</td>
                                        <td> <b>Discount Value</b></td>
                                        <td>1200</td>
                                    </tr>
                                    <tr>
                                        <td><b>Grace Period : </b>  </td>
                                        <td>11</td>
                                        <td><b> Discount Type</b></td>
                                        <td>0</td>
                                    </tr>
                                    <tr>
                                        <td><b> Last Discount : </b>  </td>
                                        <td>1000</td>
                                        <td>  </td>
                                        <td> </td>
                                    </tr>
                                    <tr>
                                        <td><b> Other Details </b>  </td>                                         
                                    </tr>
                                    <tr>
                                        <td><b> Source : </b>  </td>
                                        <td>OTA</td>
                                        <td> <b>Arrivalfrom From</b>  </td>
                                        <td>Bangalore </td>
                                    </tr>
                                    <tr>
                                        <td><b>   Booking Id : </b>  </td>
                                        <td>1000</td>
                                        <td><b>Convenience fees :</b>  </td>
                                        <td>1000 </td>
                                    </tr>
                                    <tr>
                                        <td><b>   Arrival Mode : </b>  </td>
                                        <td>WALK IN</td>
                                        <td> <b>Proceeding From :</b>   </td>
                                        <td>Banngalore </td>
                                    </tr>
                                    <tr>
                                        <td><b> Purposse of Visit : </b>  </td>
                                        <td>Meeting</td>
                                        <td><b>Vehicle No :</b>    </td>
                                        <td>KA-02-HK- 8987 </td>
                                    </tr>
                                    <tr>
                                        <td><b> No Of Bags : </b>  </td>
                                        <td>2</td>
                                        <td><b>News Paper : </b>    </td>
                                        <td>TAMIL/ ENGLISH </td>
                                    </tr>
                                    <tr>
                                        <td><b> Billing Instruction : </b>  </td>
                                        <td>Cash</td>
                                        <td><b>How D U c to Know? :</b></td>
                                        <td>News Paper </td>
                                    </tr>
                                    <tr>
                                        <td><b>Date of Birth : </b>  </td>
                                        <td>10/40/10</td>
                                        <td><b>Date of Anniversary :</b></td>
                                        <td>12/10/10 </td>
                                    </tr>
                                    <tr>
                                        <td><b>ID Proof : </b>  </td>
                                        <td>License</td>
                                        <td><b>Id No :</b></td>
                                        <td>121010 </td>
                                    </tr>
                                    </table>
                            </td>  
                            
                            <td width="30%" align="center" style="text-align: center;">
                                <span class="img">
                                    GUEST IMGAGE
                                </span> <br>
                                <img src="../../../assets/images/avatar-7.jpg" /> <br/> <br/>
                                <img src="../../../assets/images/avatar-7.jpg" />
                            </td>                             
                        </tr>
                    </table>

                </td>
            </tr>
            <tr>
                <td style="text-transform: uppercase;">
                    <b>how dis you hear about us ?</b>
                </td>
            </tr>
            <tr>
                <td>
                ONLINE /AGENT / TRIP ADVISOR / HOTEL WEBSITE / FRIENDS / IF OTHER SPECIFY ___________________________
                </td>
            </tr>
            <tr style="border-top: 2px solid #000;">
                <td>
                
                </td>
            </tr>
            
        </table>
        <div class="para">
            <p>1.The GST (goods and services tax) rate on hotel rooms with tariffs of up to Rs 7,500 per night has been cut to 12 per cent from the existing 18 per cent. Similarly, the tax on room tariff of above Rs 7,500 has been slashed to 18 per cent from the existing 28 per cent.</p>
                <p>2.The GST (goods and services tax) rate on hotel rooms with tariffs of up to Rs 7,500 per night has been cut to 12 per cent from the existing 18 per cent. Similarly, the tax on room tariff of above Rs 7,500 has been slashed to 18 per cent from the existing 28 per cent.</p>
                <p>3.The GST (goods and services tax) rate on hotel rooms with tariffs of up to Rs 7,500 per night has been cut to 12 per cent from the existing 18 per cent. Similarly, the tax on room tariff of above Rs 7,500 has been slashed to 18 per cent from the existing 28 per cent.</p>
                <p>4.The GST (goods and services tax) rate on hotel rooms with tariffs of up to Rs 7,500 per night has been cut to 12 per cent from the existing 18 per cent. Similarly, the tax on room tariff of above Rs 7,500 has been slashed to 18 per cent from the existing 28 per cent.</p>
                <p>5.The GST (goods and services tax) rate on hotel rooms with tariffs of up to Rs 7,500 per night has been cut to 12 per cent from the existing 18 per cent. Similarly, the tax on room tariff of above Rs 7,500 has been slashed to 18 per cent from the existing 28 per cent.</p>
                <p>6.The GST (goods and services tax) rate on hotel rooms with tariffs of up to Rs 7,500 per night has been cut to 12 per cent from the existing 18 per cent. Similarly, the tax on room tariff of above Rs 7,500 has been slashed to 18 per cent from the existing 28 per cent.</p>
                <p>7.The GST (goods and services tax) rate on hotel rooms with tariffs of up to Rs 7,500 per night has been cut to 12 per cent from the existing 18 per cent. Similarly,  </p>
        </div>
        </div> <!--table-responsive -->
</div><!-- outer div -->
    

