.headertext{
    font-weight: bold;
    font-size: 140%;
    text-align: center;
}
.headertext span{
    font-weight: normal;
    font-size: 75%;
}
.secheader{
    font-weight: bold;
    font-size: 110%;
}
.table th, .table td{
    border:0 none;
}
.gstprint .table td{
    text-align:left;
    width:50%;    
}
.para p{
    font-size: 90%;
}