.outerdiv .gstprint .headertext{
    font-weight: bold;
    font-size: 140%;
    text-align: center;
}
.outerdiv .gstprint .headertext span{
    font-weight: normal;
    font-size: 75%;
}
.outerdiv .gstprint .secheader{
    font-weight: bold;
    font-size: 110%;
}
.outerdiv .gstprint .table th, .table td{
    border:0 none;
}
.outerdiv   .gstprint .table td{
    text-align:left;
    width:50%;    
}
.outerdiv .gstprint .para p{
    font-size: 90%;
    margin-left:20px;
}