<!-- 
 <input type="text" name="Name" class="form-control" [(ngModel)]="Name" #Name1="ngModel" value="{{Name}}"    required autocomplete="off"> 

 <h1>Hello {{Name}}</h1> -->
 
               <form [formGroup]="wakeupform" (ngSubmit)="Submit(wakeupform)"> 
                <div class="test123 guestinfofirstrow paymentarray" >
                  <div class="modelstyle">  
                              <div class="row"> 
                                <input type="hidden"  formControlName="CreatedBy" id="UserIds" value="{{ UserId }}"  readonly name="CreatedBy" autocomplete="off"/>
                                <input type="hidden"  formControlName="BranchCode"  readonly name="BranchCode" autocomplete="off"/>
                                  
                                                  
                                                    <div class='col-12 col-md-3'>
                                                      <div class="form-group">
                                                        <label class="form-control-label" for="rmno">Room No </label>
                                                        <input type="text" class="form-control tooltip-form" id="roomnod" formControlName="RoomNo" value=" {{RoomNo}}"   name="RoomNo" autocomplete="off"  required  />  
                       
                                                        </div>  
                                                    </div>
                                                    <div class='col-12 col-md-3'>
                                                      <div class="form-group">
                                                        <label class="form-control-label" for="rmcd">Room Code </label>
                                                        <input type="text" class="form-control tooltip-form" id="roomcoded" formControlName="RoomCode" value=" {{RoomCode}}"   name="RoomCode" autocomplete="off"  required  />  
                                                      
                                                        </div>  
                                                    </div> 
                
                                                    <div class='col-12 col-md-3'>
                                                      <div class="form-group">
                                                        <label class="form-control-label" for="date">Date</label>
                                                        <input  id="alarmdate" name="alarmdate"  formControlName="alarmdate"    type="text" bsDatepicker  [minDate]="minDate" placement="bottom"   [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',containerClass: 'theme-dark-blue'}" class="form-control"> 
                                                       </div>  
                                                    </div>
                                                    <div class='col-12 col-md-3'>
                                                      <div class="form-group">
                                                        <label class="form-control-label" for="date">Time</label>
                                                        <timepicker id="alarmtime" name="alarmtime"  (isValid)="isValid($event)"  [showSpinners]="false" formControlName="alarmtime" [showMeridian]="ismeridian"></timepicker>
                                                      
                                                       </div>  
                                                    </div>
                                                 
                                                  
                                                    <div class='col-12 col-lg-12'>
                                                      <div class="form-group">
                                                          <label class="form-control-label" for="reason">Reason For Blocking </label>
                                                           <textarea class="form-control" rows="2" id="Reason" formControlName="Reason" name="Reason" autocomplete="off"></textarea>  
                                                           </div>   
                                                    </div>
                                               
                                                                                     
                                                    
                                          </div>
                                      </div>


                                      <div class="col-md-12 row" style="padding-left: 0; padding-right: 0; margin:0;  " > 
                                        <div  style="width:100%" >
                                          <div class="form-group  " style="float: right;" >                                   
                                             <button  type="submit"  class="btn btn-primary"  style=" display:inline-block">Alarm On </button> 
                                            <button  type="button" (click)="offAlarm(wakeupform)"  class="btn btn-primary" style="margin-left: 10px; display:inline-block">Alarm Off </button> 
                                            <button type="button" (click)="closeMyModalPin($event)"  class="btn btn-danger" style="margin-left: 10px; display:inline-block"> <i class="fa  fa-times-circle"></i> Close</button>                           
                                         </div>
                                        </div> 
                                      </div> 

                                      <!-- <div class="row modelbtn">   
                                        <div class="col-md-12">
                                          <button  type="button"  (click)="closeMyModalPin($event)" class="btn btn-primary"><i class="fa  fa-close"></i> Close </button>
                                          <button  type="submit"  class="btn btn-primary">Alarm On </button> 
                                          <button  type="button" (click)="offAlarm(wakeupform)"  class="btn btn-primary">Alarm Off </button> 
                                        </div>  
                                       </div>   -->
                                  </div>
                                 
                
               </form>
      
<!-- 
<ng2-toasty [position]="position"></ng2-toasty> -->