<div id="pcoded" class="pcoded"
     [attr.nav-type]="navType"
     [attr.pcoded-device-type]="pcodedDeviceType"
     [attr.fream-type]="freamType"
     [attr.layout-type]="layoutType"
     (window:resize)="onResize($event)"
     
>
  <!-- <div class="pcoded-overlay-box"></div> -->
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar header-navbar pcoded-header" [attr.header-theme]="headerTheme">
      <div class="navbar-wrapper">
        <div class="navbar-logo">
          <a [routerLink]="['/dashboard/default/']" class="ripple light">
            <img src="assets/images/logo.png" alt="Cogwave Software">
          </a>
          <a href="javascript:" class="mobile-options ripple light" (click)="toggleHeaderNavRight()">
            <i class="icon-more"></i>
          </a>
        </div>
        <div class="navbar-container container-fluid">
          <ul class="nav-left">
            <li class="ripple light">
              <div class="sidebar_toggle"><a href="javascript:"><i class="icon-menu"></i></a></div>
            </li>
          
          </ul>
          <ul [@mobileHeaderNavRight]="navRight" [ngClass]="navRight" class="nav-right">
            <li (clickOutside)="notificationOutsideClick('live')" class="header-notification ripple light" [ngClass]="liveNotificationClass" (click)="toggleLiveNotification()">
              <a href="javascript:">
                <i class="icon-bell"></i>
                <span class="badge bg-c-red"></span>
              </a>
              <ul [@notificationBottom]="liveNotification" class="show-notification">
                <li>
                  <h6>Notifications</h6>
                  <label class="label label-danger">New</label>
                </li>
                <li class="ripple">
                  <div class="media">
                    <img class="d-flex align-self-center img-radius" src="assets/images/avatar-2.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                      <h5 class="notification-user">John Doe</h5>
                      <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                      <span class="notification-time">30 minutes ago</span>
                    </div>
                  </div>
                </li>
               
              </ul>
            </li>          
            <li class="ripple">
              <a  style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif " routerLink="/logins">User login</a>
          </li>
          <li class="ripple">

            <a  style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif " routerLink="/signups">Cogwave login</a>

           

        </li>
        
      <li class="ripple">
        <a  style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif " routerLink="/logins">Announcement </a>
    </li>
    <li class="ripple">
      <a  style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif " routerLink="/logins"> Successful Clients</a>
  </li>
 
                    <li class="ripple">

                        <a  style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif "  routerLink="/productlist">ProductPrice List</a>

              
                    </li>
                    <li class="ripple">
                      <a   style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif " routerLink="/productlist">Service & Help</a>
                  </li>
                  <li class="ripple">
                    <a   style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif " href="www.cogwave.in" target="_blank">About Cogwave</a>
                
                </li>
    
            
          </ul>
        </div>
      </div>
    </nav>
  </div>

 
 
<div class="container-fluid commonstyles">
    <div class="card-block " style="padding-top: 10px">
        <ngb-carousel>
          <ng-template ngbSlide>
            <img src="assets/images/slider/b2.jpg" alt="Random first slide">
            <div class="carousel-caption">
              <h3>First slide label</h3>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/slider/b1.jpg" alt="Random second slide">
            <div class="carousel-caption">
              <h3>Second slide label</h3>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/slider/b3.jpg" alt="Random third slide">
            <div class="carousel-caption">
              <h3>Third slide label</h3>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <img src="assets/images/slider/b4.png" alt="Random third slide">
            <div class="carousel-caption">
              <h3>Fourth slide label</h3>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="row users-card users-card-style" style="padding-top: 10px; margin-bottom: 0px">
        <div class="col-lg-12">
          <div class="card user-card" style="margin-bottom: 10px">
            <div class="card-header blackred-gradiant">
              <h5 class="">Announcements </h5>
            </div>
            <div class="card-block">          
              <div class="top-cap-text">
                <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp.</p>
              </div>
            </div>
            
          </div>
        </div>
      </div> 
  <div class="row users-card homethreebox" style="padding-top: 5px; margin-bottom: 0px">
    <div class="col-lg-4">
      <div class="card user-card" >
        <div class="card-header aqua-gradient">
          <h5 class="">About us</h5>
        </div>
        <div class="card-block">
          <img class="img-fluid img-radius mx-auto d-block" src="assets/images/slider/boximg1.jpg" alt="img-inverse">
          <div class="top-cap-text">
            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp.</p>
          </div>
        </div>
        <button class="btn btn-out-dashed btn-primary btn-square ripple light btn-sm">Read More...</button>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card user-card">
        <div class="card-header peach-gradient">
          <h5>Relative Links</h5>
        </div>
        <div class="card-block">
          <img class="img-fluid img-radius mx-auto d-block" src="assets/images/slider/boximg2.jpg" alt="img-inverse">
          <div class="top-cap-text">
            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp.</p>
          </div>
        </div>
        <button class="btn btn-out-dashed btn-primary btn-square ripple light btn-sm">Read More...</button>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card user-card">
        <div class="card-header purple-gradient">
          <h5>Latest News</h5>
        </div>
        <div class="card-block">
          <img class="img-fluid img-radius mx-auto d-block" src="assets/images/slider/boximg3.jpg" alt="img-inverse">
          <div class="top-cap-text">
            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
            <p>Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp.</p>
          </div>
        </div>
        <button class="btn btn-out-dashed btn-primary btn-square ripple light btn-sm">Read More...</button>
      </div>
    </div>
  </div> 
 
 </div>
</div>
<div class="footer">
  <p class="text-center m-b-0">Copyright &copy; 2019 Cogwave software , All rights reserved.</p>
</div>


<!-- <app-card [title]="'Bootstrap tab'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">

  </app-card> -->

