 
 

 <div class="outerdiv">

    <div class="card-header ripple ng-tns-c6-1 ng-star-inserted">
      <div class="row">
          <div class="col-md-11">
              <h5 class="ng-tns-c6-1">Company Creation</h5>         
              <span class="ng-tns-c6-1 ng-star-inserted">Creating Company details  </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1"> 
                <button type="button" class="btn btn-sm btn-success text-white" (click)="Showhide()" > <i class="icofont icofont-plus m-r-5"></i> {{btitle}}
              </button>
            </div>
      </div>
    </div>



    <div class="formdesign aqua-gradient" *ngIf="isShown">
        <div class="formouter rotate" >
         <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm"> 
            <input type="hidden" name="Id" class="form-control" [(ngModel)]="model.Id" #Id="ngModel" value="{{Id}}"  >
            <input type="hidden" name="TaxCode" class="form-control" [(ngModel)]="model.TaxCode" #TaxCode="ngModel" value="{{TaxCode}}"  >
            <input type="hidden" name="BranchCode" class="form-control" [(ngModel)]="model.BranchCode" #BranchCode="ngModel" value="{{BranchCode}}">
            <input type="hidden" name="IpAdd" class="form-control" [(ngModel)]="model.IpAdd" #IpAdd="ngModel" value="{{IpAdd}}">
            <input type="hidden" name="CreatedBy" class="form-control" [(ngModel)]="model.CreatedBy" #CreatedBy="ngModel" value="{{CreatedBy}}">              
            
             <div class="auth-box card">
                   <div class="card-block">
                     <div class="frmdata" >              
                        <div class="containar">
                            <div class="row">
                                <div class="col-md-12">
                                         
                                  <div class="row">                                    

                                    <div class="col-md-4">
                                        <label>CompanyName*</label>
                                        <input type="text" name="CompanyName" class="form-control" [(ngModel)]="model.CompanyName" #CompanyName="ngModel" value="{{CompanyName}}"  [ngClass]="{'is-invalid': CompanyName.touched && CompanyName.invalid}"  required autocomplete="off">
                                        <div *ngIf="CompanyName.touched && CompanyName.invalid" class="invalid-feedback">
                                            <div *ngIf="CompanyName.errors.required">CompanyName is invalid</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>GSTNO*</label>
                                        <input type="number" name="GSTNO" class="form-control" [(ngModel)]="model.GSTNO" #GSTNO="ngModel" value="{{GSTNO}}"  [ngClass]="{'is-invalid': GSTNO.touched && GSTNO.invalid}"  required autocomplete="off">
                                        <div *ngIf="GSTNO.touched && GSTNO.invalid" class="invalid-feedback">
                                          <div *ngIf="GSTNO.errors.required">GSTNO is invalid</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                            <label>CompanyType*</label>
                                            <select class="custom-select" (blur)="validateplan(catagery.value)" (change)="validateplan(catagery.value)" #catagery="ngModel" [class.is-invalid]="catageryhasError && catagery.touched" name="catagery" [(ngModel)]="model.catagery">
                                                    <option value="default">Please Select</option>
                                                    <option *ngFor="let catagery of catagerys">{{ catagery.PlanName }}</option>
                                                  </select>
                                                  <small class="text-danger" [class.d-none]="!catageryhasError || catagery.untouched">Please choose a catagery</small>
                                        </div>
                                  </div>

                                  <div class="row">
                                       <div class="col-md-4">
                                            <label>ContactName*</label>
                                            <input type="text" name="ContactName" class="form-control" [(ngModel)]="model.ContactName" #ContactName="ngModel" value="{{ContactName}}"  [ngClass]="{'is-invalid': ContactName.touched && ContactName.invalid}"  required autocomplete="off">
                                            <div *ngIf="ContactName.touched && ContactName.invalid" class="invalid-feedback">
                                                <div *ngIf="ContactName.errors.required">ContactName is invalid</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label>MobileNo*</label>
                                            <input type="text" name="MobileNo" class="form-control" [(ngModel)]="model.MobileNo" #MobileNo="ngModel" value="{{MobileNo}}"  [ngClass]="{'is-invalid': MobileNo.touched && MobileNo.invalid}"  required autocomplete="off">
                                            <div *ngIf="MobileNo.touched && MobileNo.invalid" class="invalid-feedback">
                                              <div *ngIf="MobileNo.errors.required">MobileNo is invalid</div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                                <label>Email*</label>
                                                <input type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,6})+$" name="Email" class="form-control" [(ngModel)]="model.Email" #Email="ngModel" value="{{Email}}"  [ngClass]="{'is-invalid': Email.touched && Email.invalid}"  required autocomplete="off">
                                                <div *ngIf="Email.touched && MobileNo.invalid" class="invalid-feedback">
                                                  <div *ngIf="Email.errors.required">Email is invalid</div>
                                                </div>
                                            </div>
                                      </div>
                                      <div class="row">
                                            <div class="col-md-4">
                                                 <label>City*</label>
                                                 <input type="text" name="City" class="form-control" [(ngModel)]="model.City" #City="ngModel" value="{{City}}"  [ngClass]="{'is-invalid': City.touched && City.invalid}"  required autocomplete="off">
                                                 <div *ngIf="City.touched && City.invalid" class="invalid-feedback">
                                                     <div *ngIf="City.errors.required">City is invalid</div>
                                                 </div>
                                             </div>
                                             <div class="col-md-4">
                                                 <label>State*</label>
                                                 <input type="text" name="State" class="form-control" [(ngModel)]="model.State" #State="ngModel" value="{{State}}"  [ngClass]="{'is-invalid': State.touched && State.invalid}"  required autocomplete="off">
                                                 <div *ngIf="State.touched && State.invalid" class="invalid-feedback">
                                                   <div *ngIf="State.errors.required">State is invalid</div>
                                                 </div>
                                             </div>
                                             <div class="col-md-4">
                                                     <label>Country*</label>
                                                     <input type="text" name="Country" class="form-control" [(ngModel)]="model.Country" #Country="ngModel" value="{{Country}}"  [ngClass]="{'is-invalid': Country.touched && Country.invalid}"  required autocomplete="off">
                                                     <div *ngIf="Country.touched && Country.invalid" class="invalid-feedback">
                                                       <div *ngIf="Country.errors.required">Country is invalid</div>
                                                     </div>
                                                 </div>
                                           </div>
                                           <div class="row">
                                                <div class="col-md-12">
                                                     <label>Address*</label>
                                                     <textarea class="form-control" name="Address" [(ngModel)]="model.Address" #Address="ngModel" value="{{Address}}"  [ngClass]="{'is-invalid': Address.touched && Address.invalid}"  required autocomplete="off" rows="3"></textarea>
                                                     <div *ngIf="Address.touched && Address.invalid" class="invalid-feedback">
                                                         <div *ngIf="Address.errors.required">Address is invalid</div>
                                                     </div>
                                                 </div> 
                                                 </div>

                                                 <div class="row">
                                                        <div class="col-md-4">
                                                             <label>Discount*</label>
                                                             <input type="number" name="Discount" class="form-control" [(ngModel)]="model.Discount" #Discount="ngModel" value="{{Discount}}"  [ngClass]="{'is-invalid': Discount.touched && Discount.invalid}"  required autocomplete="off">
                                                             <div *ngIf="Discount.touched && Discount.invalid" class="invalid-feedback">
                                                                 <div *ngIf="Discount.errors.required">Discount is invalid</div>
                                                             </div>
                                                         </div>
                                                         <div class="col-md-4">
                                                             <label>Status*</label>
                                                             <input type="checkbox" name="Status" class="form-control" [(ngModel)]="model.Status" #Status="ngModel" value="{{Status}}"  [ngClass]="{'is-invalid': Status.touched && Status.invalid}"  required autocomplete="off" style="width: 20px;">
                                                             <div *ngIf="Status.touched && Status.invalid" class="invalid-feedback">
                                                               <div *ngIf="Status.errors.required">Status is invalid</div>
                                                             </div>
                                                         </div>
                                                         
                                                       </div>
                              </div>
               
                          
                            </div>
                          </div>
                     </div>
                     <div class="row m-t-30">
                        <div class="col-md-12 text-center" >
                          <button type="submit" [class.green]="f.form.valid" [disabled]="f.form.invalid" class="btn btn-secondary  btn-md btn-sml waves-light text-center m-b-20 ripple m-r-10">Save</button>
                          <button type="button" (click)="Closeform()" class="btn btn-primary btn-md btn-sml waves-light text-center m-b-20  ripple">Reset</button>
                        </div>
                      </div>
                    </div>
              </div>       
          </form>
          <div class="productlist agGridList" *ngIf="isAgGridshow">
            <div class="shadow p-3 mb-5 bg-white rounded" >
          <div class="table-content crm-table">
            <div class="project-table">
              <div id="crm-contact" class="dt-responsive"  >
                <div class="row">  
                    
                    <div class="col-xs-12 col-sm-12 col-md-6" style="padding-left: 0px;">
                        <div class="levelselection">
                          <p>Please add fields here....(level,)</p>
                         </div>
                        </div>
                      
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered full-data-table">                           
                              <tbody>                              
                               <tr>
                                  <td>
                                     <ag-grid-angular  
                                      #agGrid
                                      id="agGrid"     
                                      style="width: 100%; height: 800px" 
                                      class="ag-theme-balham"
                                      [rowData]="rowData  | async" 
                                      [columnDefs]="columnDefs"
                                      (gridReady)="onGridReady($event)"
                                      (selectionChanged)="onSelectionChanged($event)"
                                      [groupDefaultExpanded]="groupDefaultExpanded"
                                        [suppressAggFuncInHeader]="true"
                                        [enableCellChangeFlash]="true"
                                        [animateRows]="true"
                                      rowSelection = "multiple"                               
                                       >
                                  </ag-grid-angular></td>
                                 
                              </tr>  
                              </tbody>
                            
                            </table>
                          </div>
                </div>
                 
                 
              </div>
            </div>
          </div>
         
    </div>
    </div>
       </div> 
     </div>


<!-- -----------table start Here------------ -->

<!-- -----------table End Here------------ -->
 <!-- -----------table start Here------------ -->
 <div class="productlist">
  <div class="shadow p-3 mb-5 bg-white rounded" >
<div class="table-content crm-table">
  <div class="project-table">
    <div id="crm-contact" class="dt-responsive"  *ngIf="data | async as data">
      <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="panel-heading"  ><i class="fa fa-list" aria-hidden="true"></i> Company Creation Data List</div>
              </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div style="text-align: right;">
                <label class="searchlbl"><img src="/assets/images/cogwaveimages/searchison.png" width="20px" height="20px">
                  <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                </label>
              </div>
            </div>

      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>
          <tr class="blueorange-gradient">
            <th>
              <mfDefaultSorter  by="CompanyCode">CompanyCode</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter  by="CompanyName">CompanyName</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter  by="GSTNO">GSTNO</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter  by="CompanyType">CompanyType</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter  by="ContactName">ContactName</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter  by="MobileNo">MobileNo</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter  by="Address">Address</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter  by="City">City</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter  by="State">State</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter  by="Country">Country</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter  by="Email">Email</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter  by="Status">Status</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter  by="Discount">Discount</mfDefaultSorter>
            </th>

            <th>
              <mfDefaultSorter>Action</mfDefaultSorter>
            </th>
          </tr>
          <tr>
          </tr>
          </thead>
          <tbody>

           <tr *ngFor="let item of mf.data; let i = index;">
          <td>{{item.CompanyCode}}</td>
          <td>{{item.CompanyName}}</td>
          <td>{{item.GSTNO}}</td>
          <td>{{item.CompanyType}}</td>
          <td>{{item.ContactName}}</td>
          <td>{{item.MobileNo}}</td>
          <td>{{item.Address}}</td>
          <td>{{item.City}}</td>
          <td>{{item.State}}</td>
          <td>{{item.Country}}</td>
          <td>{{item.Email}}</td>
          <td>{{item.Status}}</td>
          <td>{{item.Discount}}</td>
          <td class="action-icon">
          <a href="javascript:;" class="m-r-15 crm-action-view text-info" (click)="openMyModal('effect-4',item)"><i class="fa fa-book"></i></a>
          <a href="javascript:;" class="m-r-15 crm-action-edit text-primary" (click)="openMyModalData(i)"><i class="fa fa-edit"></i></a>

          </td>
          </tr>
          </tbody>
          <tfoot>
          <tr class="blueorange-gradient">
          <th>CompanyCode</th>
          <th>CompanyName</th>
          <th>GSTNO</th>
          <th>CompanyType</th>
          <th>ContactName</th>
          <th>MobileNo</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Country</th>
          <th>Email</th>
          <th>Status</th>
          <th>Discount</th>
          <th>Action</th>
          </tr>
          <tr>
            <td colspan="10">
              <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

</div>
</div>
<!-- -----------table End Here------------ -->
</div> <!-- outer div end here -->



 <!-- lightbox-->
<app-modal-animation [modalID]="'effect-13'" [modalClass]="'md-effect-13'">
    <h3 class="f-15">View Company creation details</h3>
    
      <div class="app-modal-body text-center"> 
          <table class="table table-striped text-left m-t-10">
              <tr>
              <td>CompanyName :</td>
              <td>{{ model.CompanyName }}</td>
              </tr>
              <tr>
              <td>GSTNO :</td>
              <td>{{ model.GSTNO }}</td>
              </tr>
              <tr>
              <td>CompanyType :</td>
              <td>{{ model.CompanyType }}</td>
              </tr>
              <tr>
              <td>ContactName :</td>
              <td>{{ model.ContactName }}</td>
              </tr>
              <tr>
              <td>MobileNo :</td>
              <td>{{ model.MobileNo }}</td>
              </tr>
              <tr>
              <td>Address :</td>
              <td>{{ model.Address }}</td>
              </tr>
              <tr>
              <td>City :</td>
              <td>{{ model.City }}</td>
              </tr>
              <tr>
              <td>State :</td>
              <td>{{ model.State }}</td>
              </tr>
              <tr>
              <td>Country :</td>
              <td>{{ model.Country }}</td>
              </tr>
              <tr>
              <td>Email :</td>
              <td>{{ model.Email }}</td>
              </tr>
              <tr>
              <td>Status :</td>
              <td>{{ model.Status }}</td>
              </tr>
              <tr>
              <td>Discount :</td>
              <td>{{ model.Discount }}</td>
              </tr>
             </table>      
             <button (click)="closeMyModal($event)" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>    
        </div>
         
      </app-modal-animation>