<div class="outerdiv">

        <div class="card-header ripple ng-tns-c6-1 ng-star-inserted">
          <div class="row">
              <div class="col-md-11">
                  <h5 class="ng-tns-c6-1">Tax Detail Description Creation{{mode}}</h5>         
                  <span class="ng-tns-c6-1 ng-star-inserted">Details about tax master description </span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-1"> 
                    <button type="button" class="btn btn-sm btn-success text-white" (click)="Showhide()" > <i class="icofont icofont-plus m-r-5"></i> {{btitle}}
                  </button>
                </div>
          </div>
        </div>
    
    
    
        <!-- <div class="formdesign aqua-gradient" *ngIf="isShown"> -->
            <div class="formdesign aqua-gradient" *ngIf="isShown" >
            <div class="formouter rotate" >
             <form name="form" (ngSubmit)="f.form.valid && onSubmit(F.form)" #f="ngForm"> 
                <input type="hidden" name="RNO" class="form-control" [(ngModel)]="model.RNO" #RNO="ngModel" value="{{RNO}}"  >
                <input type="hidden" name="BranchCode" class="form-control" [(ngModel)]="model.BranchCode" #BranchCode="ngModel" value="{{BranchCode}}">
                <input type="hidden" name="IpAdd" class="form-control" [(ngModel)]="model.IpAdd" #IpAdd="ngModel" value="{{IpAdd}}">
                <input type="hidden" name="CreatedBy" class="form-control" [(ngModel)]="model.CreatedBy" #CreatedBy="ngModel" value="{{CreatedBy}}">              
                
                 <div class="auth-box card">
                       <div class="card-block">
                         <div class="frmdata" >              
                            <div class="containar">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                          <div class="col-md-6 mx-auto userlist">
                                            <div class="row">
                                              <div class="col-md-6"  [class.has-error]="TaxCode.touched && TaxCode.errors?.defaultSelected" >
                                                <label>Select Tax*</label>
                                                    <select class="custom-select" id="TaxCode" appSelectValidator="-1"  #TaxCode="ngModel"  name="TaxCode" [(ngModel)]="model.TaxCode">
                                                      <option value="-1">All</option>
                                                      <option *ngFor="let revs of taxmaster"  [value]="revs.TaxCode">{{ revs.TaxName }}</option>
                                                    </select>
                                                    <span class="help-block" *ngIf="TaxCode.touched && TaxCode.errors?.defaultSelected">
                                                        Tax Name is required
                                                    </span>           
                                                               
                                            </div> 
        
  
                                          <div class="col-md-6">    
                                              <label class="required">TaxName*</label>
                                                  <input type="text" name="TaxName" readonly class="form-control" [(ngModel)]="model.TaxName" #TaxName="ngModel"  [ngClass]="{'is-invalid': TaxName.touched && TaxName.invalid}"  required autocomplete="off">
                                                  <div *ngIf="TaxName.touched && TaxName.invalid" class="invalid-feedback">
                                                      <div *ngIf="TaxName.errors.required">TaxName is invalid</div>
                                                  </div>
                                          </div> 
                                            </div>
                                            <div class="row">
                                              <div class="col-md-6">                                                   
                                                              <label>From Amount*</label>
                                                              <input type="number" name="FromAmount" class="form-control" [(ngModel)]="model.FromAmount" #FromAmount="ngModel" value="{{FromAmount}}"  [ngClass]="{'is-invalid': FromAmount.touched && FromAmount.invalid}"  required autocomplete="off">
                                                              <div *ngIf="FromAmount.touched && FromAmount.invalid" class="invalid-feedback">
                                                                  <div *ngIf="FromAmount.errors.required">FromAmount is invalid</div>
                                                              </div>   
                                                           </div>
                                              <div class="col-md-6">
                                                      <label>To Amount*</label>
                                                      <input type="number" name="ToAmount" class="form-control" [(ngModel)]="model.ToAmount" #ToAmount="ngModel" value="{{ToAmount}}"  [ngClass]="{'is-invalid': ToAmount.touched && ToAmount.invalid}"  required autocomplete="off">
                                                      <div *ngIf="ToAmount.touched && ToAmount.invalid" class="invalid-feedback">
                                                          <div *ngIf="ToAmount.errors.required">ToAmount is invalid</div>
                                                      </div> 
                                              </div>
                                          </div>
                                          <div class="row">
                                            <div class="col-md-6">                                                   
                                               <label>Tax Percenttage*</label>
                                               <input type="number" name="TaxPer" class="form-control" [(ngModel)]="model.TaxPer" #TaxPer="ngModel" value="{{TaxPer}}"  [ngClass]="{'is-invalid': TaxPer.touched && TaxPer.invalid}"  required autocomplete="off">
                                               <div *ngIf="TaxPer.touched && TaxPer.invalid" class="invalid-feedback">
                                                   <div *ngIf="TaxPer.errors.required">TaxPer is invalid</div>
                                               </div> 
                                             </div>
                                            <div class="col-md-6">
                                                    <div class="row" style="margin-bottom: 0px;">
                                                    <div class="col-md-6">                                                   
                                                            <div class="form-group">
                                                                    <label class="form-control-label" for="EffectiveDate">Effective  Date</label>
                                                                    <div class="form-group">
                                                                        <div class="input-group">
                                                                          <input class="form-control" placeholder="EffectiveDate" name="EffectiveDate" [(ngModel)]="model.EffectiveDate" value="{{model.EffectiveDate | date: 'dd-MM-yyyy'}}" ngbDatepicker #d="ngbDatepicker"   required autocomplete="off">
                                                                          <div class="input-group-append bg-default" (click)="d.toggle()" >
                                                                            <span class="icofont icofont-ui-calendar input-group-text"></span>
                                                                          </div>
                                                                        
                                                                        </div>
                                                                      
                                                                      </div>                                                         
                                                                </div>
                                                    </div>

                                                    <div class="col-md-6">                                                   
                                                            <div class="form-group">
                                                                    <label class="form-control-label" for="ToDate">To Date</label>
                                                                    <div class="form-group">
                                                                        <div class="input-group">
                                                                          <input class="form-control" placeholder="ToDate" name="ToDate" [(ngModel)]="model.ToDate" value="{{model.ToDate | date: 'dd-MM-yyyy'}}" ngbDatepicker #dd="ngbDatepicker">
                                                                          <div class="input-group-append bg-default" (click)="dd.toggle()" >
                                                                            <span class="icofont icofont-ui-calendar input-group-text"></span>
                                                                          </div>
                                                                        </div>
                                                                      </div>                                                         
                                                                </div> 
                                                    </div>
                                                    </div>
                                                    
                                            </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-6"> 
                                          <div class="form-group" [class.has-error]="TaxType.touched && TaxType.invalid">
                                            <label class="control-label">TaxType</label>
                                            <div >
                                              <label class="radio-inline">
                                                <input type="radio" required #TaxType="ngModel" value="ROOM" name="TaxType" [(ngModel)]="model.TaxType"> RoomTax
                                              </label>
                                              <label class="radio-inline">
                                                <input type="radio" required #TaxType="ngModel" value="HALL" name="TaxType" [(ngModel)]="model.TaxType"> HallTax
                                              </label>
                                            </div>
                                            <span class="help-block" *ngIf="TaxType.touched && TaxType.invalid">
                                              TaxType is required
                                            </span>
                                          </div>
                                          </div>
                                          <div class="col-md-6">                                                   
                                            <label>Active*</label>
                                            <input style="width: 20px;" type="checkbox" name="IsActive" class="form-control" [(ngModel)]="model.IsActive" #IsActive="ngModel" value="{{IsActive}}"  [ngClass]="{'is-invalid': IsActive.touched && IsActive.invalid}"  required autocomplete="off">
                                            <div *ngIf="IsActive.touched && IsActive.invalid" class="invalid-feedback">
                                                <div *ngIf="IsActive.errors.required">IsActive is invalid</div>
                                            </div> 
                                          </div>
                                        </div>
                                          </div>
                                        </div>

                                       
                                      
                                       
                                     
                                      

                                      
                                         
                                  </div>
                   
                              
                                </div>
                              </div>
                         </div>
                         <div class=" ">
                            <div class="col-md-12 text-center" >
                              <button type="submit" [class.green]="f.form.valid" [disabled]="f.form.invalid" class="btn btn-secondary  btn-md btn-sml waves-light text-center   ripple m-r-10">Save</button>
                              <button type="button" (click)="Closeform()" class="btn btn-primary btn-md btn-sml waves-light text-center    ripple">Reset</button>
                            </div>
                          </div>
                        </div>
                  </div>       
              </form>
           </div> 
         </div>
    
    
    <!-- -----------table start Here------------ -->
    <div class="productlist">
            <div class="shadow p-3 mb-5 bg-white rounded" >
          <div class="table-content crm-table">
            <div class="project-table">
             <div class="row">
                <div class="col-md-6">
                    <label>Filter Tax</label>
                        <select class="custom-select" (change)="LoadTaxData(TaxCode1.value)" id="TaxCode1" appSelectValidator="-1"  #TaxCode1="ngModel"  name="TaxCode1" [(ngModel)]="model.TaxCode1">
                          <option value="-1">All</option>
                          <option *ngFor="let revs of taxmaster"  [value]="revs.TaxCode">{{ revs.TaxName }}</option>
                        </select>                       
                </div> 

              </div>
              <br>

              <div id="crm-contact" class="dt-responsive"  *ngIf="data | async as data">
                <div class="row">  
      
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="panel-heading"  ><i class="fa fa-list" aria-hidden="true"></i> Tax Master Data List</div>
                        </div>
                      <div class="col-xs-12 col-sm-12 col-md-6">
                        <div style="text-align: right;">
                          <label class="searchlbl"><img src="/assets/images/cogwaveimages/searchison.png" width="20px" height="20px">
                            <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                          </label>
                        </div>
                      </div>  
    
                </div>
                 
                <div class="table-responsive">
                  <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"> 
                    <thead>
                    <tr class="blueorange-gradient">                
                      <th>
                      <mfDefaultSorter  by="TaxCode">TaxCode</mfDefaultSorter>
                      </th>
                      <th>
                          <mfDefaultSorter  by="TaxType">TaxType</mfDefaultSorter>
                          </th>
                          <th>
                              <mfDefaultSorter  by="FromAmount">FromAmount</mfDefaultSorter>
                              </th>               
                              <th>
                              <mfDefaultSorter  by="ToAmount">ToAmount</mfDefaultSorter>
                              </th>
                      <th>
                      <mfDefaultSorter  by="TaxName">TaxName</mfDefaultSorter>
                      </th>
                      
                      
                      <th>
                      <mfDefaultSorter  by="TaxPer">TaxPer</mfDefaultSorter>
                      </th>
                      <th>
                      <mfDefaultSorter  by="EffectiveDate">EffectiveDate</mfDefaultSorter>
                      </th>
                      <th>
                      <mfDefaultSorter  by="ToDate">ToDate</mfDefaultSorter>
                      </th>
                      
                      <th>
                        <mfDefaultSorter>Action</mfDefaultSorter>
                      </th>
                    </tr>
                    <tr>
                    </tr>
                    </thead>
                    <tbody>
                        
                     <tr *ngFor="let item of mf.data; let i = index;">
                      <td>{{item.TaxCode}}</td>
                      <td>{{item.TaxType}}</td>  
                     
                      <td>{{item.FromAmount}}</td>
                      <td>{{item.ToAmount}}</td>
                      <td>{{item.TaxName}}</td>
                     
                      <td>{{item.TaxPer}}</td>  
                      <td>{{item.EffectiveDate}}</td>
                      <td>{{item.ToDate}}</td>                        

                      <td class="action-icon">
                          <a href="javascript:;" class="m-r-15 crm-action-view text-info" (click)="openMyModal('effect-4',item)"><i class="fa fa-book"></i></a>
                          <a href="javascript:;" class="m-r-15 crm-action-edit text-primary" (click)="openMyModalData(i)"><i class="fa fa-edit"></i></a>
                          
                      </td>
                    </tr>  
                    </tbody>
                    <tfoot>
                    <tr class="blueorange-gradient">
                      <!-- <th>Profile</th> -->
                      <th>TaxCode</th>
                      <th>TaxType</th>  
                      <th>FromAmount</th>    
                      <th>ToAmount</th>
                      <th>TaxName</th>    
                     
                      <th>TaxPer</th>  
                      <th>EffectiveDate</th>    
                      <th>ToDate</th>    
                                       
                      <th>Action</th>             
                    </tr>
                    <tr>
                      <td colspan="10">
                        <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                      </td>
                    </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
         
    </div>
    </div>
    <!-- -----------table End Here------------ -->
    </div>
    
    
    <!-- lightbox-->
    <app-modal-animation [modalID]="'effect-4'" [modalClass]="'md-effect-4'">
      <h3 class="f-15">View TaxMaster Details</h3>
      
        <div class="app-modal-body text-center"> 
            <table class="table table-striped text-left m-t-10">
              <tr>
              <td>TaxCode :</td>
              <td>{{ model.TaxCode }}</td>
              </tr>
              <tr>
              <td>TaxName :</td>
              <td>{{ model.TaxName }}</td>
              </tr>
             
              <tr>
              <td>FromAmount :</td>
              <td>{{ model.FromAmount }}</td>
              </tr>
              <tr>
              <td>ToAmount :</td>
              <td>{{ model.ToAmount }}</td>
              </tr>
              
              <tr>
              <td>TaxPer :</td>
              <td>{{ model.TaxPer }}</td>
              </tr>

              <tr>
              <td>EffectiveDate :</td>
              <td>{{ model.EffectiveDate }}</td>
              </tr>

              <tr>
              <td>ToDate :</td>
              <td>{{ model.ToDate }}</td>
              </tr>

              
                   
               </table>      
               <button (click)="closeMyModal($event)" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>    
          </div>
           
        </app-modal-animation>

        <ng2-toasty [position]="position"></ng2-toasty>