<form [formGroup]="form" (ngSubmit)="Submit()" class="  " autocomplete="off">
  <div class="test123   guestinfofirstrow paymentarray"  >
    <div class="">
     
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class='col-12 col-lg-4'>
                <div class="form-group">
                  <label class="form-control-label" for="roomno">Room No </label>
                  <input type="text" class="form-control tooltip-form" id="roomno" formControlName="roomno" name="roomno" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.roomno.errors || form.controls.roomno.touched || form.controls.roomno.dirty}" required  />  
                  <div class="invalid-feedback" *ngIf="form.controls.roomno.errors?.required" >roomno   is required</div>
                  </div>  
              </div>
              <div class='col-12 col-lg-4'>
                <div class="form-group">
                  <label class="form-control-label" for="roomcode">Room Code </label>
                  <input type="text" class="form-control tooltip-form" id="roomcode" formControlName="roomcode" name="roomcode" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.roomcode.errors || form.controls.roomcode.touched || form.controls.roomcode.dirty}" required  />  
                  <div class="invalid-feedback" *ngIf="form.controls.roomcode.errors?.required" >roomcode   is required</div>
                  </div>  
              </div>
              <div class='col-12 col-lg-4'>
                <div class="form-group">
                  <label class="form-control-label" for="guestname">Guest Name </label>
                  <input type="text" class="form-control tooltip-form" id="guestname" formControlName="guestname" name="guestname" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.guestname.errors || form.controls.guestname.touched || form.controls.guestname.dirty}" required  />  
                  <div class="invalid-feedback" *ngIf="form.controls.guestname.errors?.required" >guestname   is required</div>
                  </div>  
              </div>
              <div class='col-12 col-lg-4'>
                <div class="form-group" 
                 >
                <label class="form-control-label required" for="roomcode">Revenue name</label>
                      <select class="custom-select" id="revname" appSelectValidator="0"  
                        name="revname" formControlName="revname" >
                        <option value="0">Select</option>
                        <option *ngFor="let catagery of catagerys" [value]="catagery.revname">{{catagery.revname}}</option>
                      </select> 
                 </div>  
              </div> 
              <div class='col-12 col-lg-4'>
                <div class="form-group" >
                <label class="form-control-label required" for="stward">St Ward</label>
                      <select class="custom-select" id="stward" appSelectValidator="0"  
                        name="stward" formControlName="stward">
                        <option value="0">Select</option>
                        <option *ngFor="let catagery of catagerys" [value]="catagery.stward">{{catagery.stward}}</option>
                      </select>
                     
                 </div>  
              </div> 
              <div class='col-12 col-lg-4'>
                <div class="form-group">
                  <label class="form-control-label" for="taxvalue">Tax Value </label>
                  <input type="text" class="form-control tooltip-form" id="taxvalue" formControlName="taxvalue" name="taxvalue" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.taxvalue.errors || form.controls.taxvalue.touched || form.controls.taxvalue.dirty}" required  />  
                  <div class="invalid-feedback" *ngIf="form.controls.taxvalue.errors?.required" >taxvalue   is required</div>
                  </div>  
              </div>
            </div>
          </div>
        <div class=" col-md-12">
          <div class="row">
            <div class="col-md-8">
              <div class="grid-table" style="width: 100%;">
                <div class="thead">
                  <div class=""> 
                    <div class="td"><i class="fa fa-credit-card-alt"></i> Item Name</div>
                    <div class="td"><i class="fa fa-credit-card-alt"></i> Amount</div>
                    <div class="td"><i class="fa fa-server"></i> Tax</div>
                    <div class="td"><i class="fa fa-retweet"></i> Total</div>
                    
                    <div class="td lasttd">
                      <button type="button"   class=" " (click)="AddExtrachargeButtonClick()">
                        <i class="fa fa-plus"> </i> 
                      </button>
                    </div> 
                  </div>
                </div>
                <div class="tbody">
    
                  <div formArrayName="PayExtra"
                    *ngFor="let otherExtra of form.get('PayExtra').controls; let e = index">
                    <div [formGroupName]="e">
                      <div class="tr"> 
                        <div class="td"> 

                        <input type="text"  list="codes"  (change)="saveCode($event)">
                        <datalist id="codes">
                          <option *ngFor="let c of codeList" [value]="c.name" >{{c.name}}</option>
                        </datalist>

                          <!-- <input type="text" class="" id="itemname" formControlName="itemname">  -->
                        </div>
    
                    <div class="td">
                     <input type="number"  id="Amount"
                      formControlName="Amount" name="Amount" #Amount (keyup)="CalculateExtrachargeAmount(k,Amount.value)" autocomplete="off" required />
                    
      
                        </div> 
                        <div class="td">
                          <input type="text" class="" id="TaxAmount" formControlName="TaxAmount"> 
                        </div>
    
                        <div class="td  ">
                          <input type="text" class="" id="TotalAmount" formControlName="TotalAmount"> 
                        </div> 
                        <div class="td lasttd" style="text-align: left;">                                      
                          <button type="button" (click)="onDeleteExtracharge(0,e)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div> 
              </div>
            </div>
            <div class="col-md-4">
              <div class="table-responsive">
                <table class="table table-striped table-bordered full-data-table"> 
                  <thead> 
                    <tr><th colspan="2" style="color:#fff;">
                      Summary
                    </th></tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Bill Amount</td>
                      <td style="text-align: right;">1000</td> 
                    </tr>
                    <tr>
                      <td>Tax Amount</td>
                      <td style="text-align: right;">50</td> 
                    </tr> 
                    <tr>
                      <td style="font-weight: bold;">Total</td>
                      <td style="text-align: right;">1050</td> 
                    </tr> 
                  </tbody>
                </table>
              </div>
            </div>
          </div> 
        </div> 
      </div>
      <div class="guestinfofirstrow  row">
        <div class='col-12 col-lg-12'>
            <div class="form-group  float-right" >                                   
                <button type="submit"   class="btn btn-success "  style=" display:inline-block"><i class="fa fa-save"></i> Save</button>    
                <button type="button" (click)="closeMyModalPin($event)"  class="btn btn-danger" style="margin-left: 10px; display:inline-block"> <i class="fa  fa-times-circle"></i> Close</button>                           
             </div>  
          </div> 
      </div>
    </div> 
  </div>
</form>