<form [formGroup]="form" (ngSubmit)="Submit(form)" class="shadow p-3 mb-5 bg-white rounded ng-untouched ng-pristine ng-valid  " autocomplete="off"> 
  <div class="test123   guestinfofirstrow paymentarray" >
    <div class="modelstyle"> 
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                <div class='col-12 col-lg-4'>
                  <div class="form-group">
                    <label class="form-control-label" for="RoomNo">Room No </label>
                    <input type="text" class="form-control tooltip-form" id="RoomNo" readonly formControlName="RoomNo" name="RoomNo"  value="{{RoomNo}}" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.RoomNo.errors || form.controls.RoomNo.touched || form.controls.RoomNo.dirty}" required  />  
                    <div class="invalid-feedback" *ngIf="form.controls.RoomNo.errors?.required" >RoomNo   is required</div>
                    </div>  
                </div>
                <div class='col-12 col-lg-4'>
                  <div class="form-group">
                    <label class="form-control-label" for="roomcode">Room Code </label>
                    <input type="text" class="form-control tooltip-form" id="RoomCode" readonly formControlName="RoomCode" name="RoomCode" value="{{RoomCode}}" autocomplete="off"  required  />  
                    <div class="invalid-feedback" *ngIf="form.controls.RoomCode.errors?.required" >roomcode   is required</div>
                    </div>  
                </div>
                <div class='col-12 col-lg-4'>
                  <div class="form-group">
                    <label class="form-control-label" for="RefBillNo">RefBillNo</label>
                    <input type="text" class="form-control tooltip-form" id="RefBillNo" formControlName="RefBillNo" name="RefBillNo" autocomplete="off"  required  />  
                    <div class="invalid-feedback" *ngIf="form.controls.RefBillNo.errors?.required" >RefBillNo   is required</div>
                    </div>  
                </div>
                <div class='col-12 col-lg-4'>
                  <div class="form-group" 
                   >
                  <label class="form-control-label required" for="roomcode">Revenue name</label>
                        <select class="custom-select" id="revname" (change)="GetTaxvalue()"  appSelectValidator="0"  
                          name="revname" formControlName="revname" >
                          <option value="0">Select</option>
                          <option *ngFor="let rev of Revenuelist" [value]="rev.Id">{{rev.RevName}}</option>
                        </select> 
                   </div>  
                </div> 
                <div class='col-12 col-lg-4'>
                  <div class="form-group" >
                  <label class="form-control-label required" for="stward">St Ward</label>
                        <select class="custom-select" id="stward" appSelectValidator="0"  
                          name="stward" formControlName="stward">
                          <option value="0">Select</option>
                          <option *ngFor="let roomboy of RoomBolylist" [value]="roomboy.Id">{{roomboy.StwardName}}</option>
                        </select>
                       
                   </div>  
                </div> 
                <div class='col-12 col-lg-4'>
                  <div class="form-group">
                    <label class="form-control-label" for="taxvalue">Tax Value </label>
                    <input type="text" class="form-control tooltip-form" id="taxvalue" formControlName="taxvalue" name="taxvalue" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.taxvalue.errors || form.controls.taxvalue.touched || form.controls.taxvalue.dirty}" required  />  
                    <div class="invalid-feedback" *ngIf="form.controls.taxvalue.errors?.required" >taxvalue   is required</div>
                    </div>  
                </div>
              </div>
              </div>
              

           
            </div>
             
          </div>

         </div>
        
      
     <div class="row"> 
        <div class=" col-md-12"> 
              <div class="grid-table" >
                <div class="thead">
                  <div class=""> 
                    <div class="td"><i class="fa fa-credit-card-alt"></i> Item</div>
                    <div class="td"><i class="fa fa-credit-card-alt"></i> Rate</div>
                    <div class="td"><i class="fa fa-credit-card-alt"></i> Qty</div>
                    <div class="td"><i class="fa fa-credit-card-alt"></i> Amt</div>
                    <div class="td"><i class="fa fa-server"></i> Tax</div>
                    <div class="td"><i class="fa fa-retweet"></i>Net</div>
                    
                    <div class="td lasttd">
                      <button type="button"   class=" " (click)="AddExtrachargeButtonClick()">
                        <i class="fa fa-plus"> </i> 
                      </button>
                    </div> 
                  </div>
                </div>
                <div class="tbody">
    
                  <div formArrayName="PayExtra"
                    *ngFor="let otherExtra of form.get('PayExtra').controls; let e = index">
                    <div [formGroupName]="e">
                      <div class="tr"> 
                        <div class="td"> 

                        <input type="text"  list="codes" #ff  formControlName="itemname" id="itemname" (change)="saveCode(e,ff.value)">
                        <datalist id="codes">
                          <option *ngFor="let c of itemList" [value]="c.ItemName">{{c.ItemName}}</option>
                        </datalist>

                          <!-- <input type="text" class="" id="itemname" formControlName="itemname">  -->
                        </div>
    
                    <div class="td">
                     <input type="number"  id="Rate"
                      formControlName="Rate" name="Rate" #Rate (keyup)="CalculateTaxAmount(e)" autocomplete="off" required />
                    
      
                        </div> 
                       
                        <div class="td">
                          <input type="number"  id="Quanity"
                           formControlName="Quanity" name="Quanity" #Quanity (keyup)="CalculateTaxAmount(e)" autocomplete="off" required />
                         </div>
                         
                         <div class="td  ">
                          <input type="text" class="" id="TotalAmount" formControlName="TotalAmount"> 
                        </div> 


                        <div class="td">
                          <input type="text" class="" id="TaxAmount" formControlName="TaxAmount"> 
                        </div>
    
                        
                        <div class="td  ">
                          <input type="text" class="" id="Net" formControlName="Net"> 
                        </div> 
                        <div class="td lasttd" style="text-align: left;">                                      
                          <button type="button" (click)="onDeleteExtracharge(0,e)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div> 
              </div>  
        </div>  
      </div> 
<div class=" ">
  <div class="col-md-4 float-right m-t-10" style="  padding-right:0;">
    <div class="table-responsive">
      <table class="table table-striped table-bordered full-data-table"> 
        <thead> 
          <tr><th colspan="2" style="color:#fff;">
            Summary
          </th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Bill Amount</td>
            <td style="text-align: right;">{{TotalBillAmount}}</td> 
          </tr>
          <tr>
            <td>Tax Amount</td>
            <td style="text-align: right;">{{TotalTaxAmount}}</td> 
          </tr> 
          <tr>
            <td style="font-weight: bold;">Total</td>
            <td style="text-align: right;">{{TotalNetAmount}}</td> 
          </tr> 
        </tbody>
      </table>
    </div>
  </div>
</div>
    </div> <!-- end of modelstyle -->
  </div><!-- end of payment -->
 
      <div class="col-md-12 row" style="padding-left: 0; padding-right: 0; margin:0;  " > 
        <div  style="width:100%" >
          <div class="form-group  " style="float: right;" >                                   
            <button type="submit"  class="btn btn-success "  style=" display:inline-block"><i class="fa fa-save"></i> Save</button>    
            <button type="button" (click)="closeMyModalPin($event)"  class="btn btn-danger" style="margin-left: 10px; display:inline-block"> <i class="fa  fa-times-circle"></i> Close</button>                           
         </div>
        </div> 
      </div> 
</form>


<ng2-toasty [position]="position"></ng2-toasty>