<div class="outerdiv discountfrm">
    <div class="formdesign" style="padding: 0;">
        <div class="userlist">
                 <form [formGroup]="discountportalform" (ngSubmit)="onSubmit()"> 
                    <div class="container-fluid" >             
                        <div class='row'>                            
                              <div class="col-md-12">
                                  <div class="row">
                                    <div class="col-md-12" > 
                                        <div class="guestinfofirstrow  row">
                                           
                                      <div class='col-12 col-lg-4'>
                                        <div class="form-group">
                                          <label class="form-control-label" for="rmno">Room No </label>
                                          <input type="text" class="form-control tooltip-form" id="RoomNo" formControlName="RoomNo" value="{{discountportalform.RoomNo}}" name="RoomNo" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && discountportalform.controls.RoomNo.errors || discountportalform.controls.RoomNo.touched || discountportalform.controls.RoomNo.dirty}" required  />  
                                          <div class="invalid-feedback" *ngIf="discountportalform.controls.RoomNo.errors?.required" >Roomno is required</div>
                                          </div>  
                                      </div>

                                      <div class='col-12 col-lg-4'>
                                        <div class="form-group">
                                          <label class="form-control-label" for="rmno">RoomCode </label>
                                          <input type="text" class="form-control tooltip-form" id="RoomCode" formControlName="RoomCode" value="{{discountportalform.RoomCode}}" name="RoomCode" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && discountportalform.controls.RoomCode.errors || discountportalform.controls.RoomCode.touched || discountportalform.controls.RoomCode.dirty}" required  />  
                                          <div class="invalid-feedback" *ngIf="discountportalform.controls.RoomCode.errors?.required" >RoomCode is required</div>
                                          </div>  
                                      </div>

                                      
                                      <div class='col-12 col-lg-4'>
                                        <div class="form-group">
                                          <label class="form-control-label" for="rmno">GuestName </label>
                                          <input type="text" class="form-control tooltip-form" id="GuestName" formControlName="GuestName" value="{{discountportalform.RoomCode}}" name="GuestName" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && discountportalform.controls.GuestName.errors || discountportalform.controls.GuestName.touched || discountportalform.controls.GuestName.dirty}" required  />  
                                          <div class="invalid-feedback" *ngIf="discountportalform.controls.GuestName.errors?.required" >GuestName is required</div>
                                          </div>  
                                      </div>

                                      <div class='col-12 col-lg-4'>
                                        <div class="form-group">
                                          <label class="form-control-label" for="date">ProcessDate</label>
                                          <input  id="ProcessDate" name="ProcessDate"  formControlName="ProcessDate"  readonly type="text"  bsDatepicker [maxDate]="minDate"  [minDate]="minDate" placement="bottom"   [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',containerClass: 'theme-dark-blue'}" class="form-control"> 
                                         </div>  
                                      </div>
                                     
   
                                     
          
                                      <div class='col-12 col-lg-4'>
                                        <div class="form-group">
                                          <label class="form-control-label" for="date">Discount Type</label>
                                          <select class="custom-select" #DiscountType name="DiscountType" value="{{discountportalform.DiscountType}}" formControlName="DiscountType" >
                                              <option value="0">Select</option>
                                              <option  *ngFor="let type of discountvalue" [value]="type">
                                                {{ type  }}</option>
                                            </select>
                                         </div>  
                                      </div>

                                      <div class='col-12 col-lg-4'>
                                        <div class="form-group">
                                          <label class="form-control-label" for="gname">Discount Value</label>
                                          <input type="text" class="form-control tooltip-form" id="Disvalue" formControlName="Disvalue" value="{{discountportalform.Disvalue}}"  name="Disvalue" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && discountportalform.controls.Disvalue.errors || discountportalform.controls.Disvalue.touched || discountportalform.controls.Disvalue.dirty}" required  />  
                                          <div class="invalid-feedback" *ngIf="discountportalform.controls.Disvalue.errors?.required" >Disvalue is required</div>
                                          </div>  
                                      </div>

                                     
                                      <div class='col-12 col-lg-12'>
                                        <div class="form-group">
                                            <label class="form-control-label" for="Reason">Reason </label>
                                             <textarea class="form-control" rows="2" id="Reason" formControlName="Reason" name="Reason"  value="{{discountportalform.Reason}}" autocomplete="off"></textarea>  
                                             </div>   
                                      </div>
                                    
                                       </div>
                                                                       
                                     </div>
                                 </div>
                            </div>
                        </div>
                        <div class="row modelbtn">   
                          <div class="col-md-12">
                            <button  class="btn btn-primary"><i class="fa  fa-close"></i> Close </button>
                            <button  class="btn btn-primary"><i class="fa  fa-user-md"></i> Save </button> 
                          </div>  
                         </div>  
                    </div>
                 </form>
        </div>
     </div>
 </div>
