 
    <div class="row" style="margin-left: 0;margin-right: 0;">
      <div class="col-md-12 ">             
        <ngb-tabset>
          <ngb-tab title="Home">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">
                <p class="m-4">1. This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean mas Cum sociis natoque penatibus et magnis dis.....</p>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Profile">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">
                <p class="m-4">2. Cras consequat in enim ut efficitur. Nulla posuere elit quis auctor interdum praesent sit amet nulla vel enim amet. Donec convallis tellus neque, et imperdiet felis amet.</p>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Messages">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">
                <p class="m-4">3. This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean mas Cum sociis natoque penatibus et magnis dis.....</p>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Settings">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">
                <p class="m-4">4. Cras consequat in enim ut efficitur. Nulla posuere elit quis auctor interdum praesent sit amet nulla vel enim amet. Donec convallis tellus neque, et imperdiet felis amet.</p>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      
    </div>
   