

<div class="shiftroom discountfrm">
    <div class="formdesign" style="padding: 0;">
        <div class="userlist">

            <div class="row">
                <div class="col-md-12" >  
                    <form #myform="ngForm" (ngSubmit)="myform.form.valid && SaveRoomShift(myform)" class="">
                        <input type="hidden" name="Id" class="form-control" [(ngModel)]="roomshifftformmodel.Id" #Id="ngModel"
                        value="{{Id}}">
                      <input type="hidden" name="BranchCode" class="form-control" [(ngModel)]="roomshifftformmodel.BranchCode"
                        #BranchCode="ngModel" value="{{BranchCode}}">
                      <input type="hidden" name="IpAdd" class="form-control" [(ngModel)]="roomshifftformmodel.IpAdd"
                        #IpAdd="ngModel" value="{{IpAdd}}">
                      <input type="hidden" name="CreatedBy" class="form-control" [(ngModel)]="roomshifftformmodel.CreatedBy"
                        #CreatedBy="ngModel" value="{{CreatedBy}}">

                        <div class="guestinfofirstrow  row">
                            <div class='col-12 col-lg-4'>
                                <div class="form-group">
                                    <label class="required">GuestName</label>
                                    <input type="text" name="GuestName" class="form-control" [(ngModel)]="roomshifftformmodel.GuestName"
                                      #GuestName="ngModel" value="{{roomshifftformmodel.GuestName}}" readonly required autocomplete="off">
                                 </div>  
                              </div> 
                              <div class='col-12 col-lg-4'>
                                <div class="form-group">
                                    <label class="required">RoomCode</label>
                                    <input type="text" name="CRoomCode" class="form-control" [(ngModel)]="roomshifftformmodel.CRoomCode"
                                      #CRoomCode="ngModel" value="{{roomshifftformmodel.CRoomCode}}" readonly required autocomplete="off">
                                 </div>  
                              </div> 
                              <div class='col-12 col-lg-4'>
                                <div class="form-group">
                                    <label class="required">RoomNo</label>
                                    <input type="text" name="CRoomNo" class="form-control" [(ngModel)]="roomshifftformmodel.CRoomNo"
                                      #CRoomNo="ngModel" value="{{roomshifftformmodel.CRoomNo}}" readonly required autocomplete="off">
                                 </div>  
                              </div> 
                              <div class='col-12 col-lg-4'>
                                <div class="form-group" 
                                [class.has-error]="SRoomNo.touched && SRoomNo.errors?.defaultSelected">
                                    <label class="required">Prefered RoomNo</label>
                                      <select class="custom-select" id="SRoomNo" (change)="LoadType(SRoomNo.value)" appSelectValidator="0" #SRoomNo="ngModel"
                                        name="SRoomNo" [(ngModel)]="roomshifftformmodel.SRoomNo">
                                        <option value="0">Select</option>
                                        <option *ngFor="let item of roomshifftformmodel.RoomNos" [value]="item.RoomNos">{{item.RoomNos}}</option>
                                      </select>
                                      <span class="help-block" *ngIf="SRoomNo.touched && SRoomNo.errors?.defaultSelected">
                                        SRoomNo is required
                                      </span>
                                 </div>  
                              </div> 
                              <div class='col-12 col-lg-4'>
                                <!-- <div class="form-group">                                   
                                        <label class="required">Prefered RoomCode</label>
                                        <input type="text" name="SRoomCode" class="form-control" [(ngModel)]="roomshifftformmodel.SRoomCode"
                                          #SRoomCode="ngModel" value="{{roomshifftformmodel.SRoomCode}}" readonly required autocomplete="off">                                        
                                 </div>   -->
                                 <div class="form-group" 
                                 [class.has-error]="SRoomCode.touched && SRoomCode.errors?.defaultSelected">
                                     <label class="required">Prefered RoomNo</label>
                                       <select class="custom-select" id="SRoomCode" appSelectValidator="0" (change)="GetRoomValue('NULL',0,SRoomNo.value,SRoomCode.value)" #SRoomCode="ngModel"
                                         name="SRoomCode" [(ngModel)]="roomshifftformmodel.SRoomCode">
                                         <option value="0">Select</option>
                                         <option *ngFor="let item of Typelist" [value]="item">{{item}}</option>
                                       </select>
                                       <span class="help-block" *ngIf="SRoomCode.touched && SRoomCode.errors?.defaultSelected">
                                        SRoomCode is required
                                       </span>
                                  </div>  

                              </div> 
                              <div class='col-12 col-lg-4'>
                                <div class="form-group">                                   
                                        <label class="required">Tarif</label>
                                        <input type="text" name="Tariff" class="form-control" (keyup)="GetRoomValue('Tariff',Tariff.value,SRoomNo.value,SRoomCode.value)" [(ngModel)]="roomshifftformmodel.Tariff"
                                          #Tariff="ngModel" value="{{roomshifftformmodel.Tariff}}"   required autocomplete="off">                                        
                                 </div>  
                              </div> 
                              <div class='col-12 col-lg-4'>
                                <div class="form-group">                                   
                                        <label class="required">Tax</label>
                                        <input type="text" name="Tax" class="form-control" [(ngModel)]="roomshifftformmodel.Tax"
                                          #Tax="ngModel" value="{{roomshifftformmodel.Tax}}"   required autocomplete="off">                                        
                                 </div>  
                              </div> 
                              <div class='col-12 col-lg-4'>
                                <div class="form-group">                                   
                                        <label class="required">grand</label>
                                        <input type="text" name="NetAmount" class="form-control" #NetAmountttttt (keyup)="GetRoomValue('Net',NetAmount.value,SRoomNo.value,SRoomCode.value)" [(ngModel)]="roomshifftformmodel.NetAmount"
                                          #NetAmount="ngModel" value="{{roomshifftformmodel.NetAmount}}"  required autocomplete="off">                                        
                                 </div>  
                              </div> 
                              </div><!--guestinfofirstrow -->
                              <div class="guestinfofirstrow  row">
                                <div class='col-12 col-lg-12'>
                                    <div class="form-group  float-right" >                                   
                                        <button type="submit" [disabled]="myform.form.invalid" class="btn btn-success " ><i class="fa fa-save"></i> Save</button>    
                                        <button type="button" (click)="closeMyModal($event,myform)"  class="btn btn-danger" > <i class="fa  fa-times-circle"></i> Close</button>                           
                                     </div>  
                                  </div> 
                              </div>
                        
                      </form>


                 
                          </div>
                   </div>       
                  
        </div>
     </div>
 </div>

  

  

 <ng2-toasty [position]="position"></ng2-toasty>