
 
.test123{
     
    /* You can add global styles to this file, and also import other style files */
.grid-table
{
	display:table;
}
.thead
{ 	 
    text-align: center;
   
}
.thead .td{
  
    // width: 85px;
    text-align: left;
}
.tbody
{
	display:table-row-group;
}
.tbody .td input,
.tbody .td select{   
    height: 23px;
}
.thead .td .btn.btn-outline-success{
    border: 0 none;
    color: #000;
    font-size: 120%;
}
.tbody .td button.ng-tns-c5-1{   
    border: 0 none;
    color: #000;
    font-size: 120%;
}

 
.tr
{
	display:table-row;
	
}
.td
{
	display:table-cell;
	padding:  0px 1px 0px 0px;
}
.thead div.tr div.td:last-child{
    background-color: #fff;
}
i:hover{
	cursor: pointer;
}

input.ng-invalid.ng-touched,select.ng-invalid.ng-touched{
	border-color: #dc3545;
}


.elementToFadeInAndOut {
    -webkit-animation: fadeinout 2s linear forwards;
    animation: fadeinout 2s linear forwards;
    opacity: 0;
}


.test123 .td.bookingRoomTable_textalign{

    text-align:center;
}
@-webkit-keyframes fadeinout {
  50% { opacity: 1; }
}

@keyframes fadeinout {
  50% { opacity: 1; }
}
}
// .outerdiv .paymentarray .tbody .td input,
// .outerdiv .paymentarray .tbody .td select{
//     width:205px ;    
// }
// .outerdiv .paymentarray .grid-table .thead .td{  
//     width:205px ;     
//  }
.outerdiv .stayinginfo .tbody .td input,
.outerdiv .stayinginfo .tbody .td select{
    
}

.outerdiv .stayinginfo .table thead .td,
.outerdiv .stayinginfo .table tbody .td{  
     border:1px solid #ccc;
     padding: 1px;
 }
 

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .test123[_ngcontent-emt-c5] .tbody[_ngcontent-emt-c5] .td{
        
    }

}
 @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .test123[_ngcontent-emt-c5] .tbody[_ngcontent-emt-c5] .td{
        
    }
  
    .reservationmaster .accouter .test123.bookingroomtype{
        overflow-x: auto;
    }
    .reservationmaster .accouter .test123.bookingroomtype .grid-table .thead .td {
        width: 87px;         
     }
    .reservationmaster .accouter .test123.bookingroomtype .thead .td,
    .reservationmaster .accouter .test123.bookingroomtype .tbody .td{
        font-size: 80%;
    }
    .reservationmaster .accouter .test123.paymentarray .grid-table .thead .td {
        font-size: 92%;
    }
    .reservationmaster .accouter .test123.paymentarray .grid-table .thead .td  ,
    .reservationmaster .accouter .test123.paymentarray .grid-table .thead .td  {
       width: 46px;  
    }
    .reservationmaster .accouter .test123.paymentarray .grid-table .tbody .td select,
    .reservationmaster .accouter .test123.paymentarray .grid-table .tbody .td input{
       width: 39px;  
    }
    .reservationmaster .accouter .test123.bookingroomtype .grid-table .tbody .td select,
    .reservationmaster .accouter .test123.bookingroomtype .grid-table .tbody .td input{
       width: 35px;  
    }
    .reservationmaster .accouter .test123.paymentarray  .width100{
        width:100%;        
    }
    .reservationmaster .accouter .test123.paymentarray .width100 label{
        padding:10px;
    }
    
  }