 

<!-- new for design-->
<div class="outerdiv">  
  <div class="formdesign checkinforms"  >
  
      <form [formGroup]="form" (ngSubmit)="Submit()"  class=" shadow p-3 mb-5 bg-white rounded" autocomplete="off" >
          
         <div class="container">
          <div class='row tabouter'  >

            <div class="col-md-12" >
              <div class="row"  >
                  <div class="col-md-12" >
                    <!-- tab starting -->
            <ngb-tabset>
              <ngb-tab title="Guest Information">
                <ng-template ngbTabContent>
                  <div [@fadeInOutTranslate] class="m-t-15">
                    <div class="row" style="border: 1px solid #dee2e6; padding: 4px;">
                      <div class="col-md-12"  >
                        <div class="accouter" style="width: 100%;" >
                          <ngb-accordion [closeOthers]="true"  activeIds="ngb-close-p1" #acc="ngbAccordion" class="ngb-accordion">                            
                            <ngb-panel id="ngb-close-p1"  title="Guest Information">
                              <ng-template ngbPanelContent >
                            
                                 <div class="col-md-12">
                                   <div class="row">
                                     <div class="col-sm-10">
                                      <div class="row">
                                        <div class='col-12 col-sm-2'>
                                          <div class="form-group">                                
                                            <label class="form-control-label" for="firstname">   </label> 
            
                                            <div class="row">
                                              <div class="col-sm-3">  
                                                 <label style="border: 1px solid #ccc; height: 23px;">1000</label>
                                              </div>   
                                              <div class="col-sm-6">
                                                <input type="checkbox"  (click)="openreferencedetails('effect-4',item)" class="form-control tooltip-form" id="refid" formControlName="referenceid" name="referenceid" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.referenceid.errors || form.controls.referenceid.touched || form.controls.referenceid.dirty}" required style="width: 15px; float: left;" /> Ref #
                                                <div class="invalid-feedback" *ngIf="form.controls.referenceid.errors?.required" >referenceid Name is required</div>
                                               </div>  
                                            </div>
            
            
                                              
                                            
                                           </div>  
                                        </div>
                                        <div class='col-12 col-sm-2'>
                                          <div class="form-group">
                                            <label class="form-control-label" for="firstname">Source </label>
                                           <select class="custom-select"  name="source" formControlName="source"  id="sourceid"> 
                                             <option value="select">Select</option> 
                                             <option [ngValue]="sour.Id" *ngFor="let sour of sourcelist" [value]="sour">{{ sour  }}</option>
                                           </select>
                                           <div *ngIf="submitted && form.source.errors" class="invalid-feedback">
                                            <div *ngIf="form.source.errors.required">Source is required</div>
                                          </div>
                                            <!-- <small class="text-danger" [class.d-none]="!catageryhasError || catagery.untouched">Please choose a catagery</small> -->
                                           </div>  
                                        </div>
                                        <div class='col-12 col-sm-2'>
                                          <div class="form-group">
                                            <label class="form-control-label" for="arivalmode">Arrival Mode </label>
                                           <select class="custom-select"  name="arivalmode" formControlName="arivalmode"  id="arivalmodeid" [ngClass]="{ 'is-invalid': submitted && form.arivalmode.errors }"> 
                                             <option value="select">Select</option> 
                                             <option [ngValue]="sour.Id" *ngFor="let sour of arivalmode" [value]="sour">{{ sour  }}</option>
                                           </select>
                                           <div *ngIf="submitted && form.arivalmode.errors" class="invalid-feedback">
                                            <div *ngIf="form.arivalmode.errors.required">arivalmode is required</div>
                                          </div>
                                            </div>  
                                        </div>
                                        <div class='col-12 col-sm-2'>
                                          <div class="form-group">
                                            <label class="form-control-label" for="Booking">Booking Id </label>
                                            <input type="text" class="form-control tooltip-form" id="bookingid" formControlName="booking" name="booking" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.booking.errors || form.controls.booking.touched || form.controls.booking.dirty}" required  />  
                                            <div class="invalid-feedback" *ngIf="form.controls.booking.errors?.required" >booking Name is required</div>
                                            </div>  
                                        </div>
                                        <div class='col-12 col-sm-2'>
                                          <div class="form-group">
                                            <label class="form-control-label" for="Booking">Convenience fees </label>
                                            <input type="text" class="form-control tooltip-form" id="convenienceid" formControlName="convenience" name="convenience" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.convenience.errors || form.controls.convenience.touched || form.controls.convenience.dirty}" required  />  
                                            <div class="invalid-feedback" *ngIf="form.controls.convenience.errors?.required" >convenience fees is required</div>
                                            </div>  
                                        </div>
                                    </div>
                                    
                                     <div class="row">
                                      <div class='col-12 col-sm-2'>
                                        <div class="form-group">
                                          <label class="form-control-label" for="Guest Name">Guest Name </label>
                                          <input type="text" class="form-control tooltip-form searchiconrelative" id="guestid" formControlName="guestname" name="guestname" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.guestname.errors || form.controls.guestname.touched || form.controls.guestname.dirty}" required    />  
                                          <a href="javascript:;" class="m-r-15 crm-action-view text-info searchiconabsoulte" (click)="openguestnamedetails('effect-5',data)" style="position: absolute;"><i class="fa fa-search"></i></a>
                                          <div class="invalid-feedback" *ngIf="form.controls.guestname.errors?.required" >guestname fees is required</div>
                                          </div>  
                                      </div>
                                      <div class='col-12 col-sm-2'>
                                        <div class="form-group">
                                          <label class="form-control-label" for="gender">  Gender </label>
                                         <select class="custom-select"  name="gender" formControlName="gender"  id="genderid" [ngClass]="{ 'is-invalid': submitted && form.gender.errors }"> 
                                           <option value="select">Select</option> 
                                           <option [ngValue]="sour.Id" *ngFor="let sour of gendercatagerys" [value]="sour">{{ sour  }}</option>
                                         </select>
                                         <div *ngIf="submitted && form.gender.errors" class="invalid-feedback">
                                          <div *ngIf="form.gender.errors.required">gender is required</div>
                                        </div>
                                          </div>  
                                      </div>
                                      <div class='col-12 col-sm-2'>
                                        <div class="form-group">
                                          <label class="form-control-label" for="mobile">Mobile </label>
                                          <input type="text" class="form-control tooltip-form" id="mobileid" formControlName="mobile" name="mobile" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.mobile.errors || form.controls.mobile.touched || form.controls.mobile.dirty}" required  />  
                                          <div class="invalid-feedback" *ngIf="form.controls.guestname.errors?.required" >mobile   is required</div>
                                          </div>  
                                      </div>
                                      <div class='col-12 col-sm-2'>
                                        <div class="form-group">
                                          <label class="form-control-label" for="email">Email </label>
                                          <input type="email" class="form-control tooltip-form" id="emailid" formControlName="email" name="email" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.email.errors || form.controls.email.touched || form.controls.email.dirty}" required  />  
                                          <div class="invalid-feedback" *ngIf="form.controls.mobile.errors?.required" >email   is required</div>
                                          </div>  
                                      </div>
                                      <div class='col-12 col-sm-2'>
                                        <div class="form-group">
                                          <label class="form-control-label" for="Foreign Guest ">  Foreign Guest  </label>
                                         <select class="custom-select"  name="foriegnguest" formControlName="foriegnguest"  id="foriegnguest" [ngClass]="{ 'is-invalid': submitted && form.foriegnguest.errors }"> 
                                           <option value="select">Select</option> 
                                           <option [ngValue]="sour.Id" *ngFor="let sour of foriegnguest" [value]="sour">{{ sour  }}</option>
                                         </select>
                                         <div *ngIf="submitted && form.gender.errors" class="invalid-feedback">
                                          <div *ngIf="form.gender.errors.required">foriegnguest is required</div>
                                        </div>
                                          </div>  
                                      </div>
                                      
                                     </div>
                                     <div class="row">
                                      <div class='col-12 col-sm-12'>
                                           <div class="form-group">
                                            <label class="form-control-label" for="address">Address </label>
                                            <textarea class="form-control col-sm-10" id="address" rows="2"  ></textarea>
                                            <div class="invalid-feedback" *ngIf="form.controls.address.errors?.required" >address   is required</div>
                                            </div>  
                                        </div> 
                                       </div>
                                       <div class="row">
                                        <div class='col-12 col-sm-2'>
                                          <div class="form-group">
                                            <label class="form-control-label" for="pincode">Pincode </label>
                                            <input type="text" class="form-control tooltip-form searchiconrelative" id="pincode" formControlName="pincode" name="pincode" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.pincode.errors || form.controls.pincode.touched || form.controls.pincode.dirty}" required  />  
                                            <a href="javascript:;" class="m-r-15 crm-action-view text-info searchiconabsoulte" (click)="openpincodedetails('effect-6',data)"><i class="fa fa-search"></i></a>

                                            <div class="invalid-feedback" *ngIf="form.controls.pincode.errors?.required" >pincode   is required</div>
                                            </div>  
                                        </div>
                                        <div class='col-12 col-sm-2'>
                                          <div class="form-group">
                                            <label class="form-control-label" for="city">City </label>
                                            <input type="text" class="form-control tooltip-form searchiconrelative" id="city" formControlName="city" name="city" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.city.errors || form.controls.city.touched || form.controls.city.dirty}" required  />  
                                            <a href="javascript:;" class="m-r-15 crm-action-view text-info searchiconabsoulte" (click)="opencitydetails('effect-7',data)"><i class="fa fa-search"></i></a>
                                            <div class="invalid-feedback" *ngIf="form.controls.city.errors?.required" >city   is required</div>
                                            </div>  
                                        </div>
                                        <div class='col-12 col-sm-2'>
                                          <div class="form-group">
                                            <label class="form-control-label" for="state">State </label>
                                            <input type="text" class="form-control tooltip-form" id="state" formControlName="state" name="state" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.state.errors || form.controls.state.touched || form.controls.state.dirty}" required  />  
                                            <div class="invalid-feedback" *ngIf="form.controls.state.errors?.required" >state   is required</div>
                                            </div>  
                                        </div>
                                        <div class='col-12 col-sm-2'>
                                          <div class="form-group">
                                            <label class="form-control-label" for="nation">Nation </label>
                                            <input type="text" class="form-control tooltip-form" id="nation" formControlName="nation" name="nation" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.nation.errors || form.controls.nation.touched || form.controls.nation.dirty}" required  />  
                                            <div class="invalid-feedback" *ngIf="form.controls.nation.errors?.required" >nation   is required</div>
                                            </div>  
                                        </div>
                                        <div class='col-12 col-sm-2'>
                                          <div class="form-group">
                                            <label class="form-control-label" for="gstno">GSTNO </label>
                                            <input type="text" class="form-control tooltip-form" id="gstno" formControlName="gstno" name="gstno" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.gstno.errors || form.controls.gstno.touched || form.controls.gstno.dirty}" required  />  
                                            <div class="invalid-feedback" *ngIf="form.controls.gstno.errors?.required" >gstno   is required</div>
                                            </div>  
                                        </div>
                                       </div>
                                       <div class="row">
                                        <div class='col-12 col-sm-10'>
                                          <div class="form-group">
                                            <label class="form-control-label" for="company">Company </label>
                                            <input type="text" class="form-control tooltip-form" id="company" formControlName="company" name="company" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.company.errors || form.controls.company.touched || form.controls.company.dirty}" required  />  
                                            <div class="invalid-feedback" *ngIf="form.controls.company.errors?.required" >company   is required</div>
                                            </div>  
                                            <!-- <ng-select [ngClass]="'ng-select'" [options]="simpleOption" [(ngModel)]="selectedOption"> </ng-select> -->
                                        </div>
                                       </div>
                                     </div>
                                     <div class="col-sm-2" style="border: 1px solid yellow;">
                                      
                                        <div class=" ">
                                          <label style="font-size: 90%;">Thumb Verification *</label>
                                          <input type="checkbox" class="form-control tooltip-form" id="refid" formControlName="thumbverification" name="referenceid" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.referenceid.errors || form.controls.referenceid.touched || form.controls.referenceid.dirty}" required style="width: 15px; float: left;" /> 

                                           <img src="../../../assets/images/avatar-7.jpg" width="100%; height:auto">
                                          <div class="text-center m-t-10">
                                          <button type="button" class="btn btn-primary btn-xs m-r-10">OK</button>
                                          <!-- <button type="button" class="btn btn-primary btn-xs">CAPTURE</button> -->
                                          </div>
                                          
                                       </div>
                                     
                                     </div>
                                   </div>
                                 </div>
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel id="ngb-close-p1" title="Grid ">
                              <ng-template ngbPanelContent>
                                Booking Grid will come
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel id="ngb-close-p1" title="Guest Stay Information">
                              <ng-template ngbPanelContent>
                                <div class="row gueststayinfo">
                                  
                                  <div class='col-12 col-sm-2'>
                                    <label class="form-control-label" for="pincode">Checkin Date </label>
          
                                    <div class="form-group">
                                      <div class="input-group">
                                      <input class="form-control" placeholder="Date" formControlName="checkindate" name="checkindate" [(ngModel)]="model.checkindate" value="{{model.checkindate | date: 'dd-MM-yyyy '}}" ngbDatepicker #dd="ngbDatepicker">
                                      <div class="input-group-append bg-default" (click)="dd.toggle()" >
                                        <span class="icofont icofont-ui-calendar input-group-text"></span>
                                      </div>
                                    </div>
                                       </div>  
                                  </div>
                                  <div class='col-12 col-sm-2'>
                                    <div class="form-group">
                                      <label class="form-control-label" for="city">Checkin Time </label>
                                      <input type="time" step="2" formControlName="checkintime" class="form-control" placeholder="Time" name="checkintime"   >                            
                                       </div>  
                                  </div>
                                  <div class='col-12 col-sm-2'>
                                    <div class="form-group">
                                      <label class="form-control-label" for="nofdays "> No of Days  </label>
                                     <select class="custom-select"  name="nofdays" formControlName="nofdays"  id="nofdays" [ngClass]="{ 'is-invalid': submitted && form.nofdays.errors }"> 
                                       <option value="select">Select</option> 
                                       <option [ngValue]="sour.Id" *ngFor="let sour of noofdays" [value]="sour">{{ sour  }}</option>
                                     </select>
                                     <div *ngIf="submitted && form.nofdays.errors" class="invalid-feedback">
                                      <div *ngIf="form.nofdays.errors.required">nofdays is required</div>
                                    </div>
                                      </div>  
                                  </div>
          
                                  <div class='col-12 col-sm-2'>
                                    <label class="form-control-label" for="pincode">ChecOut Date </label>
                                    <div class="form-group"> 
                                      <div class="input-group">                          
                                      <input class="form-control" placeholder="Date" formControlName="checkoutdate" name="checkindate" [(ngModel)]="model.checkoutdate" value="{{model.checkindate | date: 'dd-MM-yyyy '}}" ngbDatepicker #ddd="ngbDatepicker">
                                      <div class="input-group-append bg-default" (click)="ddd.toggle()" >
                                        <span class="icofont icofont-ui-calendar input-group-text"></span>
                                      </div>
                                      </div>
                                       </div>  
                                  </div>
                                  <div class='col-12 col-sm-2'>
                                    <div class="form-group">
                                      <label class="form-control-label" for="city">Checkout Time </label>
                                      <input type="time" step="2" formControlName="checkouttime" class="form-control" placeholder="Time" name="checkintime"   >                            
                                       </div>  
                                  </div>
                                  
                                 
                                
                              </div>
                              </ng-template>
                            </ngb-panel>
                            <ngb-panel id="ngb-close-p1" title="Payment">
                              <ng-template ngbPanelContent>
                                <div class="row paymentrow" >
              
                                  <div class='col-12 col-sm-2'>
                                    <div class="form-group">
                                      <label class="form-control-label" for="selmode "> Select mode  </label>
                                     <select class="custom-select"  name="selmode" formControlName="selmode"  id="selmode" [ngClass]="{ 'is-invalid': submitted && form.selmode.errors }"> 
                                       <option value="select">Select</option> 
                                       <option [ngValue]="sour.Id" *ngFor="let sour of paymentmode" [value]="sour">{{ sour  }}</option>
                                     </select>
                                     <div *ngIf="submitted && form.selmode.errors" class="invalid-feedback">
                                      <div *ngIf="form.selmode.errors.required">selmode is required</div>
                                    </div>
                                      </div>  
                                  </div>
                                  <div class='col-12 col-sm-2'>
                                    <div class="form-group">
                                      <label class="form-control-label" for="payamount">Payment </label>
                                      <input type="text" class="form-control tooltip-form" id="payamount" formControlName="payamount" name="payamount" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.payamount.errors || form.controls.payamount.touched || form.controls.payamount.dirty}" required  />  
                                      <div class="invalid-feedback" *ngIf="form.controls.payamount.errors?.required" >payamount   is required</div>
                                      </div>  
                                  </div>
                                  <div class='col-12 col-sm-6'>
                                    <div class="form-group">
                                      <label class="form-control-label" for="paymntdesc">Description </label>
                                      <textarea formControlName="paymntdesc" class="form-control " id="paymntdesc"  style="height: 1.50rem;"   ></textarea>
                                       <div class="invalid-feedback" *ngIf="form.controls.paymntdesc.errors?.required" >paymntdesc   is required</div>
                                      </div>  
                                  </div>
                                
                             
                              </div>
                              </ng-template>
                            </ngb-panel>

                            <ngb-panel id="ngb-close-p1" title="Discount /Grace Period">
                              <ng-template ngbPanelContent>
                                <div class="row discountouter">
                            
                                  <div class='col-12 col-sm-2'>
                                    <div class="form-group">
                                      <label class="form-control-label" for="DiscountType "> Discount Type  </label>
                                     <select class="custom-select"  name="disctype" formControlName="disctype"  id="disctype" [ngClass]="{ 'is-invalid': submitted && form.disctype.errors }"> 
                                       <option value="select">Select</option> 
                                       <option [ngValue]="sour.Id" *ngFor="let sour of discounttypes" [value]="sour">{{ sour  }}</option>
                                     </select>
                                     <div *ngIf="submitted && form.disctype.errors" class="invalid-feedback">
                                      <div *ngIf="form.disctype.errors.required">Discount Type</div>
                                    </div>
                                      </div>  
                                  </div>
                                  <div class='col-12 col-sm-2'>
                                    <div class="form-group">
                                      <label class="form-control-label" for="discvalue">Discount Value </label>
                                      <input type="text" class="form-control tooltip-form" id="discvalue" formControlName="discvalue" name="discvalue" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.discvalue.errors || form.controls.discvalue.touched || form.controls.discvalue.dirty}" required  />  
                                      <div class="invalid-feedback" *ngIf="form.controls.discvalue.errors?.required" >discvalue   is required</div>
                                      </div>  
                                  </div>
                                  <div class='col-12 col-sm-2'>
                                    <div class="form-group">
                                      <label class="form-control-label" for="discvalue">Grace Period </label>
                                      <input type="text" class="form-control tooltip-form" id="graceperiod" formControlName="graceperiod" name="graceperiod" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && form.controls.graceperiod.errors || form.controls.graceperiod.touched || form.controls.graceperiod.dirty}" required  />  
                                      <div class="invalid-feedback" *ngIf="form.controls.graceperiod.errors?.required" >graceperiod   is required</div>
                                      </div>  
                                  </div>
                                  <div class='col-12 col-sm-2'>
                                    <div class="form-group">
                                      <label style="color: orange; padding-top: 20px;">Discount Type:  </label>
                                      <label class="p-l-20">0  </label>      
                                      </div>  
                                  </div>
                                  <div class='col-12 col-sm-2'>
                                    <div class="form-group">
                                      <label style="color: orange;padding-top: 20px;">Last Discount:   </label>
                                      <label class="p-l-20">0</label >
                                      
                                      </div>  
                                  </div>
                    
                                  </div> <!-- payment final row-->
                              </ng-template>
                            </ngb-panel>
                          </ngb-accordion>

                          
                          
           

          
                          
                        </div>
                      </div>
               
                    </div>
                   

                    
                   </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Guest Document">
                <ng-template ngbTabContent>
                  <div [@fadeInOutTranslate] class="m-t-15">
                    <p class="m-4">2. Cras consequat in enim ut efficitur. Nulla posuere elit quis auctor interdum praesent sit amet nulla vel enim amet. Donec convallis tellus neque, et imperdiet felis amet.</p>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Driver Commission">
                <ng-template ngbTabContent>
                  <div [@fadeInOutTranslate] class="m-t-15">
                    <p class="m-4">3. This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean mas Cum sociis natoque penatibus et magnis dis.....</p>
                  </div>
                </ng-template>
              </ngb-tab>
       
            </ngb-tabset>
            <!-- tab ending -->

                       
                  </div>
                   
              </div>
            </div>


         
       
        
        <div class="col-sm-12">
            <div class="form-group text-center">               
                <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Register</button>
            </div>
          </div> 
    
        </div>
      </div><!-- container -->

  </form>
</div>


 



 


 

</div>
<!-- end new form desing-->
<!-- lightbox-->
<app-modal-animation [modalID]="'effect-4'" [modalClass]="'md-effect-4'">
  <h3 class="f-15">View  Other Tax Details</h3>

    <div class="app-modal-body text-center">
        <table class="table table-striped text-left m-t-10">
            <tr>
                <td>Id :</td>
                <td>{{ model.roomno }}</td>
              </tr>
            <tr>
              <td>ItemName :</td>
              <td>{{ model.roomno }}</td>
            </tr>

            <tr>
              <td>RevId :</td>
              <td>{{ model.roomno }}</td>
            </tr>
            <tr>
                <td>Rate :</td>
                <td>{{ model.roomno }}</td>
              </tr>
           </table>
           <button (click)="closeMyModal('effect-4')" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>
      </div>

    </app-modal-animation>

    <app-modal-animation [modalID]="'effect-5'" [modalClass]="'md-effect-5'">
      <h3 class="f-15">Guest Name details</h3>
    
        <div class="app-modal-body text-center">
            <table class="table table-striped text-left m-t-10">
                <tr>
                    <td>Id :</td>
                    <td>{{ model.roomno }}</td>
                  </tr>
                <tr>
                  <td>ItemName :</td>
                  <td>{{ model.roomno }}</td>
                </tr>
    
                <tr>
                  <td>RevId :</td>
                  <td>{{ model.roomno }}</td>
                </tr>
                <tr>
                    <td>Rate :</td>
                    <td>{{ model.roomno }}</td>
                  </tr>
               </table>
               <button (click)="closeMyModal('effect-5')" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>
          </div>
    
        </app-modal-animation>

        <app-modal-animation [modalID]="'effect-6'" [modalClass]="'md-effect-6'">
          <h3 class="f-15">View  Pincode Details</h3>
        
            <div class="app-modal-body text-center">
                <table class="table table-striped text-left m-t-10">
                    <tr>
                        <td>Id :</td>
                        <td>{{ model.roomno }}</td>
                      </tr>
                    <tr>
                      <td>ItemName :</td>
                      <td>{{ model.roomno }}</td>
                    </tr>
        
                    <tr>
                      <td>RevId :</td>
                      <td>{{ model.roomno }}</td>
                    </tr>
                    <tr>
                        <td>Rate :</td>
                        <td>{{ model.roomno }}</td>
                      </tr>
                   </table>
                   <button (click)="closeMyModal('effect-6')" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>
              </div>
        
            </app-modal-animation>

            <app-modal-animation [modalID]="'effect-7'" [modalClass]="'md-effect-7'">
              <h3 class="f-15">City details</h3>
            
                <div class="app-modal-body text-center">
                    <table class="table table-striped text-left m-t-10">
                        <tr>
                            <td>Id :</td>
                            <td>{{ model.roomno }}</td>
                          </tr>
                        <tr>
                          <td>ItemName :</td>
                          <td>{{ model.roomno }}</td>
                        </tr>
            
                        <tr>
                          <td>RevId :</td>
                          <td>{{ model.roomno }}</td>
                        </tr>
                        <tr>
                            <td>Rate :</td>
                            <td>{{ model.roomno }}</td>
                          </tr>
                       </table>
                       <button (click)="closeMyModal('effect-7')" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>
                  </div>
            
                </app-modal-animation>
