  .rmcodeselect{
    padding: 15px 0 15px 0;
    margin: 10px 0px 0px 0px;
    border-radius: 8px;
    background: #fff;
}
.row.rmcodeselect button{
    margin-top:5px;margin-top: 5px;
    padding: 2px 10px 2px 10px;
}
 .form-group {
    margin-bottom: 0;
}
.form-group  select.custom-select{
    font-size: 100%;
}
.chartjs-size-monitor{
    border:1px solid red;
}
 
.purple-gradient{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
