<div class="row">


  <div class='col-12 col-lg-2 col-md-4 col-sm-4'>
    <div class="form-group">
      <label class="form-control-label" for="visit ">RoomCode</label>
      <select class="custom-select" #Type name="visit" id="visit">        
        <option value="select">Select</option>
        <option  *ngFor="let sour of roomtypelist"
          [value]="sour.RoomCode">{{ sour.RoomCode  }}</option>
      </select>
      
    </div>
  </div>

</div>
<button mat-button mat-raised-button color="primary" (click)="randomize(Type.value)">Update</button>

<div *ngIf="Show">
  <div>
    <div style="display: block">
      <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
    <!-- <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button> -->
  </div>
</div> 

