<div class="row rmcodeselect purple-gradient">

<div class="col-md-10 ">
  <div class='col-12 col-lg-12 '>
     <div class="form-group">
       <select class="custom-select" #Type name="visit" id="visit">        
        <option value="select">Select Room Code</option>
        <option  *ngFor="let sour of roomtypelist"
          [value]="sour.RoomCode">{{ sour.RoomCode  }}</option>
      </select>
      
    </div>
  </div>
</div>
<div class="col-md-2">
  <button mat-button mat-raised-button color="primary" class="tn btn-primary" (click)="randomize(Type.value)"><i class="fa fa-bar-chart" aria-hidden="true"></i> Update</button>
</div> 
</div>


<div *ngIf="Show">
  <div class="rmcodeselect rmcodeselect1 ">
    <div style="display: block">

      <div class="chart-container"  >
        <canvas baseChart  width="600" height="200"
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [colors]="barChartColors"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
    
    </div>
  
  </div>
</div> 









