
 
                    <form #myform = "ngForm" (ngSubmit) ="myform.form.valid && SavePaxOnBill(myform)" class="">
                      <div class="test123   guestinfofirstrow paymentarray" >
                        <div class="modelstyle">  
                                    
                                      <div class="row">                
                    
                                        <input type="hidden" name="BranchCode" class="form-control" [(ngModel)]="paxonbillform.BranchCode" #BranchCode="ngModel" value="{{paxonbillform.BranchCode}}">
                                      
                                        <input type="hidden" name="CreatedBy" class="form-control" [(ngModel)]="paxonbillform.CreatedBy" #CreatedBy="ngModel" value="{{paxonbillform.CreatedBy}}">
                                                            
                                         <div class="col-md-4">
                                          <label class="required">RoomNo*</label>
                                          <input type="text" name="RoomNo" class="form-control" [(ngModel)]="paxonbillform.RoomNo" #RoomNo="ngModel" value="{{paxonbillform.RoomNo}}"  [ngClass]="{'is-invalid': RoomNo.touched && RoomNo.invalid}"  required autocomplete="off">
                                              
                                         </div>
                
                                         <div class="col-md-4">
                                          <label>RoomCode*</label>
                                          <input type="text" name="RoomCode" class="form-control" [(ngModel)]="paxonbillform.RoomCode" #RoomCode="ngModel" value="{{paxonbillform.RoomCode}}"  [ngClass]="{'is-invalid': RoomCode.touched && RoomCode.invalid}"  required  autocomplete="off">
                                          
                                         </div>
                                         <!-- <div class="col-md-4"  >
                                           
                                           <label>Pax*</label>
                                           <input type="number" min="10" max="10" name="Pax" class="form-control" [(ngModel)]="paxonbillform.Pax" #Pax="ngModel" value="{{paxonbillform.Pax}}"  [ngClass]="{'is-invalid': Pax.touched && Pax.invalid}"  required   autocomplete="off">
                                           <div *ngIf="Pax.touched && Pax.invalid" class="invalid-feedback">
                                             <div *ngIf="Pax.errors.required">Pax Cant'be Empty</div>
                                           </div>
                                       </div> -->
            
                                       <div class='col-md-4'>
                                        <div class="form-group" 
                                        [class.has-error]="Pax.touched && Pax.errors?.defaultSelected">
                                            <label class="required">Pax</label>
                                              <select class="custom-select" id="Pax" (change)="CalculateTaxAmount(RoomNo.value,Pax.value)" appSelectValidator="0" #Pax="ngModel"
                                                name="Pax" [(ngModel)]="paxonbillform.Pax">
                                                <option value="0">Select</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                
                                              </select>
                                              <span class="help-block" *ngIf="Pax.touched && Pax.errors?.defaultSelected">
                                                Pax is required
                                              </span>
                                         </div>  
                                      </div> 
            
                                       
                                       </div>
                                       
                                    </div>
                                  </div>



                                  <div class="col-md-12 row" style="padding-left: 0; padding-right: 0; margin:0;  " > 
                                    <div  style="width:100%" >
                                      <div class="form-group  " style="float: right;" >                                   
                                        <button type="submit" [disabled]="myform.form.invalid"  class="btn btn-success "  style=" display:inline-block"><i class="fa fa-save"></i> Save</button>    
                                        <button type="button" (click)="closeMyModalPin($event)"  class="btn btn-danger" style="margin-left: 10px; display:inline-block"> <i class="fa  fa-times-circle"></i> Close</button>                           
                                     </div>
                                    </div> 
                                  </div> 
                   </form>
                
  
  
  