 

   
    <div class="camputer" style=" margin:0 auto">
      <div class="camwithsnapshot">
        <webcam  [height]="160"  [trigger]="triggerObservableSecGuest" (imageCapture)="handleImageSecGuest($event)" *ngIf="showWebcamSecGuest"
            [allowCameraSwitch]="allowCameraSwitchSecGuest" [switchCamera]="nextWebcamObservableSecGuest"
            [videoOptions]="videoOptions"
            [imageQuality]="1"
            (cameraSwitched)="cameraWasSwitchedSecGuest($event)"
            (initError)="handleInitError($event)"
           ></webcam>
           <div class="snapshot" >        
            <img *ngIf="notshow"     height="245"  [src]="GuetImg0" />           
         </div> 
        </div>
        <div class="cambtns" style="  margin:0 auto">
          <button class="actionBtn camarabtn" [disabled] = "SnapshotbuttonDisabledSecGuest" (click)="triggerSnapshotForSecGuest();"  >Capture</button>
          <button class="actionBtn camarabtn" [disabled]="camarabuttonDisabledSecGuest" (click)="SwitchOnCamaraSecGuest()"  >  On</button>
        </div>

    </div>
     
    <h6 style="font-size: 75%;">{{Process}}</h6>
   

