.snapshot img{
    width: 100%;
    height: auto;
    border:1px solid #000;
}
.table tr td button{
    display: inline;
}
.addGuestouter1 .md-modal {
    width: 25%;
    border:1px solid red;
}

.sakthi{
     
}