<div class="maindashboard"> 
   
<div class="roomsrow">
     
      
          <div class="row">
  <div class="col-md-12  "> 
    
     
      <div class="col-md-12  ">  
              <div class="row">
                <div class="col-md-12 ">     
         <div class="col-md-12" id="leftNavBar">          
            <ul class="borderbtmforrooms" *ngFor="let item of finalMenu.Floors"  >
            <li class="parentNav  peach-gradient">
              <i class="fa fas fa-building"></i>               
                {{item.FloorName}}</li>
             <li class="childData">
              <ul style="display: inline-block" >
                <li style="float: left; margin-left: 5px "  *ngFor="let child of finalMenu.Rooms" (click)="openRoomsPopup('effect-2',child )">
                  <div *ngIf="item.FloorCode==child.FloorCode ">
                    <button class="greenbutton" >  {{child.RoomNo}} <br> {{child.RoomCode}} </button> 
                  </div>                                   
                </li>
              </ul>
            </li> 
          </ul>  
          
  

        </div>
<!-- end rooms dashborad -->
                </div>
                
              </div>
            
            <!-- Bootstrap tab card end -->
           
         
      </div>
     

<div class="row">
  <div class="col-md-12  "> 
       
        <!-- Bootstrap tab card start -->
        <!-- <app-dashtabs></app-dashtabs> -->
    
        <!-- Bootstrap tab card end -->
       
     
  </div>
</div>
  </div>
 
          </div>
      
      
  </div>
 
</div>

<app-modal-animation [modalID]="'effect-2'" [modalClass]="'md-effect-2'">
  <h3 class="f-15">Guest Details</h3>
  
    <div class="app-modal-body text-center"> 
        <table class="table table-striped text-left m-t-10">
          <h2>Floors : 
            {{model2.floorname}} 
          </h2>
              <tr>
              <td>roomname :</td>
              <td>{{model2.roomname}}</td>
              </tr>
               

           </table>      
           <button (click)="closeMyModal($event)" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>    
      </div>
       
    </app-modal-animation>