<div class="maindashboard"> 
  
<div class="roomsrow">
  <div class="row">
     <div class=" col-md-12">
      <app-card [title]="'Products Sales'">
        <div class="row  productsrow userlist"> 
           <div class="col-sm-1">
              <div class="card text-center bg-c-purple text-white">
                <div class="card-block">
                  <a href="#"><img src="assets/images/widget/prod1.jpg" alt="prodimg" class="img-fluid img-50 img-radius"></a>
                   <h6 class="m-b-0">on apple watch</h6>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="card text-center bg-c-green text-white">
                <div class="card-block">
                  <a href="#"><img src="assets/images/widget/prod3.jpg" alt="prodimg" class="img-fluid img-50 img-radius"></a>
                   <h6 class="m-b-0">on canon printer</h6>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="card text-center bg-c-blue text-white">
                <div class="card-block">
                  <img src="assets/images/widget/prod3.jpg" alt="prodimg" class="img-fluid img-50 img-radius">
                   <h6 class="m-b-0">apple macbook</h6>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="card text-center bg-c-red text-white">
                <div class="card-block">
                  <a href="#"><img src="assets/images/widget/prod4.jpg" alt="prodimg" class="img-fluid img-50 img-radius"></a>
                   <h6 class="m-b-0">on any game</h6>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="card text-center bg-c-green text-white">
                <div class="card-block">
                  <a href="#"><img src="assets/images/widget/prod3.jpg" alt="prodimg" class="img-fluid img-50 img-radius"></a>
                   <h6 class="m-b-0">on canon printer</h6>
                </div>
              </div>
            </div>
            <div class="col-sm-1">
              <div class="card text-center bg-c-red text-white">
                <div class="card-block">
                  <a href="#"><img src="assets/images/widget/prod4.jpg" alt="prodimg" class="img-fluid img-50 img-radius"></a>
                   <h6 class="m-b-0">on any game</h6>
                </div>
              </div>
            </div>
            <!-- product end -->
          
          </div>
      </app-card>
    </div>
   </div>
</div>


<div class="roomsrow">
    <div class="row">
       <div class=" col-md-12">
        <app-card [title]="'Products Sales'">
          <div class="row">
  <div class="col-md-8 userlist"> 
    <div class="row">
      <div class="col-md-12  ">

       
      </div>
    </div>
    <div class="row">
      <div class="col-md-12  "> 
           
            <!-- Bootstrap tab card start -->
            <app-card [title]="'  tabs'"  >
              <div class="row">
                <div class="col-md-12 ">             
                   <!-- please cut below code for rooms dashborad -->
         <div class="col-md-12" id="leftNavBar">
          <ul *ngFor="let item of roomsdetail | async" style="display: block">
            <li class="parentNav">{{item.mainfloors}}</li>
            <li class="childData">
              <ul style="display: inline-block" >
                <li style="float: left; margin-left: 20px;"  *ngFor="let child of item.rooms" (click)="openRoomsPopup('effect-2',child )">
                  <button class="greenbutton"  name = {{child}}  >{{child}}  </button>                  
                </li>
              </ul>
            </li>
          </ul>
          
 
          <div class="container">
            <h1>CSS buttons example</h1>
            <div class="button2" id="button-4">
              <div id="underline"></div>
              <a href="#">Let's Go!</a>
            </div>
            <div class="button button-1">Neon</div>
            <div class="button button-2">Angle bg</div>
            <div class="button button-3">Shadow</div>
            <div class="button button-4">Pulse</div>
            <div class="button button-5">Gradient</div>
            <div class="testbutton"> 
            <button id='b00' class='press-on'>CLICK</button>
            <button id='b10' class='invert'>CLICK</button>
              </div>
              <div class="testbutton2">
                <a href="#" class="button">Press Me</a>
              </div>
              <div class="testbutton3">
                <a class="push_button red" href="#">Take The Red Pill</a> 
              <a class="push_button blue" href="#">Take The Blue Pill</a>
              </div>

              
          </div>

        </div>
<!-- end rooms dashborad -->
                </div>
                
              </div>
            </app-card>
            <!-- Bootstrap tab card end -->
           
         
      </div>
    </div>

<div class="row">
  <div class="col-md-12  "> 
       
        <!-- Bootstrap tab card start -->
        <app-dashtabs></app-dashtabs>
    
        <!-- Bootstrap tab card end -->
       
     
  </div>
</div>
  </div>
  <div class="col-col-4"> 
    <app-productstatus></app-productstatus>

  </div>
          </div>
        </app-card>
      </div>
     </div>
  </div>
 
</div>

<app-modal-animation [modalID]="'effect-2'" [modalClass]="'md-effect-2'">
  <h3 class="f-15">Guest Details</h3>
  
    <div class="app-modal-body text-center"> 
        <table class="table table-striped text-left m-t-10">
          <h2>Floors : 
            {{model2.floorname}} 
          </h2>
              <tr>
              <td>roomname :</td>
              <td>{{model2.roomname}}</td>
              </tr>
               

           </table>      
           <button (click)="closeMyModal($event)" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>    
      </div>
       
    </app-modal-animation>