.aqua-gradient{
    background: linear-gradient(40deg, #2096ff, #05ffa3) !important;          
    color: #fff;        
}
.peach-gradient {
    background: linear-gradient(40deg,#ffd86f,#fc6262)!important;
}
.purple-gradient {
    background: linear-gradient(40deg,#ff6ec4,#7873f5)!important;
    color: #fff;
    padding: 10px;
}

#otppassword {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
    width: 220px;
    min-width: 220px;
  }
  
  #divInner{
    left: 0;
    position: sticky;
  }
  
  #divOuter{
    width: 190px; 
    overflow: hidden;
    margin: 0 auto;
  }