.base {
    background: #e9ecef;
    margin-top: 16px;
    border: 1px solid #007bff;
    margin-bottom: 16px;
    width: 100%;
}

.maindisplay {
    background: #ddd;
    height: 24vh;
    padding: 3% !important;
    font-size: 4rem;
    text-align: right;
    font-family: Poppins-Regular !important;
    //font-family: Courier, monospace;
    overflow: auto;
}

.subdisplay {
    border-bottom: 1px solid black;
    height: 25%;
    font-size: 2rem;
    overflow: auto;
}

.keypad {
    height: calc(200% / 3);
}

.keys {
    margin: 0;
    height: 20%;
    background: whitesmoke;
    color: black;
    padding: 10px 0px 10px 0px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    opacity: 0.9;
    border:1px solid #f3f3f3;
}

.keys:hover {
    opacity: 1;
}

.ackey {
    color: red;
    background: #cccccc;
}

.equalkey {
    color: #000;
    background-color: #cccccc; 
}

.numkey {
    color: #000;
    background-color: #cccccc; 
}

.opkey {
    color: #000;
    background-color: #ccc; 
}
