.loginsignupbg{
    border:2px solid blue!important;
    // background: #05ffa3!important;
     //background:url('/assets/images/cogwaveimages/bluebg.jpg') !important;
     
}
.aqua-gradient{
    background: linear-gradient(40deg, #2096ff, #05ffa3) !important;          
    color: #fff;        
}
.peach-gradient {
    background: linear-gradient(40deg,#ffd86f,#fc6262)!important;
    padding: 10px;
    color: #fff;
}
.purple-gradient {
    background: linear-gradient(40deg,#ff6ec4,#7873f5)!important;
    color: #fff;
    padding: 10px;
}