<!-- myform.form.valid &&  -->
                  <form #myform="ngForm" (ngSubmit)="SaveExtraBed(myform)" class="">
                    <div class="test123   guestinfofirstrow paymentarray" >
                      
                      <div class="modelstyle"> 
                          <div class="row">
                            <div class="col-md-12">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="row">
                                    <input type="hidden" name="Id" class="form-control" [(ngModel)]="extrabedform.Id" #Id="ngModel"
                                    value="{{extrabedform.Id}}">
                                    <input type="hidden" name="BranchCode" class="form-control" [(ngModel)]="extrabedform.BranchCode"
                                    #BranchCode="ngModel" value="{{extrabedform.BranchCode}}">
                                  <input type="hidden" name="IpAdd" class="form-control" [(ngModel)]="extrabedform.IpAdd"
                                    #IpAdd="ngModel" value="{{extrabedform.IpAdd}}">
                                  <input type="hidden" name="CreatedBy" class="form-control" [(ngModel)]="extrabedform.CreatedBy"
                                    #CreatedBy="ngModel" value="{{extrabedform.CreatedBy}}">
              
                                    
                                        <div class='col-12 col-md-3'>
                                             <div class="form-group">
                                                <label class="required">Room No</label>
                                                <input type="text" name="RoomNo" class="form-control" [(ngModel)]="extrabedform.RoomNo"
                                                  #RoomNo="ngModel" value="{{extrabedform.RoomNo}}"   required autocomplete="off">
                                             </div>   
                                          </div> 
                                          <div class='col-12 col-md-3'>
                                             <div class="form-group">
                                                <label class="required">RoomCode</label>
                                                <input type="text" name="RoomCode" class="form-control" [(ngModel)]="extrabedform.RoomCode"
                                                  #RoomCode="ngModel" value="{{extrabedform.RoomCode}}"   required autocomplete="off">
                                             </div>   
                                          </div> 
                                          <div class='col-12 col-md-3'>
                                            <div class="form-group">
                                                <label class="required">Guest Name</label>
                                                <input type="text" name="GuestName" class="form-control" [(ngModel)]="extrabedform.GuestName"
                                                  #GuestName="ngModel" value="{{extrabedform.GuestName}}"   autocomplete="off">
                                             </div>  
                                          </div> 
                                          <div class='col-12 col-md-3'>
                                            <div class="form-group" 
                                            [class.has-error]="NoofBed.touched && NoofBed.errors?.defaultSelected">
                                                <label class="required">NoofBed</label>
                                                  <select class="custom-select" id="NoofBed" (change)="CalculateTaxAmount(RoomNo.value,NoofBed.value)" appSelectValidator="0" #NoofBed="ngModel"
                                                    name="NoofBed" [(ngModel)]="extrabedform.NoofBed">
                                                    <option value="0">Select</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option> 
                                                  </select>
                                                  <span class="help-block" *ngIf="NoofBed.touched && NoofBed.errors?.defaultSelected">
                                                    NoofBed is required
                                                  </span>
                                             </div>  
                                          </div> 
                                           
                                            <div class='col-12 col-md-3'>
                                                <div class="form-group">                                   
                                                        <label class="required">Tarif </label>
                                                        <input type="text" name="Tarif" class="form-control" [(ngModel)]="extrabedform.Tarif"
                                                          #Tarif="ngModel" value="{{extrabedform.Tarif}}"     autocomplete="off">                                        
                                                 </div>  
                                              </div>  
              
                                              <div class='col-12 col-md-3'>
                                                <div class="form-group">                                   
                                                        <label class="required">Bed Amount</label>
                                                        <input type="text" name="BedAmount" class="form-control" [(ngModel)]="extrabedform.BedAmount"
                                                          #BedAmount="ngModel" value="{{extrabedform.BedAmount}}"   required autocomplete="off">                                        
                                                 </div>  
                                              </div> 
              
                                              <div class='col-12 col-md-3'>
                                                <div class="form-group">                                   
                                                        <label class="required">TotalBed Amount</label>
                                                        <input type="text" name="TotalBedAmount" class="form-control" [(ngModel)]="extrabedform.TotalBedAmount"
                                                          #TotalBedAmount="ngModel" value="{{extrabedform.TotalBedAmount}}"   required autocomplete="off">                                        
                                                 </div>  
                                              </div> 
              
                                              <div class='col-12 col-md-3'>
                                                <div class="form-group">                                   
                                                        <label class="required">Tax Amount</label>
                                                        <input type="text" name="TaxAmount" class="form-control" [(ngModel)]="extrabedform.TaxAmount"
                                                          #TaxAmount="ngModel" value="{{extrabedform.TaxAmount}}"   required autocomplete="off">                                        
                                                 </div>  
                                              </div> 
                                            
                                          
                                            <div class='col-12 col-md-3'>
                                              <div class="form-group">                                   
                                                      <label class="required">Net Amount</label>
                                                      <input type="text" name="NetAmount" class="form-control" [(ngModel)]="extrabedform.NetAmount"
                                                        #NetAmount="ngModel" value="{{extrabedform.NetAmount}}"   required autocomplete="off">                                        
                                               </div>  
                                            </div> 

                                          
                                           

                                            <div class='col-12 col-lg-12'>
                                              <div class="form-group">
                                                  <label class="required">Reason</label>
                                                  <textarea type="text" name="Reason" class="form-control" [(ngModel)]="extrabedform.Reason"
                                                    #Reason="ngModel" value="{{extrabedform.Reason}}"   required autocomplete="off"></textarea>
                                               </div>  
                                            </div> 
                                            <div class='col-12 col-md-3'>
                                              <div class="form-group">                                   
                                                      <label class="required" style="width: 100%;">Add Guest</label>   
                                                      <input (click)="openguestmodel('addGuestModel')"  type="checkbox" name="addguest" class="form-ontrol" />
                                               </div>  
                                            </div>
                                           
                                 </div>
                               </div>
                            </div>
                          </div>
                        </div>
                  </div>
              </div>
 
              <div class="col-md-12 row" style="padding-left: 0; padding-right: 0; margin:0; margin-top:20px  " > 
                <div  style="width:100%" >
                  <div class="form-group  " style="float: right;" >                                   
                    <button type="submit"   class="btn btn-success "  style=" display:inline-block"><i class="fa fa-save"></i> Process</button>    
                    <button type="button" (click)="closeMyModalPin($event,form)"  class="btn btn-danger" style="margin-left: 10px; display:inline-block"> <i class="fa  fa-times-circle"></i> Close</button>                           
                 </div>
                </div> 
              </div>   
                    </form>

                 
                    <div class="commonmodel  guestcommonmodel">
                      <app-modal-animation class="modellg contentboxmodel" [modalID]="'addGuestModel'" [modalClass]="'md-effect-2'">
                       <div class="app-modal-body"> 
                        <label class="font-header"
                          style="background-color: orange;  color: #ffffff;  padding: 10px;  width: 100%;">RoomNo- {{rmno}}
                          ({{roomname1}})</label>
            
                        <perfect-scrollbar class="overflow-container" [style.width]="'100%'" [style.height]="'452px'"
                          [config]="config">
                          <div class="row">
                            <form [formGroup]="addgstform" (ngSubmit)="Submit(addgstform)" class="  " autocomplete="off"> 
                              <div class="test123   guestinfofirstrow paymentarray" >
                                <div class="modelstyle">  

                                  <div class="row" style="margin-left:0">
                                      <div class="col-md-7">
                                        <div class="row">
                                          <div class='col-12 col-md-12' > 
                                            <div class="form-group" style="border:1px solid #ccc; padding:4px;">
                                              <input type="checkbox"  (change)="checkValue($event,j)" style="margin-right: 10px;"> 
                                            <label class="form-control-label" style="float: none;">Swipe Info.  </label> 
                                            </div>
                                          </div>
                                        </div>
                                        <div class="row"> 
                                            
                                            <div class='col-12 col-md-4'>
                                              <div class="form-group">
                                                <label class="form-control-label" for="title ">Title</label>
                                                <select class="custom-select" name="title" formControlName="title"
                                                  id="title"
                                                  [ngClass]="{ 'is-invalid': submitted && form.title.errors }">
                                                  <option value="select">Select</option> 
                                                  <option  *ngFor="let Title of Titlelist"
                                                    [value]="Title.Description">{{ Title.Description  }}</option>
                                                </select>
                                                <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                                                  <div *ngIf="form.title.errors.required">title </div>
                                                </div>
                                              </div> 
                                            </div>
                                            <div class='col-12 col-md-4'>
                                              <div class="form-group">
                                                <label class="form-control-label" for="Guest Name">Guest Name </label>
                                                <input style="position: relative" type="text" class="form-control tooltip-form searchiconrelative" id="guestid" formControlName="guestname" name="guestname" autocomplete="off"   required    />  
                                                <a href="javascript:;" class="m-r-15 crm-action-view text-info searchiconabsoulte" (click)="secondaryGuestModel('popinsidepopforguestname',data,j)" style="position: absolute; right:0; top:22px"><i class="fa fa-search"></i></a> 
                                                </div>  
                                            </div>
                                           

                                          <div class='col-12 col-md-4  '>
                                            <div class="form-group">
                                              <label class="form-control-label" for="gender">  Gender </label>
                                             <select class="custom-select"  name="gender" formControlName="gender"  id="genderid" [ngClass]="{ 'is-invalid': submitted && form.gender.errors }"> 
                                               <option value="select">Select</option> 
                                               <option *ngFor="let sour of gendertypes" [value]="sour.Description">{{ sour.Description  }}</option>
                                             </select>
                                             <div *ngIf="submitted && form.gender.errors" class="invalid-feedback">
                                              <div *ngIf="form.gender.errors.required">gender is required</div>
                                            </div>
                                              </div>  
                                          </div>
                                  
                                          <div class='col-12 col-md-4  '>
                                            <div class="form-group">
                                              <label class="form-control-label" for="mobile">Mobile </label>
                                              <input type="text" class="form-control tooltip-form" id="mobileid" formControlName="mobile" name="mobile" autocomplete="off"   required  />  
                                               
                                              </div>  
                                          </div>
                                          <div class='col-12 col-md-4  '>
                                            <div class="form-group">
                                              <label class="form-control-label" for="email">Email </label>
                                              <input type="email" class="form-control tooltip-form" id="emailid" formControlName="email" name="email" autocomplete="off"   required  />  
                                           
                                              </div>  
                                          </div>
                                          
                                          <div class='col-12 col-md-4'>
                                            <div class="form-group">
                                              <label class="form-control-label" for="pincode">Pincode </label>
                                              <input type="text" class="form-control tooltip-form searchiconrelative" id="pincode" formControlName="pincode" name="pincode" autocomplete="off"   required style="position: relative;"  />  
                                              <a href="javascript:;" class="m-r-15 crm-action-view text-info" (click)="openMyModalPincodePopup('popinsidepopforpincode',data,j)" style="position: absolute;top:22px; right:0"><i class="fa fa-search"></i></a> 
                                               
                                              </div>  
                                          </div>
       
                                          <div class='col-12 col-md-4'>
                                            <div class="form-group">
                                              <label class="form-control-label" for="Area">Area </label>
                                              <input type="text" class="form-control tooltip-form searchiconrelative" id="Area" formControlName="Area" name="Area" autocomplete="off"  required  />  
                                                 </div>  
                                          </div>
                                          <div class='col-12 col-md-4'>
                                            <div class="form-group">
                                              <label class="form-control-label" for="city">City </label>
                                              <input type="text" class="form-control tooltip-form searchiconrelative" id="city" formControlName="city" name="city" autocomplete="off"   required  />   
                                              </div>  
                                          </div>
                                          <div class='col-12 col-md-4'> 
                                            <div class="form-group">
                                              <label class="form-control-label" for="state ">State</label>
                                              <select class="custom-select" #statename (change)="PatchStateCode(statename.value,j)"  name="state" formControlName="state"
                                                id="state">
                                               
                                                <option value="select">Select</option> 
                                                <option  *ngFor="let state of StateList"
                                                  [value]=" state.State">{{ state.State  }}</option>
                                              </select> 
                                            </div>  
                                        </div>
                                        <div class='col-12 col-md-4'>  
                                          <div class="form-group"> 
                                            <label class="form-control-label" for="state">StateCode </label>
                                            <input type="text" class="form-control tooltip-form" id="StateCode" formControlName="StateCode" name="StateCode" autocomplete="off" required  />  
                                          </div> 
                                        </div>
                                        <div class='col-12 col-md-4'> 
                                          <div class="form-group">
                                              <label class="form-control-label" for="nation ">Nation</label>
                                              <select class="custom-select" name="nation" formControlName="nation"
                                                id="nation"
                                                [ngClass]="{ 'is-invalid': submitted && form.nation.errors }">
                                                <option value="select">Select</option> 
                                                <option  *ngFor="let Nationd of Nationlist"
                                                  [value]="Nationd">{{ Nationd  }}</option>
                                              </select>
                                              <div *ngIf="submitted && form.nation.errors" class="invalid-feedback">
                                                <div *ngIf="form.nation.errors.required">Nation </div>
                                              </div>
                                            </div> 
                                      </div> 
                                      <div class='col-12   col-md-4 '>
                                        <div class="form-group">
                                          <label class="form-control-label" for="gstno">GSTNO </label>
                                          <input type="text" class="form-control tooltip-form" id="gstno" formControlName="gstno" name="gstno" autocomplete="off"  required  />   
                                          </div>  
                                      </div>
                                      <div class='col-12  col-md-12 '>
                                        <div class="form-group">
                                         <label class="form-control-label" for="address1"> Address1</label>       
                                         <input type="text" class="form-control tooltip-form" id="address1" formControlName="address1"> 
                                         </div>   
                                     </div> 
                                     <div class='col-12  col-md-6 '>
                                      <div class="form-group">
                                       <label class="form-control-label" for="address2"> Address2 </label>       
                                       <input type="text" class="form-control tooltip-form" id="address2" formControlName="address2"> 
                                       </div>  
                                   </div> 
                                   <div class='col-12  col-md-6 '>
                                    <div class="form-group">
                                     <label class="form-control-label" for="address3"> Address 3 </label>       
                                     <input type="text" class="form-control tooltip-form" id="address3" formControlName="address3"> 
                                     </div>   
                                 </div> 

                                        </div> <!-- row  -->  
                                      </div> <!-- col-md-7 --> 

                                      <div class="col-md-4" style="padding-top: 5px; border:1px">
                                        <div class="row guestinfofirstrow guestphotoscreen" >  
                                          <a href="javascript:;" class="m-r-15 p-l-10  crm-action-view text-info  addguestcolor" (click)="OpenAdditionalGuest ('adguesteffect')"   ><i class="fa fa-user" aria-hidden="true"></i> Add Additional Guest Detsils </a>

                                           <table class="table table-responsive" style="padding-left:6px; width:95%; margin-bottom: 0;">
                                            <thead>
                                              <tr>
                                                <th><i class="fa fa-user" aria-hidden="true"></i> Guest Photo</th> 
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                                <td>
                                                  <webcam [height]="100" [width]="150" [trigger]="triggerObservable" (imageCapture)="handleImage($event,j)" *ngIf="showWebcam"
                                                  [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                                                  [videoOptions]="videoOptions"
                                                  [imageQuality]="1"
                                                  (cameraSwitched)="cameraWasSwitched($event)"
                                                  (initError)="handleInitError($event)"
                                                 ></webcam>
                                          
                                          <div class="snapshot ">
                                                           <div *ngIf="snapshotshow">                               
                                               <img  [height]="75" [width]="100" [src]="previewUrl"  />
                                             </div>  
                                             
                                            
                                             <ul *ngFor="let error of errors">
                                               <li>{{error | json}}</li>
                                             </ul>
                                             </div> </td>
                                                 
                                              </tr>
                                          
                                             
                                            </tbody>
                                          </table>
                                    
                                      
                                       </div> <!-- row end -->
                                      </div>
                                    </div>
                                  </div>


                                  </div>
                              <!-- test -->
                       
                            
                            </form> 
            
                  <div class="col-md-12 row" style="padding-left: 0; padding-right: 0; margin:0;  " > 
                    <div  style="width:100%" >
                      <div class="form-group  " style="float: right;" >                                   
                        <button type="submit"   class="btn btn-success "  style=" display:inline-block"><i class="fa fa-save"></i> Save</button>    
                        <button type="button" (click)="closeguestModal($event)"  class="btn btn-danger" style="margin-left: 10px; display:inline-block"> <i class="fa  fa-times-circle"></i> Close</button>                           
                    </div>
                    </div> 
                  </div> 
                          </div>
                        </perfect-scrollbar>
            
                      </div>
                    </app-modal-animation>  




                    
<app-modal-animation [modalID]="'popinsidepopforguestname'" data-backdrop="static"  data-keyboard="false" style="position: absolute; z-index: 99999;" [modalClass]="'md-effect-4 addressmodeleffect'">
  
  <h3 class="f-15" style="position: relative;">Guest Details122
    <button style="position: absolute; right: 0; top:0; color:red"  (click)="closeMyModalPin($event)">Close</button>             
 </h3>
  
    <div class="app-modal-body text-center" style="position: relative;"> 
      <div class="table-content crm-table">
        <div class="project-table addressproject-table">
          <div id="crm-contact" class="dt-responsive">           
            <div class="row">         
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="input-group">
                  <input type="text" #searchTermguestInsidePopup class="form-control input-lg full-data-search" placeholder="Search here...">
                  <span class="input-group-append ripple light" id="basic-addon1">
                    <i class="fa fa-search input-group-text" style="font-size: 100%;"></i>                          
                  </span>
                </div> 
              </div>      
        </div>  

             <div class="table-responsive">
              <table class="table table-striped table-bordered full-data-table"> 
                    <thead>
                    <tr class="blueorange-gradient">        
                    <th> GuestName</th>             
                    <th> City </th>
                    <th> Pincode </th>
                    <th> MobileNo </th> 
                    <th>Action</th>
                </tr>
                <tr> </tr>               
                </thead>
                <tbody>                    
                 <tr *ngFor="let item of guest; let i = index;">                     
                   <td>{{item.GuestName}}</td>   
                   <td>{{item.City}}</td>   
                   <td>{{item.PINCode}}</td>                   
                   <td>{{item.MobileNo}}</td>        
                  <td class="action-icon">
                      <a href="javascript:;" class="m-r-15 crm-action-edit text-primary"  md-button (click)="PatchGuestSecoundaryData(item,$event)"> <i class="fa fa-download" aria-hidden="true"></i></a>                     
                  </td>
                </tr>  
                </tbody>
                 
              </table>
            </div> 
          </div>
        </div>
      </div>     
       </div>         
    </app-modal-animation>

<!-- pincode popup-->
<app-modal-animation [modalID]="'popinsidepopforpincode'" data-backdrop="false" data-keyboard="false" style="position: absolute; z-index: 99999;" [modalClass]="'md-effect-4 addressmodeleffect'">
  <h3 class="f-15" style="position: relative;">Pincode Details 
 <button style="position: absolute; right: 0; top:0; color:red"  (click)="closeMyModalPin($event)">Close</button>
 </h3>
    <div class="app-modal-body text-center" style="position: relative;"> 
      <div class="table-content crm-table">
        <div class="project-table addressproject-table">
          <div id="crm-contact" class="dt-responsive">                 
            <div class="row">         
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="input-group">
                  <input type="text" #searchTermPinSec class="form-control input-lg full-data-search" placeholder="Search here...">
                  <span class="input-group-append ripple light" id="basic-addon1">
                    <i class="fa fa-search input-group-text" style="font-size: 100%;"></i>                          
                  </span>
                </div> 
              </div>      
        </div>  
        <perfect-scrollbar class="overflow-container"  [style.width]="'100%'" [style.height]="'365px'" [config]="config">
             <div class="table-responsive">
              <table class="table table-striped table-bordered full-data-table"> 
                    <thead>
                    <tr class="blueorange-gradient">        
                    <th> AreaData</th>
                    <th> City</th>
                    <th> Pincode</th>
                    <th> State</th>
                    <th> Action</th>                                               
                </tr>
                <tr>
                </tr>
                </thead>
                <tbody>                        
                 <tr *ngFor="let item of picodelist; let i = index;">                     
                   <td>{{item.AreaData}}</td>   
                   <td>{{item.City}}</td>   
                   <td>{{item.Pincode}}</td>                      
                   <td>{{item.State}}</td>        
                  <td class="action-icon">
                      <a href="javascript:;" class="m-r-15 crm-action-edit text-primary"  md-button (click)="patchPincodeModalData(item,$event)"> <i class="fa fa-download" aria-hidden="true"></i></a>                          
                  </td>
                </tr>  
                </tbody>
                 
              </table>
            </div> 
            
          </perfect-scrollbar>
         
          </div>
          
        </div>
      </div>        
       </div>          
    </app-modal-animation>

                   </div>
<!-- 
<ng2-toasty [position]="position"></ng2-toasty> -->