select.custom-select{
    font-size: 100%;
    padding: 0px 0px 0px 10px; 
  }
    .form-group label{
        float: left;
        margin-bottom: 0;
        font-style: 95%;
  }
  .modellg .md-modal{
    widows: 100% !important;
  }