

<div class="shiftroom discountfrm">
    <div class="formdesign" style="padding: 0;">
        <div class="userlist">

            <div class="row">
                <div class="col-md-12" >  
                    <form #myform="ngForm" (ngSubmit)="myform.form.valid && ReferanceSave(myform)" class="">
                        <input type="hidden" name="Id" class="form-control" [(ngModel)]="model.Id" #Id="ngModel"
                        value="{{Id}}">
                      <input type="hidden" name="BranchCode" class="form-control" [(ngModel)]="model.BranchCode"
                        #BranchCode="ngModel" value="{{BranchCode}}">
                      <input type="hidden" name="IpAdd" class="form-control" [(ngModel)]="model.IpAdd"
                        #IpAdd="ngModel" value="{{IpAdd}}">
                      <input type="hidden" name="CreatedBy" class="form-control" [(ngModel)]="model.CreatedBy"
                        #CreatedBy="ngModel" value="{{CreatedBy}}">

                        <div class="guestinfofirstrow  row">
                            <div class='col-12 col-lg-3'>
                                <div class="form-group">
                                    <label class="required">Room No</label>
                                    <input type="text" name="Roomno" class="form-control" [(ngModel)]="model.Roomno"
                                      #Roomno="ngModel" value="{{Roomno}}"   required autocomplete="off">
                                 </div>  
                              </div> 
                              <div class='col-12 col-lg-3'>
                                <div class="form-group">
                                    <label class="required">RoomCode</label>
                                    <input type="text" name="RoomCode" class="form-control" [(ngModel)]="model.RoomCode"
                                      #RoomCode="ngModel" value="{{RoomCodes}}"   required autocomplete="off">
                                 </div>  
                              </div> 
                              <div class='col-12 col-lg-3'>
                                <div class="form-group">
                                    <label class="required">Guest Name</label>
                                    <input type="text" name="guestname" class="form-control" [(ngModel)]="model.guestname"
                                      #guestname="ngModel" value="{{guestname}}"   autocomplete="off">
                                 </div>  
                              </div> 
                              <div class='col-12 col-lg-3'>
                                <div class="form-group" 
                                [class.has-error]="noOfbeds.touched && noOfbeds.errors?.defaultSelected">
                                    <label class="required">noOfbeds</label>
                                      <select class="custom-select" id="noOfbeds" appSelectValidator="select" #noOfbeds="ngModel"
                                        name="noOfbeds" [(ngModel)]="model.noOfbeds">
                                        <option value="select">Select</option>
                                        <option *ngFor="let item of vacantRoom" [value]="item.noOfbeds">{{item.noOfbeds}}</option>
                                      </select>
                                      <span class="help-block" *ngIf="noOfbeds.touched && noOfbeds.errors?.defaultSelected">
                                        noOfbeds is required
                                      </span>
                                 </div>  
                              </div> 
                              
                              
                              </div><!--guestinfofirstrow -->
                              <div class="guestinfofirstrow  row">
                                <div class='col-12 col-lg-3'>
                                    <div class="form-group">                                   
                                            <label class="required">Tarif  </label>
                                            <input type="text" name="tarif" class="form-control" [(ngModel)]="model.tarif"
                                              #tarif="ngModel" value="{{tarif}}"     autocomplete="off">                                        
                                     </div>  
                                  </div> 
                                  <div class='col-12 col-lg-3'>
                                    <div class="form-group">                                   
                                            <label class="required">Bed Amount</label>
                                            <input type="text" name="bedamt" class="form-control" [(ngModel)]="model.bedamt"
                                              #bedamt="ngModel" value="{{bedamt}}"   required autocomplete="off">                                        
                                     </div>  
                                  </div> 
                                  <div class='col-12 col-lg-3'>
                                    <div class="form-group">                                   
                                            <label class="required">Tax Amount</label>
                                            <input type="text" name="taxamount" class="form-control" [(ngModel)]="model.taxamount"
                                              #taxamount="ngModel" value="{{taxamount}}"   required autocomplete="off">                                        
                                     </div>  
                                  </div> 
                                  <div class='col-12 col-lg-3'>
                                    <div class="form-group">                                   
                                            <label class="required">Net Amount</label>
                                            <input type="text" name="netamount" class="form-control" [(ngModel)]="model.netamount"
                                              #netamount="ngModel" value="{{netamount}}"   required autocomplete="off">                                        
                                     </div>  
                                  </div> 
                              </div>
                              <div class="guestinfofirstrow  row">
                                <div class='col-12 col-lg-12'>
                                  <div class="form-group">
                                      <label class="required">Reason</label>
                                      <textarea type="text" name="reason" class="form-control" [(ngModel)]="model.reason"
                                        #reason="ngModel" value="{{reason}}"   required autocomplete="off"></textarea>
                                   </div>  
                                </div>
                              </div>
                              <div class="guestinfofirstrow  row">
                                <div class='col-12 col-lg-12'>
                                    <div class="form-group">
                                        <label class="required">Add Guest</label>
                                        <input style="width:20px;" type="checkbox" name="addguest" class="form-control" [(ngModel)]="model.addguest"/>
                                          
                                     </div>  
                                  </div>
                              </div>
                              <div class="guestinfofirstrow  row">
                                <div class='col-12 col-lg-12'>
                                    <div class="form-group  float-right" >                                   
                                        <button type="submit" [disabled]="myform.form.invalid" class="btn btn-success " ><i class="fa fa-save"></i> Save</button>    
                                        <button type="button" (click)="closeMyModal($event)"  class="btn btn-danger" > <i class="fa  fa-times-circle"></i> Close</button>                           
                                     </div>  
                                  </div> 
                              </div>
                        
                      </form>


                 
                          </div>
                   </div>       
                  
        </div>
     </div>
 </div>

  

  
