


<div class="shiftroom linkadvance  " style="border:1px solid #ccc; background-color: #fff;">
    <div class="formdesign" style="padding: 0;">
        <div class="userlist">

            <div class="row">
                <div class="col-md-12" >  
                    <form #myform="ngForm" (ngSubmit)="myform.form.valid && SaveRoomShift(myform)" class="">
                        <input type="hidden" name="Id" class="form-control" [(ngModel)]="linkadvance.Id" #Id="ngModel"
                        value="{{Id}}">
                      <input type="hidden" name="BranchCode" class="form-control" [(ngModel)]="linkadvance.BranchCode"
                        #BranchCode="ngModel" value="{{BranchCode}}">
                      <input type="hidden" name="IpAdd" class="form-control" [(ngModel)]="linkadvance.IpAdd"
                        #IpAdd="ngModel" value="{{IpAdd}}">
                      <input type="hidden" name="CreatedBy" class="form-control" [(ngModel)]="linkadvance.CreatedBy"
                        #CreatedBy="ngModel" value="{{CreatedBy}}">

                         
                            <div class="expectedcheckout linkadvancetable">
                                <h2 class="h2class"><i class="fa fa-hotel"></i> Expected Checkout</h2>
                                <div class="table-responsive">
                                  <table class="table table-striped table-bordered full-data-table">
                                    <thead>
                                      <tr class="blueorange-gradient">
                                        <th>Registration No </th>
                                        <th>Guest Name</th>
                                        <th>Tr Date</th>
                                        <th>Mobile</th>
                                        <th>Amount </th>
                                        <th>No</th>
                                        <th style="text-align: center;">Action </th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td>1</td>
                                        <td>test223</td>
                                        <td>12/12/2020</td>
                                        <td>99888 88878</td>
                                        <td>5000</td>
                                        <td>222</td> 
                                        <td class="action-icon">
                                          <a href="javascript:;" class="m-r-15 crm-action-view text-info"
                                            (click)="openMyModal('effect-13',item)"><i class="fa fa-paper-plane"></i></a>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>1</td>
                                        <td>test223</td>
                                        <td>12/12/2020</td>
                                        <td>99888 88878</td>
                                        <td>5000</td>
                                        <td>222</td> 
                                        <td class="action-icon">
                                          <a href="javascript:;" class="m-r-15 crm-action-view text-info"
                                            (click)="openMyModal('effect-13',item)"><i class="fa fa-paper-plane"></i></a>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>1</td>
                                        <td>test223</td>
                                        <td>12/12/2020</td>
                                        <td>99888 88878</td>
                                        <td>5000</td>
                                        <td>222</td> 
                                        <td class="action-icon">
                                          <a href="javascript:;" class="m-r-15 crm-action-view text-info"
                                            (click)="openMyModal('effect-13',item)"><i class="fa fa-paper-plane"></i></a>
                                        </td>
                                      </tr>

                                      <tr>
                                        <td>1</td>
                                        <td>test223</td>
                                        <td>12/12/2020</td>
                                        <td>99888 88878</td>
                                        <td>5000</td>
                                        <td>222</td> 
                                        <td class="action-icon">
                                          <a href="javascript:;" class="m-r-15 crm-action-view text-info"
                                            (click)="openMyModal('effect-13',item)"><i class="fa fa-paper-plane"></i></a>
                                        </td>
                                      </tr>
                              
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                       
                        <div class="guestinfofirstrow  row">
                            <div class='col-12 col-lg-4'>
                                <div class="form-group" 
                                [class.has-error]="roomno.touched && roomno.errors?.defaultSelected">
                                    <label class="required">Room no</label>
                                      <select class="custom-select" id="roomno" (change)="LoadType(roomno.value)" appSelectValidator="0" #roomno="ngModel"
                                        name="roomno" [(ngModel)]="linkadvance.roomno">
                                        <option value="0">Select</option>
                                        <option *ngFor="let item of linkadvance.RoomNos" [value]="item.RoomNos">{{item.RoomNos}}</option>
                                      </select>
                                      <span class="help-block" *ngIf="roomno.touched && roomno.errors?.defaultSelected">
                                        roomno is required
                                      </span>
                                 </div>  
                              </div> 
                              <div class='col-12 col-lg-4'>
                                <div class="form-group">
                                    <label class="required">Guest Name</label>
                                    <input type="text" name="guestname" class="form-control" [(ngModel)]="linkadvance.guestname"
                                      #guestname="ngModel" value="{{linkadvance.guestname}}"  required autocomplete="off">
                                 </div>  
                              </div> 
                              

                              </div><!--guestinfofirstrow -->
                              <div class="guestinfofirstrow  row">
                                <div class='col-12 col-lg-12'>
                                    <div class="form-group  float-right" >                                   
                                        <button type="submit" [disabled]="myform.form.invalid" class="btn btn-success " ><i class="fa fa-save"></i> Save</button>    
                                      </div>  
                                  </div> 
                              </div>
                        
                      </form>


                 
                          </div>
                   </div>       
                  
        </div>
     </div>
 </div>

  

  

 <ng2-toasty [position]="position"></ng2-toasty>

