
<div class="outerdiv">

  <div class="card-header ripple ng-tns-c6-1 ng-star-inserted">
    <div class="row">
        <div class="col-md-11">
            <h5 class="ng-tns-c6-1">  Link Reservation Advance Receipt </h5>         
            
          </div>
        
    </div>
  </div>


  <div class="formdesign branchform" *ngIf="Show">
      <div class="col-xs-12 col-sm-12 col-md-6" style="padding-left: 0px;">
          <div class="panel-heading"  ><i class="fa fa-list" aria-hidden="true"></i>Link Reservation Advance Receipt</div>
          </div>
      <form [formGroup]="form" (ngSubmit)="Submit()"  class=" shadow p-3 mb-5 bg-white rounded" autocomplete="off" >
        <input type="hidden" class="form-control tooltip-form" id="ReceiptNoS" formControlName="ReceiptNo" name="ReceiptNo"> 
        <input type="hidden" class="form-control tooltip-form" id="BranchCodes" formControlName="BranchCode" name="BranchCode"> 
        <input type="hidden" class="form-control tooltip-form" id="ModifyBys" formControlName="ModifyBy" name="ModifyBy"> 
         

        <div class="row">
          
          <div class='col-md-12'>
            <label class="col-sm-3 form-control-label" for="PurchaseId"><i   class="fa fa-bed"></i> Select RoomNo</label>
            <select  class="custom-select" name="RoomNo" formControlName="RoomNo" id="RoomNo">  
            <option value="0">Select</option>
            <option *ngFor="let sour of roomlist" [value]="sour.RoomNo"> {{ sour.RoomNo }}</option>   
          </select>              
          </div>

        </div>

            <div class="test123 userlist gridtestpayarray"  >             
              <div class="row">
                <div class="col-lg-6" style="border: 1px solid #ccc;">
                  <div class="grid-table" style="width: 100%;">
                    <div class="thead">
                      <div class="">
                        <div class="td"><i  class="fa fa-building"></i> Select Mode</div>
                        <div class="td"><i  class="fa fa-bed"></i> Delect Detail</div>
                        <div class="td"><i  class="fa fa-paypal"></i>Amount</div>
                        <div class="td"><i  class="fa fa-area-chart"  ></i> Description</div>
                        <div class="td "><i  class="fa fa-cutlery"></i> Selected Mode</div>
                        
                     
                      
                      </div>
                    </div>
                    <div class="tbody">

                      <div formArrayName="PayArray"
                        *ngFor="let other of form.get('PayArray').controls; let k = index">
                        <div [formGroupName]="k">
                          <div class="tr">
                            <div class="td">
                          

                              <select  (change)="FilterPaymentMode(k)" disabled class="custom-select" name="Paymode" formControlName="Paymode"
                              id="Paymode" [ngClass]="{ 'is-invalid': submitted && form.Paymode.errors }">
                              <option value="select">Select</option>
                              <option *ngFor="let sour of paymentmode" [value]="sour">
                                {{ sour }}</option>
                            </select>


                            </div>

                            <div class="td">
                              <select class="custom-select" disabled  (change)="PatchSubModeName(k)" name="Paysubmode" formControlName="Paysubmode"
                              id="Paysubmode" [ngClass]="{ 'is-invalid': submitted && form.Paysubmode.errors }">
                              <option value="select">Select</option>
                              <option *ngFor="let Paysubmode of  subpaymodelist" [value]="Paysubmode">
                                {{ Paysubmode  }}</option>
                            </select> 


                            </div>

                        <div class="td">
                         <input type="number"  id="payAmount"
                          formControlName="payAmount" name="payAmount" disabled  autocomplete="off" required />
                        
          
                            </div>


                            <div class="td">
                              <input type="text" class="" id="Descriptions" disabled formControlName="Descriptions">
                              
                            </div>

                            <div class="td">
                              <input type="text" class="" id="modeselected" disabled formControlName="modeselected">
                              
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>


                  </div>
                  </div>
                  <div class="col-lg-6" style="border: 1px solid #ccc; padding: 10px;">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 width100" >
                      <div class=" ">
                        <label  id="BillAmount1"  ><span>Total Amount : </span> <b>{{TotalBillAmount | currency:'INR'}}</b> </label>   
                              
                      </div>
                    </div>
                  </div>
              </div>


              
            </div>
         
     

        <div class="col-md-12 row" style="padding-left: 0; padding-right: 0; margin:0;  " > 
          <div  style="width:100%" >
            <div class="form-group " style="float: right;" >                                   
              <button type="submit"  [disabled]="form.invalid" class="btn btn-success "  style=" display:inline-block"><i class="fa fa-save"></i> Register</button>    
              <button type="button"  (click)="CloseFormmodel()"   class="btn btn-danger" style="margin-left: 10px; display:inline-block"> <i class="fa  fa-times-circle"></i> Close</button>                           
           </div>
          </div> 
        </div> 


    </form>
</div>



<div class="productlist">
   
    <div class="table-content crm-table">
      <div class="project-table">
       
          <div class="row"> 
              <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="panel-heading"  ><i class="fa fa-list" aria-hidden="true"></i> Advance List</div>
              </div>
                     
          </div>
          


      <div class="col-sm-12 filter-bar" style="background-color: #fff;">
        <div class="row">
          <div class="input-group" style="padding:10px; margin-bottom: 0;">
            <input type="text" class="form-control" name="searchdata" #searchdata placeholder="Search here...">
            <span class="input-group-append ripple light" id="basic-addon1"><i
                (click)="ShowAllReservationList()" class="icofont icofont-search input-group-text"></i></span>
          </div>
          <div class="col-sm-4 linkbox" *ngFor="let data of BookingList">
            <!-- Invoice list card start -->
            <div class="card card-border-primary">
              <div class="card-header">
                <h5> {{data.GuestName | uppercase}}</h5>

                <div ngbDropdown class="dropdown-secondary dropdown f-right">
                  <!-- <button ngbDropdownToggle class="btn btn-primary btn-mini dropdown-toggle ripple light" type="button" id="dropdown9" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pay</button> -->
                  <a href="javasript:;" title="Checkin" (click)="LoadReservationCheckinpage(data.BookingNo)"
                    class="btn btn-info btn-mini b-none ripple light">
                    <i class="icofont icofont-eye-alt m-0"></i>Checkin</a>

                  <!-- <span class="f-left m-r-5 text-inverse" style="color: yellow;">Checkin : </span> -->
                </div>
                <br>
                <strong *ngIf="data.CompanyName !='0'" class="label label-primary">Company:
                  {{data.CompanyName}}</strong>

              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <ul class="list list-unstyled">
                      <li>Resv No #: &nbsp;{{data.BookingNo}}</li>
                      <li>Arr Date: <span class="text-semibold">{{data.ArivalDate | date}}</span></li>

                    </ul>
                  </div>
                  <div class="col-sm-6">
                    <ul class="list list-unstyled text-right">
                      <li>Total: &nbsp;{{data.BillAmount| currency:'INR'}}</li>
                      <li>Paid: <span class="text-semibold">{{data.AdvancePaidAmount| currency:'INR'}}</span>
                      </li>
                      <!-- <li>Advance Paid: <span class="text-semibold">{{'?'+data.AdvancePaidAmount| currency}}</span></li> -->
                    </ul>
                  </div>
                </div>
              </div>

              <!-- end of card-footer -->
            </div>
            <!-- Invoice list card end -->
          </div>


        </div>
        <!-- Task board design block end -->
      </div>












         
      </div>
    </div>
   
</div>
<!-- 
</app-card> -->




</div>



