<div class="col-md-12">
 
   
  <ngx-datatable style="width: 100%"
  class="data-table dt-chk"
    [rows]="rows"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="10"
    [selected]="selected"
    [selectionType]="'checkbox'"
    (activate)="onActivate($event)"
    (select)='onSelect($event)'>

    <ngx-datatable-column name="revcode"></ngx-datatable-column> 
    <ngx-datatable-column name="Name"></ngx-datatable-column>

    <ngx-datatable-column   [width]="150" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false"> 
      <ng-template class="datatable-checkbox" ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn"> 
           <label class="lblcenter">Complement</label> <br /> <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" class="checkcenter"/> 
      </ng-template> 
      <ng-template class="datatable-checkbox" ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn"> 
            <input id="complementcheckbox" type="checkbox" [checked]="complementisSelected" (click)="complementcheck($event)" (change)="onCheckboxChangeFn($event)" class="checkcenter"/> 
      </ng-template> 
    </ngx-datatable-column>
    
    

    <ngx-datatable-column   [width]="150" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false"> 
      <ng-template class="datatable-checkbox" ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn"> 
           <label class="lblcenter">Block</label> <br /> <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" class="checkcenter"/> 
      </ng-template> 
      <ng-template class="datatable-checkbox" ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn"> 
            <input id="blockcheckbox" type="checkbox" [checked]="blockisSelected" (click)="blockcheck($event)" (change)="onCheckboxChangeFn($event)" class="checkcenter"/> 
      </ng-template> 
    </ngx-datatable-column>

  </ngx-datatable>
  <div class="row">
    <div class='col-sm-12 selected-column'>
      <h4 class="sub-title p-t-15">Selected Row</h4>
      <span *ngFor='let sel of selected'>
          <label class="label label-primary">{{sel.name}}</label>
        </span>
      <span *ngIf="!selected.length">No Selections</span>
    </div>
  </div>
  <pre> {{ selected | json }}</pre>
</div>