 
 
       <form #f="ngForm" name="form" (ngSubmit)="onSubmit(f.form)" >
        <div class="test123   guestinfofirstrow paymentarray" >
          <div class="modelstyle">
         
        <input type="hidden" name="Id" class="form-control" [(ngModel)]="model.Id" #Id="ngModel" value="{{Id}}"  >
        <input type="hidden" name="BranchCode" class="form-control" [(ngModel)]="model.BranchCode" #BranchCode="ngModel" value="{{BranchCode}}">
 
        <input type="hidden" name="CreatedBy" class="form-control" [(ngModel)]="model.CreatedBy" #CreatedBy="ngModel" value="{{CreatedBy}}">
        <!-- <form #myform = "ngForm" (ngSubmit) = "onSubmit(myform)" > -->
            
                  
                    <div class="col-md-12"> 
                      <div class="row">
                         <div class="col-md-6">
                            <label class="required">RoomNo*</label>
                                <input type="text" name="RoomNo" readonly class="form-control" [(ngModel)]="model.RoomNo" #RoomNo="ngModel" value="{{Room}}"  required autocomplete="off">
                               
                        </div>  

                        <div class="col-md-6">
                          <label class="required">RoomCode*</label>
                              <input type="text" name="RoomCode" class="form-control" [(ngModel)]="model.RoomCode" #RoomCode="ngModel" value="{{RoomName}}"   required autocomplete="off">
                             
                      </div>  

                      </div> 
                      
                      <div class="row  ">
                        <div class="col-md-4 userlist">
                          <label style="padding:0px 20px 0 20px;border-bottom:2px double orange">Select Value*</label> 
                          <div class="form-check taxcheckbox" >
                         <ul  >
                         <li *ngFor="let cat of filterdata">
                        <input class="form-control"   (change)="onChange(cat.Id, $event.target.checked)" 
                         [(ngModel)]="cat.ischecked" name="{{ cat.RevName }}" type="checkbox" id="{{cat.Id}}" style="width: 15px;
                         float: left;">
                        <label style=" display: inline-block;
                        padding: 3px 0px 0px 10px;" class="form-check-label" for="{{cat.RevName}}">
                         {{cat.RevName}}
                          </label>    
                        </li>
                              </ul>
                              </div>
                        </div>
                        <div class="col-md-4 userlist"> 
                          <label style="padding:0px 20px 0 20px ; border-bottom:2px double orange" >Select Options</label> 
                          <ul>
                            <li>
                              <input type="radio" id="complement" name="selectioname" /> <label>Complement</label>
                            </li>
                            <li>
                              <input type="radio" id="block" name="selectioname" /><label>Block</label>
                            </li>
                          </ul> 
                        </div>
                        <div class="col-md-4 userlist"> 
                          <label style="border-bottom:2px double orange">Selected Value</label> <br/>
                         {{emailFormArray | json}}
                        </div>


                      </div>
  
                  </div>
                  <div class="row">
                    <div class="col-md-12 row"   > 
                      <div  style="width:100%" >
                        <div class="form-group  " style="float: right; padding: 10px;" >           
                          <button type="submit" [class.green]="f.form.valid" class="btn btn-success"    style=" display:inline-block" > <i class="fa fa-save"></i> Save</button>
                  
                      
                          <button type="button" (click)="closeMyModalPin($event)"  class="btn btn-danger" style="margin-left: 10px; display:inline-block"> <i class="fa  fa-times-circle"></i> Close</button>                           
                       </div>
                      </div> 
                    </div> 
                  </div>

               
          </div>
          </div>
        </form>
    


<!-- -----------table start Here------------ -->
<div class="productlist">
  <div class="shadow p-3 mb-5 bg-white rounded" >
<div class="table-content crm-table">
  <div class="project-table">
    <div id="crm-contact" class="dt-responsive"  *ngIf="data | async as data">
      <div class="row">

          <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="panel-heading"  ><i class="fa fa-list" aria-hidden="true"></i> Revenue Data List</div>
              </div>
        

      </div>

      <div class="table-responsive">
        <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>
          <tr class="blueorange-gradient" style="color: #fff;">
            <th style="width: 25%;">
              <mfDefaultSorter  by="Id">Id</mfDefaultSorter>
            </th>
            <th style="width: 75%;">
              <mfDefaultSorter  by="RevName">Revenue Name </mfDefaultSorter>
            </th> 
           
          </tr>
          <tr>
          </tr>
          </thead>
          <tbody>

           <tr *ngFor="let item of mf.data; let i = index;" >
              <td style="width: 25%;">{{item.Id}}</td>
             <td style="width: 75%;">{{item.RevName}}</td>

           
          </tr>
          </tbody>
          <tfoot>
          <tr class="blueorange-gradient" style="color: #fff;">
             <th style="width: 25%;">Id</th>
            <th style="width: 75%;">Revenue Name</th> 
          </tr>
          <tr>
            <td colspan="10">
              <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>

    </div>
  </div>
</div>

</div>
</div>
<!-- -----------table End Here------------ -->
 


