<!-- 
 <input type="text" name="Name" class="form-control" [(ngModel)]="Name" #Name1="ngModel" value="{{Name}}"    required autocomplete="off"> 

 <h1>Hello {{Name}}</h1> -->

<div class="outerdiv blockingfrm">
  <div class="formdesign" style="padding: 0;">
      <div class="userlist">
               <form [formGroup]="blockingdetailsform" (ngSubmit)="Submit(blockingdetailsform)"> 
            
                  <div class="container-fluid" >             
                      <div class='row'>                            
                            <div class="col-md-12">
                                <div class="row">
                                  <div class="col-md-12" > 

                                    <div class="guestinfofirstrow  row">

                                      <div class='col-12 col-lg-6 col-md-4 col-sm-4'>
                                        <div class="form-group">
                                          <label class="form-control-label" for="Short Time">Short Time</label>                                                                                  
                                          <input type="radio" (click)="Selected('SHORT')"  class="form-control" style="width: 15px" value="SHORT" formControlName="Status">  
                                                                                
                                        </div>
                                      </div>


                                      <div class='col-12 col-lg-6 col-md-4 col-sm-4'>
                                        <div class="form-group">
                                          <label class="form-control-label" for="Long Time">Long Time </label>
                                          <input type="radio" value="LONG" (click)="Selected('LONG')" class="form-control" style="width: 15px" formControlName="Status"> 
                                        
                                
                                        </div>
                                      </div>
                                     
                                    </div>

                                     <div *ngIf=IsLongTime>
                                       <p>You Clicked Long Time this Block Room Will affect in Room Chart</p>
                                     </div>

                                     <div *ngIf=!IsLongTime>
                                      <p>You Clicked Short Time this Block Room Will not  affect in Room Chart</p>
                                    </div>
   
                            {{RoomNo}}

                                  <div class="guestinfofirstrow  row">
                                    <div class='col-12 col-lg-4'>
                                      <div class="form-group">
                                        <label class="form-control-label" for="date">From</label>
                                        <input  id="Blockfrmdate" name="Blockfrmdate"  formControlName="Blockfrmdate"  readonly type="text" bsDatepicker  [minDate]="minDate" placement="bottom"   [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',containerClass: 'theme-dark-blue'}" class="form-control"> 
                                       </div>  
                                    </div>
                                   
                                    <div class='col-12 col-lg-4'>
                                      <div class="form-group">
                                        <label class="form-control-label" for="date">To</label>
                                        <input  id="BlocktoDate" name="BlocktoDate"  formControlName="BlocktoDate"  readonly type="text" bsDatepicker   [minDate]="minDate" placement="bottom"   [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',containerClass: 'theme-dark-blue'}" class="form-control">
                                       </div>  
                                    </div>
                                    <div class='col-12 col-lg-4'>
                                      <div class="form-group">
                                        <label class="form-control-label" for="rmno">Room No </label>
                                        <input type="text" class="form-control tooltip-form" id="roomnod" formControlName="roomno" value=" {{RoomNo}}" readonly name="roomno" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && blockingdetailsform.controls.roomno.errors || blockingdetailsform.controls.roomno.touched || blockingdetailsform.controls.roomno.dirty}" required  />  
                                        <div class="invalid-feedback" *ngIf="blockingdetailsform.controls.roomno.errors?.required" >Roomno is required</div>
                                        </div>  
                                    </div>
                                    <div class='col-12 col-lg-4'>
                                      <div class="form-group">
                                        <label class="form-control-label" for="rmcd">Room Code </label>
                                        <input type="text" class="form-control tooltip-form" id="roomcoded" formControlName="roomcode" value=" {{RoomCode}}" readonly name="roomcode" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && blockingdetailsform.controls.roomcode.errors || blockingdetailsform.controls.roomcode.touched || blockingdetailsform.controls.roomcode.dirty}" required  />  
                                        <div class="invalid-feedback" *ngIf="blockingdetailsform.controls.roomcode.errors?.required" >Roomcode is required</div>
                                        </div>  
                                    </div>
                                    <div class='col-12 col-lg-4'>
                                      <div class="form-group">
                                        <label class="form-control-label" for="rmnme">Name </label>
                                        <input type="text" class="form-control tooltip-form" id="rname" formControlName="rname" name="rname" autocomplete="off" [ngClass] = "{'is-invalid' : submitted && blockingdetailsform.controls.rname.errors || blockingdetailsform.controls.rname.touched || blockingdetailsform.controls.rname.dirty}" required  />  
                                        <div class="invalid-feedback" *ngIf="blockingdetailsform.controls.rname.errors?.required" >Name is required</div>
                                        </div>  
                                    </div>
                                    <div class='col-12 col-lg-12'>
                                      <div class="form-group">
                                          <label class="form-control-label" for="reason">Reason For Blocking </label>
                                           <textarea class="form-control" rows="2" id="reason" formControlName="reason" name="reason" autocomplete="off"></textarea>  
                                           </div>   
                                    </div>
                                   
                                     </div>
                                                                     
                                   </div>
                               </div>
                          </div>
                      </div>
                      <div class="row modelbtn">   
                        <div class="col-md-12">
                          <button  class="btn btn-primary"><i class="fa  fa-close"></i> Close </button>
                          <button  type="submit"  class="btn btn-primary"> Blocking Details </button> 
                        </div>  
                       </div>  
                  </div>
               </form>
      </div>
   </div>
</div>
