<!-- 
 <input type="text" name="Name" class="form-control" [(ngModel)]="Name" #Name1="ngModel" value="{{Name}}"    required autocomplete="off"> 

 <h1>Hello {{Name}}</h1> -->

  

          
              <form [formGroup]="blockingdetailsform" (ngSubmit)="Submit(blockingdetailsform)"> 
                <div class="formdesign" style="padding: 0;">    
                  <div class="test123   guestinfofirstrow paymentarray" >
                    <div class="modelstyle"> 
                      <input type="hidden"  formControlName="ID"  readonly name="ID" autocomplete="off"/>
                      <input type="hidden"  formControlName="CreatedBy" value="{{CreatedBy}}"  readonly name="CreatedBy" autocomplete="off"/>
                      <input type="hidden"  formControlName="BranchCode" value="{{BranchCode}}" readonly name="BranchCode" autocomplete="off"/>

                      <div class="container-fluid" >             
                        <div class='row'>                            
                              <div class="col-md-12">
                                  <div class="row">
                                    <div class=" " > 
                                      {{RoomCodeS}}
   
                                      <div class="guestinfofirstrow  row"> 
                                        <div class='col-12 col-lg-6 col-md-4 col-sm-4'>
                                          <div class="form-group">                                                    
                                            <input type="radio" (click)="Selected('SHORT')"  class="form-control" style="width: 15px; float:left" value="SHORT" formControlName="Status">                      
                                            <label class="form-control-label" for="Short Time" style="padding: 2px 0px 0px 10px">Short Time</label> 
                                          </div>
                                        </div> 
   
                                        <div class='col-12 col-lg-6 col-md-4 col-sm-4'>
                                          <div class="form-group"> 
                                            <input type="radio" value="LONG" (click)="Selected('LONG')" class="form-control" style="width: 15px;float:left" formControlName="Status">  
                                            <label class="form-control-label" for="Long Time" style="padding: 2px 0px 0px 10px">Long Time </label>
                                          </div>
                                        </div>
                                       
                                      </div>
   
                                       <div *ngIf=IsLongTime>
                                         <p>You Clicked Long Time this  Room Will affect in Room Chart</p>
                                       </div>
   
                                       <div *ngIf=!IsLongTime>
                                        <p>You Clicked Short Time this  Room Will not  affect in Room Chart</p>
                                      </div>
     
                            
   
                                    <div class="guestinfofirstrow  row">
                                      <div class='col-12 col-lg-3'>
                                        <div class="form-group">
                                          <label class="form-control-label" for="date">From</label>
                                          <input  id="BlockDate" name="BlockDate"  formControlName="BlockDate"  readonly type="text" bsDatepicker  [minDate]="minDate" placement="bottom"   [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',containerClass: 'theme-dark-blue'}" class="form-control"> 
                                         </div>  
                                      </div>
                                     
                                      <div class='col-12 col-lg-3'>
                                        <div class="form-group">
                                          IsLongTime                <label class="form-control-label" for="date">To</label>
                                          <input  id="ReleaseDate" name="ReleaseDate"  formControlName="ReleaseDate"  readonly type="text" bsDatepicker   [minDate]="minDate" placement="bottom"   [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',containerClass: 'theme-dark-blue'}" class="form-control">
                                         </div>  
                                      </div>
                                      
                                      <div class='col-12 col-lg-3'>
                                        <div class="form-group">
                                          <label class="form-control-label" for="rmno">Room No </label>
                                          <input type="text" class="form-control tooltip-form" id="roomnod" formControlName="RoomNo" value=" {{RoomNo}}" readonly name="RoomNo" autocomplete="off"  required  />  
         
                                          </div>  
                                      </div>
                                      <div class='col-12 col-lg-3'>
                                        <div class="form-group">
                                          <label class="form-control-label" for="rmcd">Room Code </label>
                                          <input type="text" class="form-control tooltip-form" id="roomcoded" formControlName="RoomCode" value=" {{RoomCode}}" readonly name="RoomCode" autocomplete="off"  required  />  
                                        
                                          </div>  
                                      </div>
                                   
                                      <div class='col-12 col-lg-12'>
                                        <div class="form-group">
                                            <label class="form-control-label" for="reason">Reason</label>
                                             <textarea class="form-control" rows="2" id="Reason" formControlName="Reason" name="Reason" autocomplete="off"></textarea>  
                                             </div>   
                                      </div>
                                     
                                       </div>
                                                                       
                                     </div>
                                 </div>
                            </div>
                        </div>
                        <div class="row modelbtn">   
                          <div class="col-md-12">
                            <button  type="button"  (click)="closeMyModalPin($event)" class="btn btn-danger"><i class="fa  fa-close"></i> Exit </button>
                            <button  type="submit"  class="btn btn-success"> Process </button> 
                          </div>  
                         </div>  
                    </div>


                      </div>
                    </div>
                  </div>

               
               
                 
              </form>
     
           
 
<!-- 
<ng2-toasty [position]="position"></ng2-toasty> -->