<div class="outerdiv">

  <div class="card-header ripple ng-tns-c6-1 ng-star-inserted">
    <div class="row">
        <div class="col-md-11">
            <h5 class="ng-tns-c6-1">Room Cancelation</h5>         
            <span class="ng-tns-c6-1 ng-star-inserted">Room Cancelation Details Entry...  </span>
          </div> 
    </div>
  </div>
</div>
<div class="outerdiv">
    <div class="formdesign checkinforms checkinformsgrops" style="padding: 0;">
  
      <form [formGroup]="form" (ngSubmit)="Submit()" class="  " autocomplete="off">
              <div class="container-fluid"  style="background-color: #fff;">
   
          <div class='row tabouter' style="margin-bottom: 0;"> 

            <div class="col-md-12" style="padding-left: 0;">
              <div class="userlist"> 
                 
                  <div class="row" style="margin-bottom: 0;">
                    <div class='col-12 col-lg-12 col-md-4 col-sm-4'>
                      <div class="form-group">
                        <label class="form-control-label" for="roomno">Room No </label>
                        <select class="custom-select"  name="roomno" formControlName="roomno"
                        id="roomno" [ngClass]="{ 'is-invalid': submitted && form.roomno.errors }">
                        <option value="0">Select</option>
                        <option *ngFor="let ROOM of  RoomList" [value]="ROOM.RoomNo">
                          {{ ROOM.RoomNo  }}</option>
                      </select> 
                      <div *ngIf="submitted && form.roomno.errors" class="invalid-feedback">
                        <div *ngIf="form.roomno.errors.required">roomno is required</div>
                      </div>
                      </div>  
                    </div>

                  
                  </div><!-- end of row -->

                
                <div class="row  " style="margin-bottom: 0;"> 
                      <div class='col-12  col-md-12 '>
                        <div class="form-group">
                          <label class="form-control-label" for="reason">Reason </label>
                          <textarea class="form-control" rows="5" id="reason"  formControlName="reason" name="reason" ></textarea> 
                         </div>  
                      </div> 
                    </div>
           
          </div>
          <button type="button"    class="btn btn-sm btn-danger m-r-5 m-l-5 float-right" >Close</button>   
          <button type="submit" id="save" class="btn btn-sm btn-primary m-r-5 m-b-10 m-l-5 float-right" >Save</button>                                                                                 

        </div>
        
          </div>
          </div>
          </form>
          </div>
          </div>

          

      <ng2-toasty [position]="position"></ng2-toasty>