<div class="outerdiv">

        <div class="card-header ripple ng-tns-c6-1 ng-star-inserted">
          <div class="row">
              <div class="col-md-11">
                  <h5 class="ng-tns-c6-1">Plan Creation</h5>
                  <span class="ng-tns-c6-1 ng-star-inserted">Plan Creation details  </span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-1">
                    <button type="button" class="btn btn-sm btn-success text-white" (click)="Showhide()" > <i class="icofont icofont-plus m-r-5"></i> {{btitle}}
                  </button>
                </div>
          </div>
        </div>



        <div class="formdesign aqua-gradient" *ngIf="isShown">
            <div class="formouter rotate" >
             <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
                <input type="hidden" name="Id" class="form-control" [(ngModel)]="model.Id" #Id="ngModel" value="{{Id}}"  >
                <input type="hidden" name="BranchCode" class="form-control" [(ngModel)]="model.BranchCode" #BranchCode="ngModel" value="{{BranchCode}}">
                <input type="hidden" name="IpAdd" class="form-control" [(ngModel)]="model.IpAdd" #IpAdd="ngModel" value="{{IpAdd}}">
                <input type="hidden" name="CreatedBy" class="form-control" [(ngModel)]="model.CreatedBy" #CreatedBy="ngModel" value="{{CreatedBy}}">

                 <div class="auth-box card">
                       <div class="card-block">
                         <div class="frmdata" >
                            <div class="containar">
                                <div class="row">
                                    <div class="col-md-12">

                                      <div class="row">
                                        <!-- <div class="col-md-4">
                                            <label class="required">Plan Name*</label>
                                                <input type="text" name="PlanName" class="form-control" [(ngModel)]="model.PlanName" #PlanName="ngModel" value="{{PlanName}}"  [ngClass]="{'is-invalid': PlanName.touched && PlanName.invalid}"  required autocomplete="off">
                                                <div *ngIf="PlanName.touched && PlanName.invalid" class="invalid-feedback">
                                                    <div *ngIf="PlanName.errors.required">PlanName is invalid</div>
                                                </div>
                                        </div>  -->

                                     
                                        <div class="col-md-6">
                                            <label>Select Plan*</label>
                                                <select appSelectValidator class="custom-select"  #PlanId="ngModel" [class.is-invalid]="PlanId.errors?.defaultSelected && PlanId.touched" name="PlanId" [(ngModel)]="model.PlanId">
                                                  <option value="-1">Please Select</option>
                                                  <option [value]="catagery.Id" *ngFor="let catagery of catagerys">{{ catagery.PlanName }}</option>
                                                </select>
                                                <small class="text-danger" [class.d-none]="PlanId.untouched && PlanId.errors?.defaultSelected">Please choose a catagery</small>
                                        </div>


<!-- 
                                        <div class="col-md-6">
                                          <label>Select Catagery*</label>
                                              <select class="custom-select" (blur)="validateroom(catagery.value)" (change)="validateroom(catagery.value)" #catagery="ngModel" [class.is-invalid]="catageryhasError && catagery.touched" name="catagery" [(ngModel)]="model.catagery">
                                                <option value="default">Please Select</option>
                                                <option *ngFor="let catagery of catagerys">{{ catagery }}</option>
                                              </select>
                                              <small class="text-danger" [class.d-none]="!catageryhasError || catagery.untouched">Please choose a catagery</small>                
                                      </div>  -->

                                     
                                        <div class="col-md-6">
                                            <label>Plan Amount*</label>
                                            <input type="number" name="PlanAmount" class="form-control" [(ngModel)]="model.PlanAmount" #PlanAmount="ngModel" value="{{PlanAmount}}"  [ngClass]="{'is-invalid': PlanAmount.touched && PlanAmount.invalid}"  required autocomplete="off">
                                            <div *ngIf="PlanAmount.touched && PlanAmount.invalid" class="invalid-feedback">
                                              <div *ngIf="PlanAmount.errors.required">Plan Amount is invalid - Please enter numeric value</div>
                                            </div>
                                        </div>
                                      </div>
                                      {{emailFormArray | json}}
                                      <div class="row">
                                          <label>Select Tax*</label>
                                              <!-- <ul>
                                                <li *ngFor="let item of roles;let i = index">
                                                  <input type="checkbox" [id]="'roles-'+i" value="{{item.TaxCode}}" [checked]="item.selected">
                                                  <label [for]="'roles-'+i">{{item.TaxName}}</label>
                                                </li>
                                              </ul> -->
                                           
<!-- 
                                                 <div *ngFor="let choice of roles;let i=index">
                                                      <label>{{ choice.TaxName }}</label>
                                                 <input type="checkbox" [value]="{{ choice.Id }}" id="{{ choice.Id }}" #IsActive="ngModel" name="{{ choice.Id }}" /> 
                                                  </div>  -->

<div class="form-check" >
 
  <ul>
    <li *ngFor="let cat of categories">
        <input class="form-check-input"  (change)="onChange(cat.Id, $event.target.checked)" 
        [(ngModel)]="cat.ischecked" name="{{ cat.name }}" type="checkbox" id="{{cat.Id}}">
        <label class="form-check-label" for="{{cat.name}}">
            {{cat.name}}
        </label>
        
    </li>
  </ul>

   
</div>


                                      </div>

                                      <!-- <div class="col-md-6">
                                          <input type="checkbox" name="IsActive" id="IsActive" class="form-check-input" [(ngModel)]="model.IsActive" #IsActive="ngModel" [ngClass]="{ 'is-invalid': IsActive.touched && IsActive.invalid }" required>
                                          <label class="form-control-label" for="IsActive"  style="padding-right: 10px;">IsActive*  </label>
                                          <div *ngIf="IsActive.touched && IsActive.invalid" class="invalid-feedback">Active is required</div>
                                  </div> -->



                                  </div>


                                </div>
                              </div>
                         </div>
                         <div class="row m-t-30">
                            <div class="col-md-12 text-center" >
                              <button type="submit" [class.green]="f.form.valid" [disabled]="f.form.invalid" class="btn btn-secondary  btn-md btn-sml waves-light text-center m-b-20 ripple m-r-10">Save</button>
                              <button type="button" (click)="Closeform()" class="btn btn-primary btn-md btn-sml waves-light text-center m-b-20  ripple">Reset</button>
                            </div>
                          </div>
                        </div>
                  </div>
              </form>
           </div>
         </div>


    <!-- -----------table start Here------------ -->
    <div class="productlist">
            <div class="shadow p-3 mb-5 bg-white rounded" >
          <div class="table-content crm-table">
            <div class="project-table">
              <div id="crm-contact" class="dt-responsive"  *ngIf="data | async as data">
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="panel-heading"  ><i class="fa fa-list" aria-hidden="true"></i> Other Tax Data List</div>
                        </div>
                      <div class="col-xs-12 col-sm-12 col-md-6">
                        <div style="text-align: right;">
                          <label class="searchlbl"><img src="/assets/images/cogwaveimages/searchison.png" width="20px" height="20px">
                            <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                          </label>
                        </div>
                      </div>

                </div>

                <div class="table-responsive">
                  <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                    <tr class="blueorange-gradient">
                      <th>
                        <mfDefaultSorter  by="PlanId">PlanId</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter  by="PlanName">PlanName</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter  by="PlanAmount">PlanAmount</mfDefaultSorter>
                      </th>
                      <th>
                          <mfDefaultSorter  by="TaxId">TaxId</mfDefaultSorter>
                      </th>

                      <th>
                        <mfDefaultSorter>Action</mfDefaultSorter>
                      </th>
                    </tr>
                    <tr>
                    </tr>
                    </thead>
                    <tbody>

                     <tr *ngFor="let item of mf.data; let i = index;">
                        <td>{{item.PlanId}}</td>
                       <td>{{item.PlanName}}</td>

                      <td>{{item.PlanAmount}}</td>
                      <td>{{item.TaxId}}</td>
                      <td class="action-icon">
                          <a href="javascript:;" class="m-r-15 crm-action-view text-info" (click)="openMyModal('effect-4',item)"><i class="fa fa-book"></i></a>
                          <a href="javascript:;" class="m-r-15 crm-action-edit text-primary" (click)="openMyModalData(i)"><i class="fa fa-edit"></i></a>

                      </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="blueorange-gradient">
                       <th>PlanId</th>
                      <th>PlanName</th>

                      <th>PlanAmount</th>
                      <th>TaxId</th>
                      <th>Action</th>
                    </tr>
                    <tr>
                      <td colspan="10">
                        <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                      </td>
                    </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>

    </div>
    </div>
    <!-- -----------table End Here------------ -->
    </div>


    <!-- lightbox-->
    <app-modal-animation [modalID]="'effect-4'" [modalClass]="'md-effect-4'">
      <h3 class="f-15">View  Other Tax Details</h3>

        <div class="app-modal-body text-center">
            <table class="table table-striped text-left m-t-10">
                <tr>
                    <td>PlanId :</td>
                    <td>{{ model.PlanId }}</td>
                  </tr>
                <tr>
                  <td>PlanName :</td>
                  <td>{{ model.PlanName }}</td>
                </tr>

                <tr>
                  <td>PlanAmount :</td>
                  <td>{{ model.PlanAmount }}</td>
                </tr>
                <tr>
                    <td>TaxId :</td>
                    <td>{{ model.TaxId }}</td>
                  </tr>
               </table>
               <button (click)="closeMyModal($event)" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>
          </div>

        </app-modal-animation>