<div class="outerdiv">

        <div class="card-header ripple ng-tns-c6-1 ng-star-inserted">
            <div class="row">
                <div class="col-md-11">
                    <h5 class="ng-tns-c6-1">User Creation{{mode}}</h5>
                    <span class="ng-tns-c6-1 ng-star-inserted">User Creation  for Branch </span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-1">
                    <button type="button" class="btn btn-sm btn-success text-white" (click)="Showhide()"> <i
                            class="icofont icofont-plus m-r-5"></i> {{btitle}}
                    </button>
                </div>
            </div>
        </div>
    
    
    
        <div class="formdesign aqua-gradient" *ngIf="isShown">
            <div class="formouter rotate">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit(f.form)" #f="ngForm">
                    <input type="hidden" name="UserId" class="form-control" [(ngModel)]="model.UserId" #UserId="ngModel" value="{{UserId}}"  >
                   
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="frmdata">
                                <div class="containar">
                                    <div class="row">
                                        <div class="col-md-12">
                                             <div class="row">
                                                <div class="col-md-6">
        
                                                    <label class="required">UserName*</label>
                                                      <input type="text" name="UserName" class="form-control" [(ngModel)]="model.UserName" #UserName="ngModel" value="{{UserName}}"  [ngClass]="{'is-invalid': UserName.touched && UserName.invalid}"  required autocomplete="off">
                                                      <div *ngIf="UserName.touched && UserName.invalid" class="invalid-feedback">
                                                          <div *ngIf="UserName.errors.required">RoomCode is invalid</div>
                                                      </div>
                                                </div> 
                                                <div class="col-md-6">
        
                                                    <label class="required">FirstName*</label>
                                                      <input type="text" name="FirstName" class="form-control" [(ngModel)]="model.FirstName" #FirstName="ngModel" value="{{FirstName}}"  [ngClass]="{'is-invalid': FirstName.touched && FirstName.invalid}"  required autocomplete="off">
                                                      <div *ngIf="FirstName.touched && FirstName.invalid" class="invalid-feedback">
                                                          <div *ngIf="FirstName.errors.required">FirstName is invalid</div>
                                                      </div>
                                                </div> 
                                            </div>
    
                                            <div class="row">
                                                <div class="col-md-6">
        
                                                    <label class="required">LastName*</label>
                                                      <input type="text" name="LastName" class="form-control" [(ngModel)]="model.LastName" #LastName="ngModel" value="{{LastName}}"  [ngClass]="{'is-invalid': LastName.touched && LastName.invalid}"  required autocomplete="off">
                                                      <div *ngIf="LastName.touched && LastName.invalid" class="invalid-feedback">
                                                          <div *ngIf="LastName.errors.required">LastName is invalid</div>
                                                      </div>
                                                </div> 
                                                <div class="col-md-6">
        
                                                    <label class="required">MobileNo*</label>
                                                      <input type="number" name="MobileNo" class="form-control" [(ngModel)]="model.MobileNo" #MobileNo="ngModel" value="{{MobileNo}}"  [ngClass]="{'is-invalid': MobileNo.touched && MobileNo.invalid}"  required autocomplete="off">
                                                      <div *ngIf="MobileNo.touched && MobileNo.invalid" class="invalid-feedback">
                                                          <div *ngIf="MobileNo.errors.required">MobileNo is invalid</div>
                                                      </div>
                                                </div> 
                                            </div>
    
                                            <div class="row">
    
                                                    <div class='col-md-6'>
                                                            <div class="form-group">
                                                                <label class="form-control-label" for="DOB">DOB Date</label>
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                      <input class="form-control" placeholder="Date" name="DOB" [(ngModel)]="model.DOB" value="{{model.DOB | date: 'dd-MM-yyyy'}}" ngbDatepicker #d="ngbDatepicker">
                                                                      <div class="input-group-append bg-default" (click)="d.toggle()" >
                                                                        <span class="icofont icofont-ui-calendar input-group-text"></span>
                                                                      </div>
                                                                    </div>
                                                                  </div>                                                         
                                                            </div>
                                                        </div>
                                                        <div class='col-md-6'>                                                          
                                                            <label class="required">EmailId*</label>
                                                                <input type="email" name="EmailId" class="form-control" [(ngModel)]="model.EmailId" #EmailId="ngModel" value="{{EmailId}}"  [ngClass]="{'is-invalid': EmailId.touched && EmailId.invalid}"   required autocomplete="off">
                                                                <div *ngIf="EmailId.touched && EmailId.invalid" class="invalid-feedback">
                                                                  <div *ngIf="EmailId.errors.required">EmailId is invalid</div>
                                                                </div>
                                                        </div>                                               
                                            </div>
                                           
    
     
    
                                            <div class="row">
                                                <div class="col-md-6">
                                                    
                                                    <label class="required">Password*</label>
                                                    <input type="password" name="password" class="form-control"  [(ngModel)]="model.password" #password="ngModel" value="{{password}}"  required>
                                                    <div class="text-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                                                        Password Is Required
                                                    </div>
                                                    
                                                </div>
    
                                                <div class="col-md-6">
    
                                                    <label class="required">Conform Password*</label>
                                                    <input type="password" name="ConformPassword" class="form-control"
                                                    [(ngModel)]="model.ConformPassword" #passwconfrm="ngModel" value="{{ConformPassword}}"  required compare="password">
                                                        <div class="text-danger" *ngIf="passwconfrm.invalid && (passwconfrm.dirty || passwconfrm.touched)">
                                                            <div *ngIf="passwconfrm.errors['required']">Password confom is required</div>
                                                            <div *ngIf="passwconfrm.errors['compare']">Password confom not match</div>
                                                        </div>
                                                        
    
                                                </div>
    
                                            </div>
    
                                            <div class="row">
                                                    <div class="col-md-12">
        
                                                            <label>Address*</label>
                                                              <textarea name="Address" class="form-control" [(ngModel)]="model.Address" #Address="ngModel" value="{{Address}}"  [ngClass]="{'is-invalid': Address.touched && Address.invalid}"  required  autocomplete="off"></textarea>   
                                                              <div *ngIf="Address.touched && Address.invalid" class="invalid-feedback">
                                                                  <div *ngIf="Address.errors.required">Address is Required </div>
                                                              </div>
                                                        </div>
                                            </div> 
                                            <div class="row">
                                                    <div class="col-md-6">
        
                                                            <label class="required">GracePeroid*</label>
                                                              <input type="number" name="GracePeroid" max="12" class="form-control" [(ngModel)]="model.GracePeroid" #GracePeroid="ngModel" value="{{GracePeroid}}"  [ngClass]="{'is-invalid': GracePeroid.touched && GracePeroid.invalid}"  required autocomplete="off">
                                                              <div *ngIf="GracePeroid.touched && GracePeroid.invalid" class="invalid-feedback">
                                                                  <div *ngIf="GracePeroid.errors.required">GracePeroid is invalid</div>
                                                              </div>
                                                        </div> 
    
                                                        <div class="col-md-6">
                                                                <label>Discount Type*</label>
                                                                    <select class="custom-select" (blur)="validatediscount(Discount.value)" (change)="validatediscount(Discount.value)" #Discount="ngModel" [class.is-invalid]="distypeicHasError && Discount.touched" name="Discount" [(ngModel)]="model.Discount">
                                                                      <option value="default">Please Select</option>
                                                                      <option [value]="dis" *ngFor="let dis of Distype">{{ dis }}</option>
                                                                    </select>
                                                                    <small class="text-danger" [class.d-none]="!distypeicHasError || dis.untouched">Please choose a topic</small>                
                                                        </div> 
                                            </div>
    
                                            <div class="row">
                                                    
    
                                                    <div class="col-md-6">
        
                                                            <label class="required">Discount Value*</label>
                                                              <input type="number" name="DiscountAmount" class="form-control" [(ngModel)]="model.DiscountAmount" #DiscountAmount="ngModel" value="{{DiscountAmount}}"  [ngClass]="{'is-invalid': DiscountAmount.touched && DiscountAmount.invalid}"  required autocomplete="off">
                                                              <div *ngIf="DiscountAmount.touched && DiscountAmount.invalid" class="invalid-feedback">
                                                                  <div *ngIf="DiscountAmount.errors.required">Discount Value is invalid</div>
                                                              </div>
                                                        </div> 
    
                                                        <div class="col-md-6">
                                                                <input type="checkbox" name="IsActive" id="IsActive" class="form-check-input" [(ngModel)]="model.IsActive" #IsActive="ngModel" [ngClass]="{ 'is-invalid': IsActive.touched && IsActive.invalid }" required>
                                                                <label class="form-control-label" for="IsActive"  style="padding-right: 10px;">IsActive*  </label>
                                                                <div *ngIf="IsActive.touched && IsActive.invalid" class="invalid-feedback">Active is required</div>
                                                        </div>
                                            </div>
    
    
                                                    <div class="form-check" >
     
                                                      <ul>
                                                        <li *ngFor="let item of roles; let i = index">
                                                            <input class="form-check-input" 
                                                            [(ngModel)]="item.ischecked" name="{{ item.Name }}" type="checkbox" (change)="updateSelectedRoles(i)" id="{{item.Id}}">
                                                            <label class="form-check-label" for="{{item.Name}}">
                                                                {{item.Name}}
                                                            </label>
                                                            
                                                        </li>
                                                      </ul>
                                                    
                                                       
                                                    </div>
                                                    
    
    
                                                    <div class="row">
                                                            <label>Select Product To Access*</label>
                                                            
                                                                    <ul>
                                                                            <!-- <li *ngFor="let cat of prulist; let k = index">
                                                                                    <input type="checkbox" [id]="'prulist-'+k" value="{{cat.Id}}" [checked]="cat.selected" (change)="updateProduct(k)"  >
                                                                                    <label [for]="'prulist-'+k">{{cat.Name}}</label>
    
                                                                            </li> -->
    
    
                                                                            <li *ngFor="let cat of prulist">
                                                                              <input class="form-check-input" 
                                                                              [(ngModel)]="cat.selected" name="{{ cat.Name }}" type="checkbox" id="{{cat.Id}}">
                                                                              <label class="form-check-label" for="{{cat.Name}}">
                                                                                  {{cat.Name}}
                                                                              </label>
                                                                              
                                                                          </li>
                                                                    </ul>
                                                            
                                                    </div>
    
                                                    <!-- <div class="row">
                                                        <h3>Angular 7 Image Preview before Upload:</h3>
                                                        <span style="color:red;" *ngIf="message">{{message}}</span>
                                                        <input #file type="file" accept='image/*' (change)="preview(file.files)" />
                                                        <img [src]="imgURL" height="200" *ngIf="imgURL">
    
                                                    </div> -->
                                        </div>
    
    
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-30">
                                    <div class="col-md-12 text-center" >
            
                                      <button type="submit" [class.green]="f.form.valid"  [disabled]="f.form.invalid" class="btn btn-primary btn-md btn-sml waves-light text-center m-b-20 ripple m-r-10">Save</button>
                                      <button type="button" (click)="Closeform()" class="btn btn-primary btn-md btn-sml waves-light text-center m-b-20  ripple">Close</button>
                                    </div>
                                  </div>
                        </div>
                    </div>
                </form>
    
               
            </div>
        </div>
    
        <div class="productlist">
            <div class="shadow p-3 mb-5 bg-white rounded" >
          <div class="table-content crm-table">
            <div class="project-table">
              <div id="crm-contact" class="dt-responsive" *ngIf="data | async as data">
                <div class="row">
       
      
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="panel-heading"  ><i class="fa fa-list" aria-hidden="true"></i> Floor Data List</div>
                        </div>
                      <div class="col-xs-12 col-sm-12 col-md-6">
                        <div style="text-align: right;">
                          <label class="searchlbl"><img src="/assets/images/cogwaveimages/searchison.png" width="20px" height="20px">
                            <!-- <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name"> -->
                            <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                          </label>
                        </div>
                      </div>  
    
                </div>
                 
                <div class="table-responsive">
                  <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"> 
                    <thead>
                    <tr class="blueorange-gradient">
                      <!-- <th>
                        <mfDefaultSorter  by="image">Profile</mfDefaultSorter>
                      </th> -->
                      <th>
                        <mfDefaultSorter  by="UserId">UserId</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter  by="UserName">UserName</mfDefaultSorter>
                      </th>
                     
                      <th>
                        <mfDefaultSorter by="IsRole">IsRole</mfDefaultSorter>
                      </th>
                      <th>
                        <mfDefaultSorter  by="GracePeroid">GracePeroid</mfDefaultSorter>
                      </th>
    
                        <th>
                            <mfDefaultSorter  by="Discount">Discount</mfDefaultSorter>
                        </th>
    
                        <th>
                            <mfDefaultSorter  by="DiscountAmount">DiscountAmount</mfDefaultSorter>
                        </th>
                      <th>
                        <mfDefaultSorter>Action</mfDefaultSorter>
                      </th>
                    </tr>
                    <tr>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of mf.data; let i = index;">
                      <!-- <td><img src="{{item.image}}" class="d-inline-block img-circle " alt="tbl"></td> -->
                      <td>{{item.UserId}}</td>
                      <td>{{item.UserName}}</td>
                      
                      <td>{{item.IsRole}}</td>
                      <td>{{item.GracePeroid}}</td>
                      <td>{{item.Discount}}</td>
                      <td>{{item.DiscountAmount}}</td>
                      <td class="action-icon">
                          <a href="javascript:;" class="m-r-15 crm-action-view text-info" (click)="openMyModal('effect-4',item)"><i class="fa fa-book"></i></a>
                          <a href="javascript:;" class="m-r-15 crm-action-edit text-primary" (click)="openMyModalData(i)"><i class="fa fa-edit"></i></a>
                          
                      </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="blueorange-gradient">
                      <!-- <th>Profile</th> -->
                      <th>FloorCode</th>
                      <th>UserName</th>
                     
                      <th>IsRole</th>
                      <th>GracePeroid</th>                
                      <th>Discount</th>
                      <th>DiscountAmount</th>
                      <th>Action</th>
                    </tr>
                    <tr>
                      <td colspan="10">
                        <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                      </td>
                    </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
         
    </div>
    </div>
    
    
    
    
    
    
    </div> 
    
    
    
    
    
    <app-modal-animation [modalID]="'effect-4'" [modalClass]="'md-effect-4'">
    <h3 class="f-15">View  Floor Details</h3>
    
    <div class="app-modal-body text-center"> 
        <table class="table table-striped text-left m-t-10">
            <tr>
              <td>Id :</td>
              <td>{{ model.UserId }}</td>
            </tr>
            <tr>
              <td>UserName :</td>
              <td>{{ model.UserName }}</td>
            </tr>
            <tr>
              <td>FirstName :</td>
              <td>{{ model.FirstName }}</td>
            </tr>
            <tr>
              <td>Role :</td>
              <td>{{ model.IsRole }}</td>
            </tr>
            <tr>
              <td>GracePeroid :</td>
              <td>{{ model.GracePeroid }}</td>
            </tr>
            <tr>
              <td>Discount. :</td>
              <td>{{ model.Discount }}</td>
            </tr>
            <tr>
              <td>DiscountAmount :</td>
              <td>{{ model.DiscountAmount }}</td>
            </tr>
           </table>      
           <button (click)="closeMyModal($event)" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>    
      </div>
       
    </app-modal-animation>
    
    
    
    
    
    
    
    
    