
<div class="outerdiv">

        <div class="card-header ripple ng-tns-c6-1 ng-star-inserted">
          <div class="row">
              <div class="col-md-11">
                  <h5 class="ng-tns-c6-1">Floor Creation</h5>         
                  <span class="ng-tns-c6-1 ng-star-inserted">Creating Floor details for Branch </span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-1"> 
                    <button type="button" class="btn btn-sm btn-success text-white" (click)="Showhide()" > <i class="icofont icofont-plus m-r-5"></i> {{btitle}}
                  </button>
                </div>
          </div>
        </div>

        <div class="formdesign aqua-gradient" *ngIf="isShown" >
                <div class="formouter rotate" >
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">  
                    
                <input type="hidden" name="FloorCode" class="form-control" [(ngModel)]="model.FloorCode" #FloorCode="ngModel" value="{{FloorCode}}"  >
                
                 <div class="auth-box card">
                       <div class="card-block">
                         <div class="frmdata" >              
                            <div class="containar">

                                <div class="row">
                                    <div class='col-12 col-sm-6'>
                                        <div class="form-group">
                                            <label class="form-control-label" for="Floor Name">Floor Name</label>
                                            <input type="text" name="FloorName" (keyup)="CallKeytype(FloorName.value)" class="form-control" [(ngModel)]="model.FloorName" #FloorName="ngModel" value="{{FloorName}}"  [ngClass]="{'is-invalid':  f.submitted && FloorName.invalid}"  required autocomplete="off">
                                            <div *ngIf="f.submitted && FloorName.invalid" class="invalid-feedback">
                                              <div *ngIf="FloorName.errors.required">FloorName is invalid</div>
                                              
                                            </div>
                                        </div>
                                    </div>
                                  <div class='col-12 col-sm-6'>
                                      <div class="form-group">
                                          <label class="form-control-label" for="Maximum Room">Maximum Room</label>
                                          <input type="number" name="MaxRoom" class="form-control" [(ngModel)]="model.MaxRoom" #MaxRoom="ngModel" value="{{MaxRoom}}"  [ngClass]="{'is-invalid': f.submitted && MaxRoom.invalid}"  required autocomplete="off">
                                          <div *ngIf="f.submitted && MaxRoom.invalid" class="invalid-feedback">
                                            <div *ngIf="MaxRoom.errors.required">MaxRoom is invalid</div>
                                          </div>
                                      </div>
                                  </div>                   
                            </div>
                            <div class="row">
                                <div class='col-12 col-sm-6'>
                                    <div class="form-group">
                                        
                                        <input type="checkbox" name="IsActive" id="IsActive" class="" [(ngModel)]="model.IsActive" #IsActive="ngModel" [ngClass]="{ 'is-invalid': f.submitted && IsActive.invalid }" required>
                                        <label class="form-control-label" for="IsActive" style="padding-left: 10px;">IsActive  </label>
                                        <div *ngIf="f.submitted && IsActive.invalid" class="invalid-feedback">Active is required</div>
                                    </div>
                                </div>
                                     
                        </div>
  
                </div>
                         </div>
            
            
                         <div class="row m-t-30">
                           <div class="col-md-12 text-center" >
    
                             <button type="submit" class="btn btn-primary btn-md btn-sml waves-light text-center m-b-20 ripple m-r-10">Save</button>
                             <button type="button" (click)="Closeform()" class="btn btn-primary btn-md btn-sml waves-light text-center m-b-20  ripple">Close</button>
                           </div>
                         </div>
                        </div>
                     </div>       
                  </form>
                </div> 
              </div>





              <div class="productlist">
                    <div class="shadow p-3 mb-5 bg-white rounded" >
                  <div class="table-content crm-table">
                    <div class="project-table">
                      <div id="crm-contact" class="dt-responsive" *ngIf="data | async as data">
                        <div class="row">
               
              
                            <div class="col-xs-12 col-sm-12 col-md-6">
                                <div class="panel-heading"  ><i class="fa fa-list" aria-hidden="true"></i> Company Data List</div>
                                </div>
                              <div class="col-xs-12 col-sm-12 col-md-6">
                                <div style="text-align: right;">
                                  <label class="searchlbl"><img src="/assets/images/cogwaveimages/searchison.png" width="20px" height="20px">
                                    <!-- <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name"> -->
                                    <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                                  </label>
                                </div>
                              </div>  
    
                        </div>
                         
                        <div class="table-responsive">
                          <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"> 
                            <thead>
                            <tr class="blueorange-gradient">
                              <!-- <th>
                                <mfDefaultSorter  by="image">Profile</mfDefaultSorter>
                              </th> -->
                              <th>
                                <mfDefaultSorter  by="FloorCode">FloorCode</mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter  by="FloorName">FloorName</mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter  by="BranchCode">BranchCode</mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="MaxRoom">MaxRoom</mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter  by="Alloted">Alloted</mfDefaultSorter>
                              </th>

                                <th>
                                    <mfDefaultSorter  by="IsActive">IsActive</mfDefaultSorter>
                                </th>
                              <th>
                                <mfDefaultSorter>Action</mfDefaultSorter>
                              </th>
                            </tr>
                            <tr>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let item of mf.data; let i = index;">
                              <!-- <td><img src="{{item.image}}" class="d-inline-block img-circle " alt="tbl"></td> -->
                              <td>{{item.FloorCode}}</td>
                              <td>{{item.FloorName}}</td>
                              <td>{{item.BranchCode}}</td>
                              <td>{{item.MaxRoom}}</td>
                              <td>{{item.Alloted}}</td>
                              <td>{{item.IsActive}}</td>
                              <td class="action-icon">
                                  <a href="javascript:;" class="m-r-15 crm-action-view text-info" (click)="openMyModal('effect-10',item)"><i class="fa fa-book"></i></a>
                                  <a href="javascript:;" class="m-r-15 crm-action-edit text-primary" (click)="openMyModalData(i)"><i class="fa fa-edit"></i></a>
                                  
                              </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                              <!-- <th>Profile</th> -->
                              <th>FloorCode</th>
                              <th>FloorName</th>
                              <th>BranchCode</th>
                              <th>MaxRoom</th>
                              <th>Alloted</th>                
                              <th>IsActive</th>
                              <th>Action</th>
                            </tr>
                            <tr>
                              <td colspan="10">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                              </td>
                            </tr>
                            </tfoot>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                 
        </div>
      </div>






    </div> 


   


      <app-modal-animation [modalID]="'effect-10'" [modalClass]="'md-effect-10'">
          <h3 class="f-15">View  Floor Details</h3>
          
            <div class="app-modal-body text-center"> 
                <table class="table table-striped text-left m-t-10">
                    <tr>
                      <td>FloorCode :</td>
                      <td>{{ model.FloorCode }}</td>
                    </tr>
                    <tr>
                      <td>Name :</td>
                      <td>{{ model.FloorName }}</td>
                    </tr>
                    <tr>
                      <td>MaxRoom :</td>
                      <td>{{ model.MaxRoom }}</td>
                    </tr>
                    <tr>
                      <td>Alloted :</td>
                      <td>{{ model.Alloted }}</td>
                    </tr>
                    <tr>
                      <td>Unalloted :</td>
                      <td>{{ model.Unalloted }}</td>
                    </tr>
                    <tr>
                      <td>IsActive. :</td>
                      <td>{{ model.IsActive }}</td>
                    </tr>
                    <tr>
                      <td>BranchCode :</td>
                      <td>{{ model.BranchCode }}</td>
                    </tr>
                   </table>      
                   <button (click)="closeMyModal($event)" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>    
              </div>
               
            </app-modal-animation>
            


      
      
      
      