

<div class="outerdiv">

    <div class="card-header ripple ng-tns-c6-1 ng-star-inserted">
      <div class="row">
          <div class="col-md-11">
              <h5 class="ng-tns-c6-1">Revenue Creation {{mode}}</h5>
              <span class="ng-tns-c6-1 ng-star-inserted">Revenue Creation details  </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1">
                <button type="button" class="btn btn-sm btn-success text-white" (click)="Showhide()" > <i class="icofont icofont-plus m-r-5"></i> {{btitle}}
              </button>
            </div>
      </div>
    </div>



    <div class="formdesign aqua-gradient" *ngIf="isShown">
        <div class="formouter rotate" >
         <form name="form" (ngSubmit)="f.form.valid && onSubmit(f.form)" #f="ngForm">
            <input type="hidden" name="Id" class="form-control" [(ngModel)]="model.Id" #Id="ngModel" value="{{Id}}"  >
            <input type="hidden" name="BranchCode" class="form-control" [(ngModel)]="model.BranchCode" #BranchCode="ngModel" value="{{BranchCode}}">
            <input type="hidden" name="IpAdd" class="form-control" [(ngModel)]="model.IpAdd" #IpAdd="ngModel" value="{{IpAdd}}">
            <input type="hidden" name="CreatedBy" class="form-control" [(ngModel)]="model.CreatedBy" #CreatedBy="ngModel" value="{{CreatedBy}}">

             <div class="auth-box card">
                   <div class="card-block">
                     <div class="frmdata" >
                        <div class="containar">
                            <div class="row">
                                <div class="col-md-12">

                                  <div class="row">
                                     <div class="col-md-3">
                                        <label class="required">Revenue Name*</label>
                                            <input type="text" name="RevName" class="form-control" [(ngModel)]="model.RevName" #RevName="ngModel" value="{{RevName}}"  [ngClass]="{'is-invalid': RevName.touched && RevName.invalid}"  required autocomplete="off">
                                            <div *ngIf="RevName.touched && RevName.invalid" class="invalid-feedback">
                                                <div *ngIf="RevName.errors.required">Revenue  is invalid</div>
                                            </div>
                                    </div>  
           
                                    <div class="col-md-3">
                                        <label>HSNCode*</label>
                                        <input type="text" name="HSNCode" class="form-control" [(ngModel)]="model.HSNCode" #HSNCode="ngModel" value="{{HSNCode}}"  [ngClass]="{'is-invalid': HSNCode.touched && HSNCode.invalid}"  required autocomplete="off">
                                        <div *ngIf="HSNCode.touched && HSNCode.invalid" class="invalid-feedback">
                                          <div *ngIf="HSNCode.errors.required">HSNCode is invalid</div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                      <label class="form-control-label" for="IsActive"  >IsActive*  </label>
                                      <input type="checkbox" name="IsActive" id="IsActive" class="form-control chkboxwidth20" [(ngModel)]="model.IsActive" #IsActive="ngModel" [ngClass]="{ 'is-invalid': IsActive.touched && IsActive.invalid }" required>
                                      <div *ngIf="IsActive.touched && IsActive.invalid" class="invalid-feedback">Active is required</div>
                                    </div> 
                                  </div>

                                   
                                  
                                  <div class="row  ">
                                    <div class="col-md-4 userlist">
                                      <label style="padding:0px 20px 0 20px">Select Tax*</label> 
                                      <div class="form-check taxcheckbox" >
                                     <ul  >
                                     <li *ngFor="let cat of categories">
                                    <input class="form-control"   (change)="onChange(cat.Id, $event.target.checked)" 
                                     [(ngModel)]="cat.ischecked" name="{{ cat.name }}" type="checkbox" id="{{cat.Id}}">
                                    <label class="form-check-label" for="{{cat.name}}">
                                     {{cat.name}}
                                      </label>    
                                    </li>
                                          </ul>
                                          </div>
                                    </div>
                                    <div class="col-md-4 userlist"> 
                                      <label>Selected Value</label> <br/>
                                     {{emailFormArray | json}}
                                    </div>


                                  </div>

                               



                              </div>


                            </div>
                          </div>
                     </div>
                     <div class="row m-t-30">
                        <div class="col-md-12 text-center" >
                          <button type="submit" [class.green]="f.form.valid" [disabled]="f.form.invalid" class="btn btn-secondary  btn-md btn-sml waves-light text-center m-b-20 ripple m-r-10">Save</button>
                          <button type="button" (click)="Closeform()" class="btn btn-primary btn-md btn-sml waves-light text-center m-b-20  ripple">Reset</button>
                        </div>
                      </div>
                    </div>
              </div>
          </form>
       </div>
     </div>


<!-- -----------table start Here------------ -->
<div class="productlist">
        <div class="shadow p-3 mb-5 bg-white rounded" >
      <div class="table-content crm-table">
        <div class="project-table">
          <div id="crm-contact" class="dt-responsive"  *ngIf="data | async as data">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="panel-heading"  ><i class="fa fa-list" aria-hidden="true"></i> Revenue Data List</div>
                    </div>
                  <div class="col-xs-12 col-sm-12 col-md-6">
                    <div style="text-align: right;">
                      <label class="searchlbl"><img src="/assets/images/cogwaveimages/searchison.png" width="20px" height="20px">
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                      </label>
                    </div>
                  </div>

            </div>

            <div class="table-responsive">
              <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                <tr class="blueorange-gradient">
                  <th>
                    <mfDefaultSorter  by="Id">Id</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter  by="RevName">RevName</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter  by="HSNCode">HSNCode</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter  by="IsActive">IsActive</mfDefaultSorter>
                  </th>

                  <th>
                    <mfDefaultSorter>Action</mfDefaultSorter>
                  </th>
                </tr>
                <tr>
                </tr>
                </thead>
                <tbody>

                 <tr *ngFor="let item of mf.data; let i = index;">
                    <td>{{item.Id}}</td>
                   <td>{{item.RevName}}</td>

                  <td>{{item.HSNCode}}</td>
                  <td>{{item.IsActive}}</td>
                  <td class="action-icon">
                      <a href="javascript:;" class="m-r-15 crm-action-view text-info" (click)="openMyModal('effect-4',item)"><i class="fa fa-book"></i></a>
                      <a href="javascript:;" class="m-r-15 crm-action-edit text-primary" (click)="openMyModalData(i)"><i class="fa fa-edit"></i></a>

                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr class="blueorange-gradient">
                   <th>Id</th>
                  <th>Revenue Name</th>

                  <th>HSNCode</th>
                  <th>IsActive</th>
                  <th>Action</th>
                </tr>
                <tr>
                  <td colspan="10">
                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                  </td>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>

</div>
</div>
<!-- -----------table End Here------------ -->
</div>


<!-- lightbox-->
 <app-modal-animation [modalID]="'effect-4'" [modalClass]="'md-effect-4'">
  <h3 class="f-15">View  Other Tax Details</h3>

    <div class="app-modal-body text-center">
        <table class="table table-striped text-left m-t-10">
            <tr>
                <td>Id :</td>
                <td>{{ model.Id }}</td>
              </tr>
            <tr>
              <td>Revenue Name :</td>
              <td>{{ model.RevName }}</td>
            </tr>

            <tr>
              <td>HSNCode :</td>
              <td>{{ model.HSNCode }}</td>
            </tr>
            <tr>
                <td>Active :</td>
                <td>{{ model.IsActive }}</td>
              </tr>
           </table>
           <button (click)="closeMyModal($event)" class="btn btn-danger waves-effect m-r-20 f-w-600 md-close d-inline-block">Close</button>
      </div>

    </app-modal-animation> 

    <ng2-toasty [position]="position"></ng2-toasty>
