<div class="outerdiv roomadvancefrm">
    <div class="formdesign" style="padding: 0;">
        <div class="userlist">
                 <form [formGroup]="Roomadvanceform" (ngSubmit)="onSubmit()"> 
                    <div class="container-fluid" >             
                            <div class='row'>                            
                              <div class="col-md-12">
                                  <div class="row">
                                    <div class="col-md-6" style="border:1px solid #ccc"> 
                                           <div class="guestinfofirstrow  row">
                                        <h2 class="h2"><i class="fa fa-user" aria-hidden="true"></i> Guest Details </h2>
                                        <div class='col-12 col-lg-4'>
                                            <div class="form-group">
                                              <label class="form-control-label" for="roomno">Room No </label>
                                              <input type="text" class="form-control tooltip-form" id="roomno" value="{{RoomNo}}" formControlName="roomno" name="roomno" autocomplete="off"  required  />  
                   
                                              </div>  
                                          </div>
                                       
                                          <div class='col-12 col-lg-4'>
                                            <div class="form-group">
                                              <label class="form-control-label" for="roomcode">RoomCode</label>
                                              <input type="text" class="form-control tooltip-form" id="roomcode" value="{{RoomCode}}" formControlName="roomcode" name="roomcode" autocomplete="off"  required  />  
                                             
                                              </div>  
                                          </div>
                                          </div>



                                        </div>
                                          <div class="row">
                                            <div class="col-lg-12" style="padding-left: 0; padding-right: 0">
                                             <div class="grid-table advanceroom" style="width: 100%;">
                                               <div class="thead">
                                                 
                                                   <div class="td"><i class="fa fa-money" aria-hidden="true"></i> Select Mode</div>
                                                   <div class="td"><i class="fa fa-info-circle" aria-hidden="true"></i>
                                                      Delect Detail</div>
                                                   <div class="td"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Amount</div>
                                                   <div class="td"><i class="fa fa-info-circle" aria-hidden="true"></i>
                                                      Description</div>
                                                   <div class="td"><i class="fa fa-money" aria-hidden="true"></i>  Selected Mode</div>
                                                   
                                                   <div class="td lasttd">
                                                     <button type="button" class=" " (click)="AddPaymentButtonClick()">
                                                       <i class="fa fa-plus"></i> 
                                                     </button>
                                                   </div>
                                                 
                                                  
                                               </div>
                                               <div class="tbody">
       
                                                 <div formArrayName="PayArray"
                                                   *ngFor="let other of Roomadvanceform.get('PayArray').controls; let k = index">
                                                   <div [formGroupName]="k">
                                                     <div class="tr">
                                                       <div class="td"> 
                                                         <select  (change)="FilterPaymentMode(k)"  class="custom-select" name="Paymode" formControlName="Paymode"
                                                         id="Paymode" [ngClass]="{ 'is-invalid': submitted && form.Paymode.errors }">
                                                         <option value="select">Select</option>
                                                         <option *ngFor="let sour of paymentmode" [value]="sour">
                                                           {{ sour }}</option>
                                                       </select>
       
       
                                                       </div>
       
                                                       <div class="td">
                                                         <select class="custom-select" (change)="PatchSubModeName(k)" name="Paysubmode" formControlName="Paysubmode"
                                                         id="Paysubmode" [ngClass]="{ 'is-invalid': submitted && form.Paysubmode.errors }">
                                                         <option value="select">Select</option>
                                                         <option *ngFor="let Paysubmode of  subpaymodelist" [value]="Paysubmode">
                                                           {{ Paysubmode  }}</option>
                                                       </select> 
       
       
                                                       </div>
       
                                                   <div class="td">
                                                    <input type="number"  id="payAmount"
                                                     formControlName="payAmount" name="payAmount" autocomplete="off" required />
                                                   
                                     
                                                       </div>
       
       
                                                       <div class="td">
                                                         <input type="text" class="" id="Descriptions" formControlName="Descriptions">
                                                         
                                                       </div>
       
                                                       <div class="td">
                                                         <input type="text" class="" id="modeselected" formControlName="modeselected">
                                                         
                                                       </div> 
                                                       <div class="td lasttd">                                      
                                                         <button (click)="onDeletePayment(0,k)">
                                                           <i class="fa fa-trash" aria-hidden="true"></i>
                                                         </button>
                                                       </div>
                                                     </div>
                                                   </div>
                                                 </div>
       
       
                                               </div>
       
       
                                             </div>
                                           </div>
                                             
                                            
                                         </div>
                                         <div class="form-group" style="text-align: right; padding-right: 2px;">
                                            <button [disabled]="loading" class="btn btn-primary">Save</button>
                                        </div>
                                        </div>
                                    <div class="col-md-6">
                                        <h2 class="h2"> <i  class="fa fa-indent"></i>Receipt Details </h2>
                                        <div class="row advanceroomtbl">
                                            <div class="container-fluid">
                                                <table class="table table-responsive">
                                                  <thead>
                                                    <tr> 
                                                        <td> Date  </td>
                                                        <td> Receipt No  </td>
                                                        <td> Amount  </td>
                                                        <td> Mode  </td>
                                                        <td> Action  </td> 
                                                     </tr>
                                                    </thead>
                                                  <tbody>
                                                     <tr>
                                                         <td>aa</td>
                                                         <td>aa</td>
                                                         <td>aa</td>
                                                         <td>aa</td>
                                                         <td style="text-align: center;"><a href="#"><i  class="fa fa-file-pdf-o"></i></a></td>
                                                     </tr>
                                                      </tbody>
                                                </table>
                                            </div>
                                           
                                        </div>
                                    </div>
                                 
                                  

                                 


                                  <!-- end of form -->
                                  
                                </div>
                                
                            </div> 

                           
                    </div> 
                     
                 
                </form>       
            </div> <!-- end userlist -->      
    </div>
</div>
<!-- 
<ng2-toasty [position]="position"></ng2-toasty>  -->