<div class="outerdiv">
    <div class="formdesign checkinforms advancetrasfer" style="padding: 0;">
  
      <form [formGroup]="form" (ngSubmit)="Submit()" class="  " autocomplete="off">
        <input type="hidden" class="form-control tooltip-form searchiconrelative" id="Id" formControlName="Id" name="Id" autocomplete="off"  /> 
        <input type="hidden" class="form-control tooltip-form searchiconrelative" id="BranchCode" value="{{BranchCode}}" formControlName="BranchCode" name="BranchCode" autocomplete="off"  /> 
        <input type="hidden" class="form-control tooltip-form searchiconrelative" id="CreatedBy" value="{{CreatedBy}}" formControlName="CreatedBy" name="CreatedBy" autocomplete="off"  /> 
        
        <div class="container-fluid"  style="background-color: #fff;">
   
          <div class='row tabouter' style="margin-bottom: 0;">
            <h2 class="h2class"> <i   class="fa fa-building"></i> Advance Transfer </h2>

            <div class="col-md-12" style="padding-left: 0;">
              <div class="userlist">
              <div class="row guestinfofirstrow" style="margin-bottom: 0;"> 
                <div class="col-md-12 taboutercreatebtn">
                  <div class="row" style="margin-bottom: 0;"> 
               
                  <div class='col-12 col-lg-2 col-md-4 col-sm-4'   >
                    <div class="form-group">
                      <label class="form-control-label" for="receiptno "><i   class="fa fa-building"></i>  Receipt No </label>
                      <input type="text" class="form-control tooltip-form searchiconrelative" id="ReceipstNo" formControlName="ReceiptNo" name="ReceiptNo" autocomplete="off" required    /> 
                    </div>
                  </div>
                  <div class='col-12 col-lg-2 col-md-4 col-sm-4'>
                    <div class="form-group">
                      <label class="form-control-label" for="amount">  <i   class="fa fa-building"></i> Amount </label>
                      <input type="text" class="form-control tooltip-form searchiconrelative" id="Amount" formControlName="Amount" name="Amount" autocomplete="off" required    /> 
                    </div>  
                  </div>

                  <div class='col-12 col-lg-2 col-md-4 col-sm-4'>
                    <div class="form-group">
                      <label class="form-control-label" for="transroomno "><i   class="fa fa-building"></i> Tranfer Room No </label>                   
                      <select class="custom-select"  name="transroomno" formControlName="transroomno"
                      id="transroomno" [ngClass]="{ 'is-invalid': submitted && form.transroomno.errors }">
                      <option value="0">Select</option>
                      <option *ngFor="let transroomno of  RoomList" [value]="transroomno.RoomNo">
                        {{ transroomno.RoomNo  }}</option>
                    </select> 
                      
                    </div>
                  </div>

                 
                  

                  </div><!-- end of row -->

                </div> 
            </div>
          </div>

          <button type="submit" id="save" class="btn btn-sm btn-primary m-r-5 m-b-10 m-l-5 float-right" ><i class="fa fa-save"></i> Save</button> 
          <button type="button" id="save" class="btn btn-sm btn-primary m-r-5 m-b-10 m-l-5 float-right" ><i class="fa fa-times"></i> Close </button> 
        </div>
        
          </div>
          </div>
          </form>
          </div>




  
<div class="productlist">
  <div class="shadow p-3 mb-5 bg-white rounded" >
    <div class="table-content crm-table">
      <div class="project-table">
        <div id="crm-contact" class="dt-responsive" *ngIf="data | async as data">
          <div class="row"> 
              <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="panel-heading"  ><i class="fa fa-list" aria-hidden="true"></i> Advance List</div>
              </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div style="text-align: right;">
                <label class="searchlbl"><img src="/assets/images/cogwaveimages/searchison.png" width="20px" height="20px">
                  <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                </label>
              </div>
            </div>             
          </div>
          
          <div class="table-responsive">
              <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
              [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">

             
              <thead>
              <tr class="blueorange-gradient">
                <!-- <th>
                  <mfDefaultSorter  by="image">Profile</mfDefaultSorter>
                </th> -->
                <th>
                  <mfDefaultSorter  by="ReceiptNo">ReceiptNo</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter  by="ReservationNo">Booking No</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter  by="TrDate">TrDate</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="CashAmount">CashAmount</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter  by="CardAmount">CardAmount</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter  by="OnlineAmount">OnlineAmount</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter  by="WaletAmount">WaletAmount</mfDefaultSorter>
                </th>

                <th>
                  <mfDefaultSorter>Action</mfDefaultSorter>
                </th>
              </tr>
             
              </thead>
              <tbody>
              <tr *ngFor="let item of mf.data; let i = index;">
                
                <td>{{item.ReceiptNo}}</td>
                <td>{{item.ReservationNo}}</td>
                <td>{{item.TrDate  | date }}</td>
                <td>{{item.CashAmount}}</td>
                <td>{{item.CardAmount}}</td>
                <td>{{item.OnlineAmount}}</td>
                <td>{{item.WaletAmount}}</td>
                <td class="action-icon">
                   
                    <a href="javascript:;" class="m-r-15 crm-action-edit text-primary" (click)="EditForm(item)"><i class="fa fa-edit"></i></a>
                
                </td>
              </tr>
              </tbody>
<tfoot >
              <tr class="blueorange-gradient">                  
                <th>ReceiptNo</th>
                <th>Booking No</th>
                <th>TrDate</th>
                <th>CashAmount</th>
                <th>CardAmount</th>                
                <th>OnlineAmount</th>
                <th>WaletAmount</th>
                
                <th>Action</th>
              </tr>
              <tr>
                <td colspan="10">
                  <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        
</div>
